[2020-08-20 01:25] zl910627 opened #2 "ReactiveFormField issue"
[code]

I am going to use int or double accepted input field like above.
Even though it would change control value, but not trigger form validation.
`ReactiveTextField` widget works well, but i can't convert its value to `num` type.
Here is my suggest.
opt1 : provide convert middle method on `ReactiveTextField`.
please ref this.
https://github.com/danvick/flutter_form_builder/blob/e133e680e4c79334

[2020-08-20 01:56] joanpablo commented on #2
Thanks Zheng for the issue,

If React TextField could convert from String to native data types as int, double and boolean by default without any configuration, by just defining FormControl<int> in the control, would it be a good enough solution? More like your opt2? What do you think?

[2020-08-20 01:58] zl910627 commented on #2
I already did it.
But it causes crash, and never get validated.

[2020-08-20 02:03] zl910627 commented on #2
this is my formgroup.
[code]

this is my form
[code]

This is my button to save form.
[code]

`name` changes will cause form validation whenever changed, but not for `durationSeconds`
Thus, nothing enabled even form has right values.

[2020-08-20 02:09] joanpablo commented on #2
ok let me find a solution and I will notify you as soon as possible

[2020-08-20 02:17] zl910627 commented on #2
PS
[code]

[2020-08-20 02:50] zl910627 commented on #2
I found why.
Please focus validator - `Validators.number`

[2020-08-20 05:05] zl910627 opened #3 "reset form"
`reset` form with `ReactiveFormField<T>` does not work.
no way to reset custom fields built from `ReactiveFormField<T>`.

[2020-08-20 18:48] joanpablo commented on #3
Could you please tell me more about what you are trying to accomplish

[2020-08-20 18:53] joanpablo commented on #2
I have a solution in progress that add InputParsers to ReactiveTextField and there are some default InputParsers: IntInputParser and DoubleInputParser. I will try to release it this week, after I add documentations and unit tests. I will push up the brach "feature/convert" so you can early see about the solution I am implementing.

[2020-08-20 18:53] joanpablo commented on #2
What was the problem here??

[2020-08-21 00:46] zl910627 commented on #2
while debugging, I found it works as expected, but faied on validation!
i have removed `Validators.number` from `durationSeconds`, then I got it worked as expected.

But I think below is better solution.

Thnak you.

[2020-08-21 00:52] zl910627 commented on #3
[code]
Please ref full detail from here.
https://github.com/joanpablo/reactive_forms/issues/2#issuecomment-676852176

If I call `_formGroup.reset()`. no way to reset widget.
Do I need to do this manually when `reset`?
In my opinion, `ReactiveFormField` 's builder can provide another argument like `bool isReset`.

i.e, `Widget Function(ReactiveFormFieldState<T>, bool)`.
This is just my guess.
Thank

[2020-08-21 01:00] joanpablo commented on #2
Thanks, I will release the new version as soon as posible

[2020-08-21 01:35] joanpablo commented on #3
I undertand now your issue,

When a FormControl execute **reset()** the *value* of the control changes to its default *value*.

ReactiveFormFieldState is always listening when *value* in FormControl chenges it calls the protected method **updateValueFromControl()** so you must override that method in your custom widget to update it when changes come from the control to the widget (control -> widge

[2020-08-21 01:45] zl910627 commented on #3
indeed!
that's why your solution is better.

[2020-08-27 01:37] zl910627 opened #4 "Great support, And..."
Hello @joanpablo
I am going to build form dynamically.
But when build `ReactiveForm` inside `ValueListenableBuilder` or `StreamBuilder`, I got below error.

Here is my widget.
[code]

Here is my form group.
[code]

Here is error log
[code]

Could you please take a look and solve?
Thank you.
Zheng

[2020-08-27 02:06] joanpablo commented on #4
Thanks, Zheng, I will test your code and see how to resolve the issue.

As I understand by your code you want to notify the view each time you create a new FromGroup. And that's because the group changes dinamically.

[2020-08-27 02:09] zl910627 commented on #4
Yes, exactly!
Form fields will be fixed, but `defaultValue` could be changed in dynamically.

[2020-08-27 02:13] joanpablo commented on #4
I will see the problem and I also planing to implement a way to add and remove controls from FormGroup, so you can just have the same group instance but add and remove controls and notify the view to rebuild. What do you think about it?

[2020-08-27 02:25] zl910627 commented on #4
Umm, two kinds of use case for dynamic form.
- change only `defaultValue` of controls inside `FormGroup`.
in this case, form group will contain fixed controls.
- dynamic add/remove controls.
It means form will contains dynamic controls inside formgroup.

For now, I am saying about first case, but second case is also very useful.
Thank you.

[2020-08-27 02:28] zl910627 commented on #4
In my case, the best example is master / detail panel.
![image](https://user-images.githubusercontent.com/53897531/91376582-f9d88b00-e84f-11ea-83cf-4f35c1541aad.png)
this is sample for second case.
https://i.stack.imgur.com/oN3Ez.png

[2020-08-27 02:35] joanpablo commented on #4
So you want to change the "defaultValue" instead of the actual value? In a master/details you change the value of the control to reflect the value of the current selected item. Is that the case or you really need to set the defaultValue (initial value)?

[2020-08-27 02:41] joanpablo commented on #4
If you want to set the initial value (defaultValue) then I can implement the actual Angular solution:

In the FormGroup.reset() and FormControl.reset() you can set the initial value (defaultValue) something like:

[code]

[2020-08-27 02:48] zl910627 commented on #4
Your suggest is very neat!

[2020-08-27 02:58] zl910627 commented on #4
I got your hint, and solved my issue temporary
i,e, whenever item changed, I used to set value by `formGroup.value = ~~~`.
Thank you for your great hint.

But I think this feature is still useful.
Anyway, thank you!

[2020-08-27 08:49] zl910627 commented on #4
btw, I can't find `reset` method with parameter.
![image](https://user-images.githubusercontent.com/53897531/91418821-4094a800-e885-11ea-8053-d6171db2ca74.png)

[2020-08-27 20:58] joanpablo commented on #4
No it isn't implemented yet, I was just suggesting that implementation as a solution to reset the group's value and set the defaultValue to controls at the same time.

[2020-08-28 04:19] zl910627 commented on #4
I think reset with new initial values is good mechanism.
It would be very helpful.

[2020-09-02 04:23] zl910627 commented on #4
I am getting started to love this library than `flutter_form_builder`!

[2020-09-02 15:31] joanpablo commented on #4
Thanks Zheng,

I'm working on the feature of reset, but I'm also including other features in the same release. I think I will release it by the weekend.

[2020-09-03 03:00] joanpablo commented on #4
Hi Zheng,

I have just release the version 4.0.0 of Reactive Forms.

Now you can reset a FormGroup with initial value for children as follow:

### Resets the values of a group
[code]

[2020-09-03 04:16] zl910627 commented on #4
I will check and let you know soon!

[2020-09-04 08:20] #4 closed

[2020-09-05 08:45] sokolej79 opened #5 "[label question] Form and FormControl statuses: pristine, dirty"
Great package, thanks for your  good work.
Questions:
1.) s there any plan to add  other control statuses for form control and form itself like in Angular: dirty, pristine?
2.) Is it possible to control form individual error messages that will appear only when form field is in focus and  has error,  but not others, other error messages only on submit button? It is little strange use case and behav

[2020-09-06 22:41] joanpablo commented on #5
Hi @sokolej79

About the first question, the answer is Yes. I'm planning to add **dirty** and **pristine** so you can evaluate if the control value has chaged or not. In the [Repo Project](https://github.com/users/joanpablo/projects/1) you can see the features I'm planning to release as soon as posible. You can also read the questions in dev.to https://dev.to/joanpablo/why-use-reactive-forms-in-fl

[2020-09-07 16:52] sokolej79 commented on #5
About the second question it's some weired use case from one of our customers. It is not  much important for now.
Thanks for reply.

[2020-09-10 14:52] joanpablo commented on #5
Hi @sokolej79

I'm almost done with the implementation of states dirty and pristine, I'm also included some others minor features, so I soon will release a new version. I steel testing the code.

[2020-09-12 00:32] rlazom opened #6 "Add a validator that matches a parameter"
Hey men, I love your plugin,
It is with me in all projects since I started using it, really good job, you nailed it.

I want if possible for you to add another validator that matches a given parameter.

For example:
Validators.isEqualTo(true)
Validators.isEqualTo('String Field Value')
etc

Thanks in advance

[2020-09-12 17:41] joanpablo commented on #6
Hi @rlazom,

Thanks for the issue, I've already implemented a validator fro this task called **Validators.equals()**

Here is an example of usage (this is actually a unit test in Reactive Forms):

[code]

[2020-09-13 12:09] bandirsen opened #7 "valid state always false if I set field value manually via assignment"
I'm separate Model and UI class using Provider mechanism, everything works fine, all my Model variable accessed normally, but sometime we need to set the form field value manually like this:

[code]

myForm variable in model class was updated when map is clicked, I can confirm it by using following test in my model class, however but the form it self is not valid.
[code]
which resulting this in co

[2020-09-13 13:41] bandirsen commented on #7
Oh shame on me, I was totally wrong.
The right way to manually set form field value is with fb.control("fieldName").value assignment

I put the example here, in case someone need it.
[code]

I close this issue.

Thank you

[2020-09-13 13:41] #7 closed

[2020-09-15 09:35] angeloo opened #8 "FormGroup in FormArray"
Hey!

first of all, great work!

I've got something I'm not enable to do.

I want to use a FormGroup in a FormArray.

I define my form like that:

[code]

How can I access the locationTypeId formControl? (formControlName?)

[code]

Thanks!

[2020-09-15 19:20] joanpablo opened #9 "Bring the posibility of provide the control directly to the **ReactiveValueListenableBuilder**."
Bring the posibility of provide the control directly to the **ReactiveValueListenableBuilder** instend of just the control name.

[2020-09-15 19:21] joanpablo opened #10 "Add some examples in **README.md** about a nested **FormGroup** within a **FormArray**."

[2020-09-15 19:22] joanpablo opened #11 "Nested array in a group with FormBuilder."
### Example:

[code]

[2020-09-15 19:23] #9 closed

[2020-09-15 19:23] #10 closed

[2020-09-15 19:24] joanpablo opened #12 "Create **FormArray** with **FormBuilder**"
### Example:

[code]

[2020-09-15 19:24] #12 closed

[2020-09-15 19:25] joanpablo opened #13 "Create **FormControl** with **FormBuilder**"
### Example:
[code]

[2020-09-15 19:25] #13 closed

[2020-09-15 19:26] joanpablo opened #14 "Nested control in group with **FormBuilder**."
### Example:

[code]

[2020-09-15 19:26] #14 closed

[2020-09-15 19:26] joanpablo opened #15 "Bring the posibility of provide the **FormArray** directly to the **ReactiveFormArray** instead of just the array name."

[2020-09-15 19:27] joanpablo opened #16 "Groups of groups with FormBuilder."
### Example:

[code]

[2020-09-15 19:27] #16 closed

[2020-09-15 19:56] joanpablo commented on #8
Hi @angeloo

Thanks for the issue, I have already implemented a solution for that situations. I'll release it in v5.0.0. I'm planing to release it by the end of next week. That solution is already implemented but I'm working in other features that I want to release in the same version. You can check the README.md in brach develop, there I've added some documentation about *arrays* of *groups*.

I'

[2020-09-16 02:36] joanpablo opened #17 "Add implementation of **Validators.composeOR** separated from **Validators.compose**."

[2020-09-16 02:36] #17 closed

[2020-09-16 03:50] joanpablo opened #18 "Create a widget ReactiveFormBuilder that builds a FormGroup and a ReactiveForm at the same time."
This is useful some times when the form is to simple to create a stateful widget or to create a separated view model.

### Example
[code]

[2020-09-16 03:50] #18 closed

[2020-09-16 06:59] angeloo commented on #8
Hi @joanpablo

You rock!

I'll have a test with the work around and then check the new possibility with v5.0.0.

BTW, I have many properties in atoms (That was only 1 for the code "example"), but thanks for the suggestion.
In fact I want a form which represents a three levels one to many relationship DB.
`items (1)->(n) atoms (1)-> (n) medias`

Thanks!

[2020-09-16 14:16] joanpablo commented on #8
Thanks again @angeloo

Please let me know if the solution I proposed to you fits your requirements.

[2020-09-16 22:22] joanpablo opened #19 "Convert **InputParsers** to **ValueAccessor** where you can define Parsers and Formatters at the same time."
Add implementation of a value accesor for a control of type Date.

[2020-09-17 00:54] joanpablo opened #20 "Add **FormGroup** validator that validates a control is equals or lower than another control"
### Example

[code]

[2020-09-17 00:54] #20 closed

[2020-09-17 00:55] #19 closed

[2020-09-17 00:55] joanpablo opened #21 "Add ControlValueAccessor documentation in Wiki"

[2020-09-17 01:22] #15 closed

[2020-09-17 02:57] joanpablo opened #22 "Add aditional way of focused a control through the form group like:"
### Example
[code]

[2020-09-17 02:58] #22 closed

[2020-09-17 03:00] joanpablo opened #23 "Add **ReactiveFormArray** wiki documentation"

[2020-09-17 03:39] joanpablo commented on #8
Hi @angeloo

I've just release a new version of Reactive Forms.

[2020-09-17 03:40] joanpablo commented on #6
Hi @rlazom,

I've just release a new version of Reactive Form with new validators

[2020-09-17 03:41] joanpablo commented on #5
Hi @sokolej79

I've just release a new version with the states 'pristine' and 'dirty'.

Thanks

[2020-09-17 03:41] #5 closed

[2020-09-17 03:41] #6 closed

[2020-09-17 03:42] #8 closed

[2020-09-17 05:23] joanpablo commented on #7
Hi @bandirsen,

Thanks for the issue.
You can update controls value in two different ways:

[code]

Both methods do the same.

[2020-09-17 06:11] angeloo commented on #8
Hi @joanpablo,

I tried with the first solution, but all the fields where like binded (same values).

So i tried to use the develop branch and it works. (now I'll switch to the last stable version)

Thanks!

[2020-09-17 14:32] joanpablo commented on #8
Hi @angeloo,

Thanks, I'm glad you have the solution.
If you find another issue please let me know.

[2020-09-17 22:43] joanpablo opened #24 "Fix ReactiveTextField doesn't use custom ControlValueAccessor"

[2020-09-17 22:44] joanpablo opened #25 "Show validations messages if control is INVALID, TOUCHED and DIRTY"

[2020-09-17 23:00] #25 closed

[2020-09-17 23:00] #24 closed

[2020-09-19 16:37] joanpablo opened #26 "Make available the "context" inside a ControlValueAccessor so a custom value accessor con use it."

[2020-09-25 02:35] Ch4rl3B opened #27 "This is not the issue you are looking for"
Hi @joanpablo

This library really gives me goosebumps. It is the work of a genius !!!

I would like to know if there is the possibility of adding a ValueListenable to the FormGroup for when one is "submitting" the result to be able to block the button.

Recently in one of my apps I had to do this since when the user tapped the button more than once, two or N instances of the model were saved.

Th

[2020-09-25 15:45] vasilich6107 commented on #5
@joanpablo you have
`String get errorText` which specifies in which cases control should show error message.
Is there a possibility to override that behaviour?

[2020-09-25 17:50] vasilich6107 opened #28 "JSON configuration"
Currently form highly relies on configuration.
It will be great to move to some kind of model which describes the state

[2020-09-25 18:56] joanpablo commented on #5
Hi @vasilich6107 ,

Thanks for the question. As I understand you want to control whe the error messages show up un the UI?

Right now Reactive Widgets (for example ReactiveTextField) show validation errors when the FormControl is *INVALID* and *TOUCHED* (a control is touched when the user clicks on it and then clicks on other widget: remove the focus on the text field or when you programatically c

[2020-09-25 19:02] joanpablo commented on #28
Hi @vasilich6107,

Thanks for the issue. Could you argument a little more the issue so I can completely understand it?
I can deduce that you have the description of a Form in a JSON format, maybe you have the description of the fields of a Product in a Online Shop application, and you want to dinamically create the form based on that JSON? I'm correct? Could you please give me an example for a bet

[2020-09-25 19:09] vasilich6107 commented on #5
You are correct. I would like to have an ability to control precisely  when error is shown.
The are varieties of strategies `how to display errors`. The INVALID && DIRTY is a good example.
There could be a case when I want to show errors only on INVALID && TOUCHED && DIRTY.
In any case I would be great to have an ability to override default behaviour.

[2020-09-25 19:15] joanpablo commented on #5
I think you are right @vasilich6107, thanks again. Could you please open a new differrent Issue about it? I will comment to you my proposed solution before release it, so we can disscuss about it and find the solution that really fit your needs.

[2020-09-25 19:17] vasilich6107 commented on #28
Here is some thoughts
I look at `example` - https://tppr.me/qz275
It requires me to define `email` name 3 times. In simple string format. I tried to make name as enum.name.toString() but form crashes with error. The main concern in this case that I need to precisely control the naming/renaming to avoid errors or apply some workaround that guaranties naming consistency.

If I make try `test.control

[2020-09-25 19:27] vasilich6107 opened #29 "Error text display approach"
Currently `ReactiveFormField` has `String get errorText` in which specifies in which cases control should show error message(INVALID && TOUCHED).

I would like to have an ability to control precisely when error is shown.
The are varieties of strategies how to display errors. The INVALID && DIRTY is a good example.
There could be a case when I want to show errors only on INVALID && TOUCHED && DIRTY

[2020-09-25 19:28] vasilich6107 commented on #5
read more in #29

[2020-09-25 19:40] joanpablo commented on #28
I understand now your issue, I understand your concern and you're right about it, you can make a typo mistake in control names.

There is another way to *bind* widgets with controls, but it is better when using with a state management library or when using in a StateFullWidget. For example:

[code]

[code]

This can also be achive if you define the FormGroup within a StatefulWidget.

What do you t

[2020-09-25 19:57] joanpablo commented on #29
Thanks @vasilich6107

I will think about the issue and let you know a solution. Maybe could be a callback in Reactive Widgets (like ReactiveTextField) that returns a *bool* and receives the control something like:

[code]

What do you think about that approach?

[2020-09-25 20:05] joanpablo commented on #29
Do you think it should be a custom handler that manages all errors or one handler by type of error?? Something like:

[code]

[2020-09-25 20:45] vasilich6107 commented on #29
I think first solution is more reasonable

[2020-09-25 20:55] joanpablo commented on #28
Another solution could by define the *Name of the Controls* as **dynamic** instead of **String**.

Actually the *Map* that defines a group is a **Map<String, dynamic>** so names are String and value could be FormControl, FormArray or FormGroup (in case of the FormBuilder the value can be anything that define the type of the control)

[code]

**fb.group** receives a **Map<String, dynamic>**, it cou

[2020-09-25 21:17] joanpablo commented on #27
Hi @Ch4rl3B,

Thanks for the issue. I'm very glad that you enjoy using Reactive Forms, and thanks in advance for the coffee hahaha!!!

You have two ways for controlling the SubmitButton action:

1- Enable/Disable button depending of the state of the Form.
2- IF expression to control the validity of the Form when Tab on Button.

Let see both aprouches:

#### Enable/Disable button depending on the s

[2020-09-25 21:30] joanpablo commented on #28
If you steel want to use some king of *enum* I some times use (in other problems not related to Reactive Forms) a class that defines constants like:

[code]

In fact if you see the code of Reactive Forms the **ValidationMessages** use this aprouch to define the names fro different kind of *validation messages*.

[2020-09-26 17:09] joanpablo commented on #28
In the case of the [example](https://tppr.me/qz275) you can use another strategy.

[code]

[code]

[2020-09-26 17:23] joanpablo commented on #28
This sample is using a StatefulWidget

[code]

[2020-09-26 17:57] joanpablo commented on #29
Hi @vasilich6107 ,

I have just release Reactive Forms 5.0.4

- Add optionally argument *showErrors* to **ReactiveTextField** and **ReactiveDropdownField**
to customize when to show up validations messages. Validation messages by default change to visible
when control is *invalid* and *touched*. With *showErrors* function this default behavior can be
customized.

Customize when to show up validati

[2020-09-27 09:21] zl910627 opened #30 "ControlValueAccessor"
I am going to trim input values before validation.
To do that, I am trying to use `ReactiveTextField.valueAccessor`
i.e
[code]

But whenever trim, cursor will move to begin of text.
* How can I resolve this properly?
* Is my solution right one?

Thank you

[2020-09-28 16:35] joanpablo commented on #30
Hi @zl910627,

I've tried your TrimAccess class and it works fine for me. Could you please give a full example of your code?
form example this is what I have tested:

[code]

[code]

when I write in Text Field everything works fine.

[2020-09-28 16:37] #29 closed

[2020-09-28 16:47] #21 closed

[2020-09-28 16:48] joanpablo opened #31 "When binding two ReactiveTextField with the same FormField the FocusController gets in infinite loop jumping focus between both text inputs"

[2020-09-28 19:27] joanpablo opened #32 "Add method clear to a **FormArray** to remove all children."

[2020-09-28 19:41] Ch4rl3B commented on #27
great!.
I see you are using a Provider on the view so it helps with the work because you can refresh the isLoading variable and the whole view gets it.
That´s an interesting way of doing....
Thanks a lot!

[2020-09-28 19:41] #27 closed

[2020-09-29 00:16] joanpablo opened #33 "Add method **FormGroup.add()** to add a children and notify with a event the changes"

[2020-09-29 16:48] zl910627 commented on #30
I am sorry, I may sleep a bit when test this code.
thank you for your quick support!

[2020-09-29 16:51] #30 closed

[2020-09-30 03:20] #31 closed

[2020-09-30 03:44] #32 closed

[2020-09-30 04:01] #33 closed

[2020-10-03 09:47] techaks opened #35 "Form values are not updating in fromarray of formgroup"
**form values Listeners is working **

`
import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';
import 'package:reactive_forms/reactive_forms.dart';
import 'package:voopik_seller/data/models/physical_condition.dart';
import 'package:voopik_seller/pages/common/bloc/common_bloc.dart';
import 'package:voopik_seller/ui/widgets/form_row.dart';
import 'package:voopik_se

[2020-10-03 17:42] joanpablo commented on #35
Hi @techaks,

Thanks for the issue and thanks for using Reactive Forms.

I have carefully study your code. To solve your issue put **.toList()** and the end of the **conditionFg**. When you do a mapping the created type form variable **conditionFg** is:

[code]

but the **array.addAll** method is expected a:

[code]

So due type missmatch the ReactiveForm and children are not correctly binded.

To

[2020-10-03 18:47] joanpablo commented on #35
Hi @techaks,

I've just release v6.0.3 that force all arguments to be of type **List**, instead of type **Iterable**. That change will help to mitigate issues like the one you have presented.

Thanks

[2020-10-03 18:57] joanpablo commented on #35
Hi @techaks

If you allow me I can make a suggestion about your code.

Looking at the way you are adding elements to the array of groups, you don't need to use the **ReactiveFormArray** widget.

You should use **ReactiveFormArray** when you want to be notified every time the **FormArray** changes and you want to rebuild the view. But in your example you are already being notified by a **BlocBuilde

[2020-10-03 20:31] joanpablo commented on #35
Hi again @techaks

I've release a version 6.0.4 that may also help you.

If you pretend to call **clear()** and then insert new items in a array you can call:
[code]

that way you improve a little the performance since you don't need to emit events or update the array's parent (group) until you add the items in the line of code below.

[2020-10-04 04:37] techaks commented on #35
@joanpablo Thanks, man it is working now.

[2020-10-04 04:37] #35 closed

[2020-10-05 15:57] joanpablo opened #37 "Add validator for AbstractControl **Validators.contains()** that validates that a Control's value contains all the values specified in validator argument"
### Example with FormArray

Example with array of **int**
[code]

Example with array of **String**
[code]

Example with **groups**
[code]

### Example with FormControl
[code]

[2020-10-05 16:24] vasilich6107 opened #38 "[Question] Conditional fields"
Do the form support showing/hiding fields by condition?

[2020-10-05 16:27] vasilich6107 commented on #38
I assume the answer is near Reactive form builder

[2020-10-05 18:39] joanpablo commented on #38
Hi @vasilich6107,

That's a very good question, thanks. I will share you how I handle visibility of Widgets depending on a value of a specific control.

Given a Form definition like this:
[code]

[2020-10-05 19:19] joanpablo commented on #38
Hi @vasilich6107,

I forgot to mention to you that in case you **enable**/**disable** the **smsText** field in the above example then you don't need the custom validator. So the complete model example is:

[code]

[code]

[2020-10-05 23:57] #38 closed

[2020-10-05 23:57] #28 closed

[2020-10-06 21:36] sbosell opened #39 "ReactiveDropdownField not showing Text with Release Web Build"
Having a ReactiveDropDownField like the following the release web build doesn't display the Text in the dropdown. Additionally the label is cut off on the element.

[code]

Here is a screencast showing both. The first part of the video shows the form built in release mode and the 2nd hafl of the video in profile mode.

https://www.dropbox.com/s/npubiunoto34pgq/2020-10-06_16-31-57.MP4?dl=0

[2020-10-06 22:39] joanpablo commented on #39
Hi @sbosell,

Thanks for using Reactive Forms and for the issue. Could you please show me the FormGroup definition and also how do you load **widget.data.location.locationSpots** items?

[2020-10-06 22:47] sbosell commented on #39
No problem.  Awesome package by the way.

There is a future builder above the form, when it resolves it passes the data to the widget so it receives a list which in this case you can consider has an id and name (locationSpot).  The actual form widget is receiving the data in the constructor.

final form = FormGroup({
  'lastName': FormControl(validators: []),
  'phoneNumber': FormControl(validator

[2020-10-06 22:58] joanpablo commented on #39
@sbosell I have test your code in Flutter Mobile (not web) and it works fine.
Right now I don't have installed flutter channel beta for testing the code in the Flutter Web, I will install it latter at night. but mean while help me to make some tests. Could you please change the ReactiveDropdown with a native regular **DropdownButtonFormField** to see if the **labelText** is also truncated, and if

[2020-10-06 23:06] sbosell commented on #39
@joanpablo  Flutter Mobile is fine, I rarely see problems there but the web is another story.  I tested this on flutter web beta and dev in profile and release modes.  The video was taken from the dev branch but if I recall the beta has the same issue.  I'll test and see what happens with the DropdownButtonFormField.

[2020-10-06 23:58] sbosell commented on #39
@joanpablo

Profile mode:
First drop down is the DropdownButtonFormField and 2nd is the reactive one.

Video: https://www.dropbox.com/s/p6463pe6hy877do/2020-10-06_18-53-20.MP4?dl=0

Release mode:

Text not displaying in either.

Video: https://www.dropbox.com/s/lxkuk28f6uimd2r/2020-10-06_18-57-40.MP4?dl=0

[2020-10-07 00:15] joanpablo commented on #39
Hi @sbosell,

Thanks a lot for testing it. ReactiveDropdownField is implemented almost exactly as DropdownButtonFormField; it's almost a wrapper. So it seems to be a problem in the native Flutter DropdownButtonFormField implementation??? Do you have some Theme implemented that maybe is adding some padding to the Floating Label?

In release mode, are you sure **x.name** gets a value??? Have you tri

[2020-10-07 00:36] joanpablo commented on #39
@sbosell I'm not sure if Dartpad.dev engine uses the same engine that Flutter Web.
I have paste a big part of Reactive Form's code in Dartpad.dev and test de ReactiveDropdownField and it seams to work great.

Here is the sample:
https://dartpad.dev/743187ba3ca50ee3396881f6aa413292

let me know if you can see it.

[2020-10-07 06:32] techaks opened #40 "Error not visible with one form control in formGroup"
Error text Not working when only one form control within formGroup. it only works when you move to another text field.

[code]

[2020-10-07 15:45] joanpablo commented on #40
Hi @techaks,

Reactive Forms by default only show errors when the control is **invalid** and **touched**. A control is **touched** if the user tap on it (the control gets focus) and then remove focus by tapping other control like other for example other text field.

If you only have one control is quite possible that you have no way to remove focus from it, and you will not see the errors, even if

[2020-10-07 15:49] joanpablo commented on #40
Another suggestion @techaks qhen you use

[code]
you don't need the **Validators.number**, the value is already a number. You can also include some input formatters in the ReactiveTextField to force only numbers like:

[code]

[2020-10-07 17:51] techaks commented on #40
@joanpablo Thanks for your support and suggestion.

[2020-10-07 17:51] #40 closed

[2020-10-09 00:28] joanpablo commented on #39
Hi @sbosell,

I've test Reactive Forms and dropdown with

[code]

And is working OK. Not truncated label and data is loaded.

Here is the code I have tested:

[code]

You can see the GIF here

[Sample](https://www.dropbox.com/s/wnffhlw19z4pxm2/chrome-capture.gif?dl=0)

I've created the sample trying to deduce your logic. There are some suggestions I would like to give you:

First don't put when po

[2020-10-09 01:48] sbosell commented on #39
@joanpablo  The issue was not in debug/emulator but when you build it in release or profile mode.   I'm going to try to put together a stand alone sample this weekend with profile, release and debug modes at a shareable site.

[2020-10-09 16:18] joanpablo commented on #39
Hi @sbosell,

I've tested the same above code with **profile** and **debug** modes and all works fine. These where the commands a used:

[code]

[code]

I also build **release** and **profile** and deploy on local http server:

[code]

[code]

And then start a local server with **Nodejs**

[code]

navigate to */build/web/* folder

[code]

Please try the above code and let me know if your issue per

[2020-10-10 22:29] marcos930807 commented on #28
@joanpablo I use this aproach(class with static const ControlsNameKey) to avoid typo mistakes and for a better looking code.

[2020-10-10 22:30] sbosell commented on #39
@joanpablo I was able to reproduce the label issue.  If I add a network sourced image above the form the label on the dropdown is truncated.  Remove the image and the label works correctly.  I'm going to publish the stand alone samples tomorrow.

Still working on reproducing the other issue which is more problematic.

[2020-10-10 22:48] joanpablo commented on #39
Thanks for the answer @sbosell. When you have implemented the sample, please share the code here to reproduce the issue in my environment.

[2020-10-10 22:53] joanpablo commented on #28
Hi @marcos930807,

Thanks for the comment. I am very glad to know that the package is useful for you too. I also use that approach to avoid typo mistakes in control's names.

[2020-10-10 23:04] joanpablo commented on #28
I updated this sample with another possible solution :)

[2020-10-11 00:57] sbosell commented on #39
@joanpablo-
Here are the tests (Checked in chrome and edge):

**Label Cut off:**
https://pmgtemp.blob.core.windows.net/flutter-test/profile-image/index.html#/
https://pmgtemp.blob.core.windows.net/flutter-test/release-image/index.html#/

![image](https://user-images.githubusercontent.com/1896962/95667927-67a3f200-0b32-11eb-9151-2ba7fd1d3e64.png)

**Label Ok:**
https://pmgtemp.blob.core.windows.net

[2020-10-11 01:11] joanpablo commented on #39
Hi @sbosell,

I've just test your links and everything is fine, even the ones with the image at the top. I'll share a screen shoot of my Desktop.

[2020-10-11 01:21] joanpablo commented on #39
Hi @sbosell,

In [this link](https://www.dropbox.com/s/yxrrxoth7mb2lyr/Untitled.png?dl=0) I share to you a screenshot with Edge, Opera, and  Chrome, with the links in **release** mode. But I tested all links and all of them are working just fine.

I also changed  **zoom** in the browser to see if it could be the problem but nothing, all works fine for me.

[2020-10-14 06:01] CDDelta opened #41 "ReactiveTextField should support `autofillHints`"
ReactiveTextField should support `autofillHints` as shown [here](https://medium.com/flutter-community/level-up-your-flutter-apps-with-autofill-1418a02db2e0) and in the constructor docs [here](https://api.flutter.dev/flutter/material/TextFormField-class.html).

This is an awesome package btw! 🥇

[2020-10-14 15:16] joanpablo commented on #41
Hi @CDDelta,

Thanks for the issue. I think you're right about include autofills. That's a feature that some other people asked me to include. The main reason I haven't do it yet is because, as far as I understand, It is only available from Flutter 1.20. That will break the compatibility with Flutter 1.17 clients.

I'm planning to release a new version soon. In that version I'll not include autofi

[2020-10-14 16:11] joanpablo commented on #39
Hi @sbosell,

I have cloned your [repo](https://github.com/sbosell/flutter-reactive-form-testing) and tested the code. I built the flutter web in **profile** mode, and the app run without the issues you are reporting.

In this [gif](https://www.dropbox.com/s/kk50a568ju2bzpz/flutter-web.gif?dl=0) I share to you the test in **Microsoft Edge** browser.

What version of Flutter and Chrome/Edge are you

[2020-10-15 10:55] sbosell commented on #39
I'll have some time over the weekend to check. It may well be something on my machine and will test it in private mode. If I can't provide more details I'll close the ticket.

[2020-10-16 07:45] bunphithak opened #42 "ReactiveDatePicker"
Hi  i can set format ReactiveDatePicker ?

ReactiveTextField(
                        formControlName: 'birthday',
                                            decoration: InputDecoration(
                                              border: InputBorder.none,
                                              suffixIcon: ReactiveDatePicker(
                                                formControlNam

[2020-10-16 14:22] joanpablo commented on #42
Hi @bunphithak,

Thanks for using **Reactive Forms** and for the issue.

You can set a custom **Control Value Accessor** to the ReactiveTextField to format the date time.

[Here](https://github.com/joanpablo/reactive_forms/wiki/Control-Value-Accessors) you can find Documentation about how to create a custom **DateTimeValueAccessor** to accomplish the task.

[2020-10-16 14:46] joanpablo commented on #39
Ok @sbosell, I'll be glad to help you with any troubles you may have, so do not hesitate to write to me if you need it.

[2020-10-18 06:47] danbn-100295 opened #43 "How i can implement input with curreny format ?"
How i can implement input with curreny format ?

[2020-10-18 06:48] danbn-100295 commented on #43
I want apply this package ?
https://pub.dev/packages/flutter_masked_text
How i can implement it ?

[2020-10-18 18:08] joanpablo commented on #43
Hi @danbn-100295,

Thanks for the issue and for using **Reactive Forms**.

You need a [TextInputFormatter](https://api.flutter.dev/flutter/services/TextInputFormatter-class.html) for that task.

You can implement a custom **TextInputFormatter** that fits your needs or use some flutter plugin.

There are several plugin based in TextInputFormatter, here are some of them:
- [mask_text_input_formatter

[2020-10-18 20:36] marcos930807 commented on #43
Hi @danbn-100295
If you necessarily need to use that package, since for the currency mask it brings many options (it is the one I use) that is how I achieve it.
Before knowing reactive_form, I already had a widget that passed the information of the currency, and when I wanted to obtain the current value, what I did was obtain it via controller.numberValue this is a simplified Version.

class Curre

[2020-10-18 21:03] joanpablo commented on #43
Thanks @marcos930807,

That's a great solution the one you have it.

[2020-10-18 21:04] marcos930807 commented on #43
Thanks to you for making this incredible library.

[2020-10-19 07:42] danbn-100295 commented on #43
Wow,thanks @marcos930807 it is good solution!
@joanpablo  thanks you for that package,it so greate for me!

[2020-10-20 15:11] joanpablo commented on #43
Hi @danbn-100295,

Thanks once again for the comments and the issue. I guess you have found the solution, so I will close this issue.

Feel free to open new issues if you have any problem or question about reactive forms.

Good Coding.

[2020-10-20 15:11] #43 closed

[2020-10-21 14:10] #37 closed

[2020-10-22 05:57] CDDelta opened #45 "Custom reactive form input builders"
Have you explored allowing people to provide their own builders for controls like `ReactiveTextField` as opposed to piping each parameter on `TextField` etc?

The api for a `ReactiveTextField` alternative could look something like this:
[code]

For `ReactiveDropdownField` the api could be:
[code]
The `ReactiveDropdownField` example is a bit weird because the `controller` is provided through `focus

[2020-10-22 06:09] CDDelta commented on #45
I should've taken a closer look before writing this 😅. `ReactiveTextField` is more complex than a single `controller` binding so a custom builder will probably be too complex. Closing.

[2020-10-22 06:09] #45 closed

[2020-10-22 15:06] joanpablo commented on #45
Hi @CDDelta,

I'm planning to release the autofill, but for now you can create your custom reactive textfield (you can copy paste the reactive text field code) and add the missing autofill poperties, while the new release is comming.

Thanks

[2020-10-23 03:08] Zacharias02 commented on #42
What about in timepicker? @joanpablo

[2020-10-23 03:27] joanpablo commented on #42
Hi @Zacharias02,

It's exactly the same. ReactiveTextField by default try to figure out wish Control Value Accessor to use depending of the data type of the control.

There is a default implementation for DateTime and TimeOfDay: DateTimeValueAccessor and TimeOfDayValueAccessor. This value accessors comes with default formats to String.

I don't want to include intl package into the plug-in in case

[2020-10-23 03:37] Zacharias02 commented on #42
![Capture](https://user-images.githubusercontent.com/52057825/96953641-28a77080-1524-11eb-9b74-a98a0734bb28.PNG)

[2020-10-23 16:21] joanpablo commented on #42
Hi @Zacharias02,

This is the current implementation of TimeOfDayValueAccessor:

[code]

As you can see I do a simple **split** and string **concatenations**. But you can use the same **DateFormat** with some workaround to format the time something like:

[code]

[2020-10-25 03:49] joanpablo commented on #42
I am closing the topic because there are no new comments.

Thank you

[2020-10-25 03:49] #42 closed

[2020-10-26 21:47] combi-35 opened #46 "PageView wizard style"
I would like to create an add Event wizard with PageView and nested FormGroup.
PageView is within Scaffold Body.
Next Button is within Scaffold bottomSheet, so there is only one button for the whole screen, which should be en/dis-abled according to the form validity in every PageView screen.
I wonder is there a way to call an update to refresh the UI once the PageView changed and should disable th

[2020-10-26 22:21] joanpablo commented on #46
Hi @combi-35,

Thanks for the issue and thanks for using Reactive Forms.

Regarding to your question, **ReactiveFormConsumer** rebuild the button each time the **state** of the Form changes, but in your case the state of the form is not changing from page 1 to page 2, the state remains the same because the parent Form is always invalid (it will be valid when all **enabled** children are valid).

F

[2020-10-27 20:36] combi-35 commented on #46
Thanks for the fast reply!
I am not sure on how to disable a FormGroup, I could only find documentation for disabling a single FormField.
Do I need to iterate over my main form and call markAsDisabled for each subform?
Looks like disabled property is not part of FormGroup?!

[2020-10-30 01:10] joanpablo commented on #39
Hi @sbosell

I will close the issue since there are no new comments. Feel free to reopen it or open a new one if you have any other issue.

[2020-10-30 01:10] #39 closed

[2020-10-30 12:55] combi-35 commented on #46
Awesome! Thanks for implementing :)
My Submit Button is now in correct state.

[2020-10-30 12:55] #46 closed

[2020-10-31 06:00] joanpablo opened #49 "Implement a quit simple solution to select text in a ReactiveTextField"

[2020-10-31 06:00] joanpablo opened #50 "Documentation of how to Implement some variant of Reactive Chips with FormArray and ReactiveFormArray widgets"

[2020-11-05 06:25] shaxxx opened #51 "Support AsyncValidators on FormGroup"
Currently there is no way to provide AsyncValidator on FormGroup wich means it's not possible to do some async validation that takes in a count more fields.

Take the following example. User needs to enter values in two text fields: "hostname" and "port" and we need to validate if hostname is reachable or not. For that we need both "hostname" and "port" values and we need to raise a validation err

[2020-11-05 14:17] joanpablo commented on #51
Hi @shaxxx,

Thanks for using Reactive Forms and for that issue. I'll provide a solution to solve that problem.

[2020-11-05 14:50] shaxxx commented on #51
As far as I could tell it's only a matter of adding extra parameters for AsyncValidators and AsyncDebounceTime to FormGroup.
It kinda worked after adding those parameters, but I was expecting it to call re-validation on non-focused control even when it already has validation errors. That didn't work, but I guess that's another issue.

[2020-11-05 14:55] joanpablo commented on #51
@shaxxx could you please write the steps of the behavior that you should expect when adding the async validator that validates Host and Port?

That will let me write some tests and fully understand your needs.

[2020-11-05 15:27] joanpablo commented on #51
Hi @shaxxx,

In Reactive Forms **Async Validators** executes only after all **Sync Validators** are executed and marks the control as **valid**.
That was intentionally implemented that way to avoid requests (to API for example) while the control is not valid with **Sync Validators**.

Could you please explain me in more details what you are tying to accomplish? I'm sure we are going to find a solu

[2020-11-05 15:59] joanpablo commented on #51
Hi @shaxxx

I have already release v7.0.8 that includes the Async Validators to **FormGroup** and **FormArray**.

[2020-11-05 16:00] shaxxx commented on #51
I'm just writing use case, wait...

[2020-11-05 16:12] shaxxx commented on #51
Yes, I figured out that async validators are triggered after regular one, it's logical.
I was able to achieve what I need trough control async validators, very ugly and hackish but works.
Tried with form validators but couldn't make it work as I wanted.
Use case is this.
- Two controls as stated above, "address" and "port" need to be validated together to check if address:port is available.
- Both

[2020-11-05 16:33] joanpablo commented on #51
Hi @shaxxx,

Thanks for the detailed use case, I will test it now in v7.0.9 to see if it fit the requirement. And I will let you know.

Thanks again.

[2020-11-05 17:09] kuhnroyal opened #52 "FocusNode in FocusNodeController not being disposed"
Just migrated from 5.x and noticed that the `FocusNode` in `FocusNodeController` probably needs to be disposed here: https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/focus_node_controller.dart#L22

[2020-11-05 17:42] joanpablo commented on #51
Hi @shaxxx,

I've implemented the use case, please tell me if that is what you need.

[code]

![Screenrecorder-2020-11-05-12-19-25-442](https://user-images.githubusercontent.com/37339180/98275499-b0e53700-1f62-11eb-9610-2a06678bb23a.gif)

[2020-11-05 17:50] joanpablo commented on #52
Hi @kuhnroyal,

Thanks a lot for the issue and for using **Reactive Forms**. I will make some tests and some use cases to see if the FocusNode should be disposed there. At the very first moment I implemented that feature having in mind that the FocusNode could be provided by the user, maybe that's the reason I don't dispose it, but in the actual implementation the focus node is not provided by use

[2020-11-05 17:53] shaxxx commented on #51
Hi joan,

I'm outside on my mobile but based on the gif it's not scenario I was
describing.
At the end leave port value as invalid and then modify address.
Validation message should move from port to address control.
Maybe your code supports this but I'm unable to try it.
Thank you for your support.

čet, 5. stu 2020. 18:42 Joan Pablo <notifications@github.com> je napisao:

[2020-11-05 18:05] joanpablo commented on #51
I see the problem now @shaxxx.

I will study carefully the issue to find a solution.

Thanks.

[2020-11-05 18:10] kuhnroyal commented on #52
Thank you for this great library!

I saw that the node can provided in the constructor but the default node can not be disposed from outside. It doesn't look like it hurts if a `FocusNode` is disposed twice.

[2020-11-05 20:12] joanpablo commented on #51
Hi @shaxxx,

I have test several ways to accomplish your task. If I let the Async Validator run always (even if sync validations are invalid) then the UI behavior as you expect, but in my opinion that not solve the problem.

If in the UI, I leave **port** value as **invalid** and then modify **address**, then validation message will move from *port* to *address* control. But that will confuse the

[2020-11-05 20:39] joanpablo commented on #52
Hi @kuhnroyal,

I have just release v7.0.10 that fix that issue [here](https://github.com/joanpablo/reactive_forms/blob/eb0007c8961d05a64afb52eceed7e55235da612e/lib/src/widgets/focus_node_controller.dart#L22)

Thanks again.

[2020-11-05 20:39] #52 closed

[2020-11-06 07:27] shaxxx commented on #51
In the end I decided to go with your first solution, maybe not what I initially intended but it kinda makes sense to keep the error on the control that originally caused it. Plus your validator is way prettier than code I wrote and can be re-used (I actually have to check address:port for local and remote server).
New version works great with debounce values, submit button reacts instantly.
Great

[2020-11-06 07:28] #51 closed

[2020-11-06 15:32] joanpablo commented on #51
Thanks for your kind words @shaxxx, I'm glad to help you.

On last advice, In the above example I use to many **ReactiveFormConsumer**, one for button, other for the error message and other for the inputs, this could be more simple if using just one ReactiveFormConsumer because the example was very simple.

Feel free to open other issues if you have other problems.

Thanks.

[2020-11-07 14:01] naamapps opened #53 "Value accessor won't rerun on rebuild when the value is the same"
Hey,
I have a custom value accessor to show a translated value in a text field.
The translated value needs to be changed when another form control is changed.
For example, I have a form control amount (int) and a form control unit (the translated form control - can be grams, kg, liter etc...).
The translation is working fine, however I want that when the amount is above 1, the translated word will

[2020-11-07 14:18] joanpablo commented on #53
Hi @naamapps,

Thanks for using **Reactive Forms** and thanks for that issue. I will try to implement a simple example to fully understand the issue I will let you know soon.

[2020-11-07 15:22] joanpablo commented on #53
Hi @naamapps,

Have you considered the possibility that the control **Unit** could be a **ReactiveDropDown** instead of a **ReactiveTextField**? In that case you could rebuild the dropdown each time the amount changes. The dropdown also brings the possibility to set a Text and a Value so for example you can set 'kg' to the value while showing 'kilograms' to the user.

[code]

![Screenrecorder-2020

[2020-11-07 15:43] naamapps commented on #53
Hey @joanpablo
Thanks for the quick reply!
I'm sorry I should have been more informative in my post.
I have a list of units like you have in your code, and I want to choose the value with a cupertino picker in a dialog (I used this [package](https://pub.dev/packages/flutter_picker)).

I have a onTap callback set on the text field and readonly is set to true. So everytime I tap on the text field, i

[2020-11-07 15:45] naamapps commented on #53
Hey @joanpablo
Thanks for the quick reply!
I'm sorry I should have been more informative in my post.
I have a list of units like you have in your code, and I want to choose the value with a cupertino picker in a dialog (I used this [package](https://pub.dev/packages/flutter_picker)).

I have a onTap callback set on the text field and readonly is set to true. So everytime I tap on the text field, i

[2020-11-07 16:07] joanpablo commented on #53
Hi @naamapps,

If you are using a picker to select values, then maybe you don't need a **ReactiveTextField** at all, because the user will never type the values. Maybe you need a widget that looks like a text field but that is not a text field, you could create a custom Reactive Widgets that wrap a Gesture Detector in an **InputDecorator**.

I will send you an example code shortly

[2020-11-07 16:40] naamapps commented on #53
@joanpablo You are absolutely right.
Although it will be nice to have the option to format the current value of a text field (maybe instead of value accessor, a field that gets a callback that returns string with the formatted value).
Either way, now I just need a way to replicate the looks of a text field.
Looking forward to see your example.
Thanks

[2020-11-07 17:41] joanpablo commented on #53
Hi @naamapps,

![Screenrecorder-2020-11-07-12-28-48-814](https://user-images.githubusercontent.com/37339180/98447861-30efd600-20f6-11eb-9e2f-19d31515857e.gif)

[code]

[2020-11-07 17:48] joanpablo commented on #53
Hi @naamapps,

Due to state full nature of TextFields is kind impossible to change its value in UI when not changing its model value (for example without change the text controller value). So you need a custom widget that has a Stateless nature but at the same time binds to a FormControl (this is the philosophy of custom reactive widgets). You can check the [Wiki](https://github.com/joanpablo/reac

[2020-11-07 19:30] naamapps commented on #53
@joanpablo
Thanks for this man, I really appreciate it!
Everything works like a charm
Have a great week 👍

[2020-11-07 19:30] #53 closed

[2020-11-07 19:33] joanpablo commented on #53
You're welcome @naamapps. Have a great weekend.

[2020-11-08 09:31] naamapps opened #54 "Expose focus node of text field"
Hello again,
I'm trying to add a keyboard action bar with this [package](https://pub.dev/packages/keyboard_actions).
The package is demanding a focus node to know when the text field is focused or not to show the action bar of the keyboard.
I don't think there is a way to get the focus node from the formControl associated with the text field.
And there is no way to add a custom focus node to the r

[2020-11-09 13:49] joanpablo commented on #54
Hi @naamapps,

You'r right about the fact that there is no way right now to get the focus node of a ReactiveTextField so I will implement a way to provide a FocusNode to ReactiveTextField.

Thanks for the issue

[2020-11-09 14:00] kuhnroyal commented on #54
Maybe you can attach a `FocusNodeController` to your `FormControl`.

[2020-11-09 14:00] naamapps commented on #54
Hi @joanpablo,
Thanks for the reply!
Looking forward to the new update 👍

[2020-11-09 14:17] joanpablo commented on #54
That's a good idea, or maybe the FocusNodeController to the ReactiveTextField. I will think what could be the better way, and I will bring a solution in the next couple of days.

Thanks again

[2020-11-15 22:41] rebaz94 opened #56 "How to ensure the validation is valid?"
Hello, Thanks for your library.

I have a problem when validating fields, when using ```ReactiveFormConsumer``` sometime ```formGroup.valid``` return false but the form contains invalid field and also tried to delay checking but also not working.

Is there anyway to wait until all fields is checked again and ensure all fields valid?

please see this
![ezgif com-gif-maker (1)](https://user-images.g

[2020-11-15 22:50] joanpablo commented on #56
Hi @rebaz94,

Thanks for using Reactive Forms and for the issue.

The form has several status

VALID, INVALID, PENDING, DISABLED.

Each time the status of the Form changes, the **ReactiveFormConsumer** widget call the builder function to rebuild UI.

If the Form is PENDING then the **form.valid** returns **false**. So maybe you want to validate with (form.invalid || form.pending) or !form.valid

[

[2020-11-15 23:03] rebaz94 commented on #56
Hi, Thanks for your quick reply.
I checked the same way you mentioned above but the problem is that before form builded and user tap quickly it will bypass the validation and in the Gif you can see that the error not showing and Button is active. after snackbar shown then error visible.

I want to validate all controls before sending data to server so that catch invalid fields

[2020-11-15 23:13] joanpablo commented on #56
Hi @ rebaz94, I am trying to understand the problem, but the gif is not enough to understand it clearly. Please could show me the code you are using to enable/disable the button? Also I would like to see the definition of the Form and also to see if the validations you are doing if you have any custom validation?

[2020-11-15 23:45] rebaz94 commented on #56
OK, Here How I do it.
I have a simple FormControl just for showing error message like ```final logoInput = FormControl(touched: true)```
[code]

Validator
[code]

validator function is basically provide a function and check image is valid or not.
the **logoManager** inside the function is just a ```ChangeNotifier``` which contain the images data and manage adding or removing data, whenever any ope

[2020-11-16 01:19] joanpablo commented on #56
Hi @rebaz94,

I see two possible solutions to your issue:
1. Not using FormControl to just show messages.
2. Use the FormControl to actually hold the logo image and put required validator and implement a Custom Reactive Widget that binds to that FormControl. You can use a FormArray to create a collection of FormControls that hold logo images. So the FormArray will be valid if all FormControls are

[2020-11-16 02:11] rebaz94 commented on #56
Thanks for your detailed explanation.

I will try to use second solution but I don't thinks its the main issue because in the example above is a custom widget but the problem also exist for ```ReactiveTextField```.

I will let you know if thats works.
Thanks again

[2020-11-16 03:47] joanpablo commented on #56
Thanks @rebaz94, please let me know as soon as possible if you solve the issue with second solution, I'll be very glad to help you.

[2020-11-16 09:25] rebaz94 commented on #56
Hi @joanpablo ,

I implemented using ```FormArray``` and work perfectly even if you click on Update button before ui shows error and later form return invalid which is what I want.

I will be great if we can able to force validation for a ```FormGroup``` and wait until finished, something like this
[code]
I know maybe its expensive but it will ensure that all data is correct.

Thanks so much

[2020-11-16 22:39] joanpablo commented on #56
Hi @rebaz94,

Thanks to you for your comments, I'm glad that the solution works for you.
There's another way to listen for changes in a Form: **form.statusChanges**.

Thanks again.

[2020-11-16 22:40] #56 closed

[2020-11-19 20:46] vasilich6107 opened #59 "ReactiveFormField - Field value type - dynamic"
Hi! Thanks for you work.

I'm building my first `ReactiveFormField` for custom checkbox and I have a question.
Why do the `field.value` type is `dynamic` despite we pass generic type? - https://tppr.me/OuXcZ

I tried to change in `reactive_form_field.dart`

`dynamic get value => this.valueAccessor.modelToViewValue(this.control.value);`
to
`T get value => this.valueAccessor.modelToViewValue(this.co

[2020-11-19 21:24] joanpablo commented on #59
Hi @vasilich6107,

Thanks for your kind words!

Well, the **get value** in **ReactiveFormFieldState** returns the value in *view data type*, that means it is not the same data type of the **FormControl**.  If you use the expression

[code]

you are assuming that the data type that is returned by the **value accessor** is the same of the **FormControl** and that is not always true. For Example if y

[2020-11-20 04:41] gmcdowell opened #60 "Complex ValidationMessage use"
It would be great to see documentation on how to make use of a Validation Error where more that just the `key: true` is returned, in a ReactiveTextField for example

I see that you are returning these sub-maps in several validators, e.g. **MaxValidator**

`
ValidationMessage.max: {
  'max': max,
  'actual': control.value,
},
`

There does not appear to be any examples in your tests.

Really enjoyi

[2020-11-20 14:35] joanpablo commented on #60
Hi @gmcdowell,

Thanks for your comments, I'm glad you enjoy the use of Reactive Forms.

Here is a real example usage:

[code]

[2020-11-20 18:16] naamapps commented on #54
Hey @joanpablo,
Is there progress on this?
Don't want to rush you or anything, just want to know how it's doing
Thanks

[2020-11-20 18:26] joanpablo commented on #54
Hi @naamapps,

Sorry for not having a solution implemented yet, I've been very busy and this is the must complex issue of all, because it requires a complete new implementations in Reactive Forms, I will do it, but I need some more time. This is an issue that is really important to me.

Sorry the inconvenient.

[2020-11-20 18:40] naamapps commented on #54
@joanpablo
I appreciate it !
Take your time 💯

[2020-11-22 15:40] Reprevise opened #61 "Can we get a ReactiveDateTimePicker?"
My only issue with this package is that there's no picker to pick the date and time at the same time (_no pun intended_). Can we get a new widget that merges the two pickers? Having two separate fields for the date and time doesn't make a lot of sense. Implementing this would clean up a lot of forms. If not, at least give us a practical example of how to use both pickers in _one_ field to output t

[2020-11-23 16:03] joanpablo commented on #61
Hi @Reprevise,

Thanks for using **Reactive Forms** and for the issue. You are right about the necessity of having a unique widget that can handle both data: date and time, but actually Flutter doesn't has that implementation as a native widget, that's the main reason I haven't included it in Reactive Forms.

But you can easily create your custom Reactive Widget that uses a community plugin that c

[2020-11-24 00:06] radvansky-tomas opened #62 "ReactiveDropDown Field - disabled value"
Once ReactiveDropDown field is set to disabled
` form.control('field_name').markAsDisabled();`

Its current value is not being displayed, ie `selectedItemBuilder` is not used.

As workaround you have to utilise `disabledHint` widget and access current form value directly and return your view:
[code]

[2020-11-24 00:07] gmcdowell commented on #60
Thanks heaps ;)

[2020-11-24 00:07] #60 closed

[2020-11-24 00:29] joanpablo commented on #62
Hi @ radvansky-tomas,

Thanks for using reactive forms and thanks for the problem.

Could you give a more complete example to reproduce the error?

The actual version of ** Reactive Forms ** is 7.3.0. Since version 7.0.12 I have already included some code that handles the case of a disabled FormControl linked to a reactive dropdown and the value of the dropdown is always visible (I used the workar

[2020-11-24 01:06] radvansky-tomas commented on #62
Thank you for quick reply. So yes you are right, I just updated lib and with latest version **7.3.0** it renders content. However it render widget from `items` and not from `selectedItemBuilder`. Which is in my case wrong...

Let me explain:
First of all my items contains bigger item, effectively `ListTile` widget, whilst selected item is simple `Text`.

With this version it renders whole ListTile

[2020-11-24 01:40] joanpablo commented on #62
Hi @radvansky-tomas,

You're right about that. I will update the code to take into account the **selectedItemBuidler**. I will notify when it is done.

Could you please show me with some sample code how do you use the  **selectedItemBuidler** to build your Text?? That will help me to find the better implementation.

Thanks once again.

[2020-11-24 01:42] radvansky-tomas commented on #62
Sure my `selectedItemBuidler` is pretty simple:

[code]

It only builds list `Text` items wrapped in `Container`

[2020-11-24 02:16] joanpablo commented on #62
OK, thanks @radvansky-tomas.

I will notify you as soon as possible about the solution so you can test it and close the issue.

[2020-11-24 03:05] joanpablo commented on #62
Hi @radvansky-tomas,

I've release v7.4.0 please download it and test again your code.

Thanks.

[2020-11-24 04:27] radvansky-tomas commented on #62
Yes that works perfectly @joanpablo, THX for your effort and great lib

[2020-11-24 04:27] #62 closed

[2020-11-24 06:01] nandhakumargdr commented on #61
That's great I'm waiting for Reactive Form Widgets

[2020-12-07 00:11] joanpablo commented on #59
Close the issue due not recent activity.

[2020-12-07 00:11] #59 closed

[2020-12-07 00:11] joanpablo commented on #61
Close issue since not recent activity

[2020-12-07 00:11] #61 closed

[2020-12-09 03:40] joanpablo commented on #54
Hi @naamapps and @kuhnroyal,

Finally I have release v7.5.0 that include an argument *focusNode* to **ReactiveTextField** that allow to provide a custom **FocusNode** to the widget.

With this improvement you can provide a custom FocusNode to use in both widgets: ReactiveTextField and KeyboardActionsConfig from this [package](https://pub.dev/packages/keyboard_actions).

Sorry for waiting so long f

[2020-12-09 09:31] naamapps commented on #54
Hey @joanpablo,
Thank you very much for your hard work!
I was hoping that the focus node will be available by a getter in a `FormControl`.
Like any form control has a function `focus()`, I am wondering if it's possible for you to implement a getter (and a setter maybe).
That way,
1. There is no need to manage the focus nodes (disposing)
2. It is the reactive way to personalize the form controls (p

[2020-12-09 14:30] joanpablo commented on #54
Hi @naamapps,

Thanks for your quick reply. You're definitely right and you have proposed a solution that I haven't see before.
Do you think that exposing the **focusController** of the **FormControl** will resolve your issue?

[code]

That way, you don't have to create a * StatefulWidget * to create your own * FocusNode * and you don't have to *dispose* it when you dispose the widget. You do not

[2020-12-09 14:55] naamapps commented on #54
Hi @joanpablo,
Yes, this is exactly what I meant.
It would be perfect if you could implement this solution as well.
Thanks for your understanding, I really appreciate it 🥇

[2020-12-09 14:57] joanpablo commented on #54
I'm working on that right now, let me implement it and see how it looks. I will let you know soon.

[2020-12-09 15:20] joanpablo commented on #54
Hi @naamapps,

If I just expose the **focusController** of the **FormControl** class like this:

[code]

then you could get the **FocusNode** like this:

[code]

That's because **FocusNodeController** is actually the child class that inherited from **FocusController** and uses the FocusNode to maintains sync between control and UI.

[2020-12-09 15:29] naamapps commented on #54
@joanpablo
I think it's fine and manageable enough for me.
Although it's not as minimalistic as this
`final focusNode = control.focusController.focusNode;`

If it's not possible to implement the minimal one, definitely go for this
`final focusNode = (control.focusController as FocusNodeController).focusNode; `

[2020-12-09 15:54] joanpablo commented on #54
Well @naamapps,

The actual implementation separates the Model and UI classes that is why I have two classes the parent and abstract class **FocusControll** that doesn't includes anything of the UI and a child one **FocusNodeController** that is more tight to UI and is the one hold the **FocusNode**.

Even when a I think that separation is a cleaner design, I also think that includes a bit of verb

[2020-12-09 16:15] joanpablo commented on #54
@naamapps,

I have just release v7.6.0 in that version you can access **FocusNode** like:

[code]

Thanks for your patience and all your comments.

Please test the solution with this (plugin)[https://pub.dev/packages/keyboard_actions] and let me know the result as soon as possible, you have been waiting for this issue  to long, and I don't want another day to go by without you having a solution.

[2020-12-09 16:47] naamapps commented on #54
@joanpablo
I thank you for your time, effort and kindness :)
You have done above and beyond my expectations 💯

It's almost night time at my place so I'll test this tomorrow, and write to you here with my results.

Thanks again!

[2020-12-09 20:35] victorcatn opened #64 "Add a multiselect"
Hello,
It will be great if there is easy way to create multiselects that receive a list of items and keep a FormArray of selected items, like the one for emails in samples/array_sample.dart. The ReactiveDropdownField widget already receives a list of items but only keeps one value.
This package is very useful, thanks.

[2020-12-10 09:00] naamapps commented on #54
Hi @joanpablo,
I worked on implementing the focus node with the keyboard actions package and I have stumbled into a problem.
The focus controller is not initialized when creating a new form control like so:

[code]

I need the focus node right away because I want to add a listener to the focus node.

I actually succeeded making this work by creating focus nodes manually and passing them onto the `

[2020-12-10 16:19] joanpablo commented on #54
Hi @naamapps,

If you want to listen for focus changes, then you just subscribe to **FormControl.focusChanges**, you don't need the FocusNode. Try to use only FocusNode in case some other widget require the FocusNode of the control, but don't use it for listen focus changes, to set focus or remove focus on a control use **FormControl.focus()** or **FormControl.unfocus()**.

[2020-12-10 23:28] joanpablo commented on #64
Hi @victorcatn,

Because Flutter doesn't include a native multi-select widget, Reactive Forms doesn't include it either. But I'm sure that implement it should be very easy as a [Custom Reactive Widget](https://github.com/joanpablo/reactive_forms/wiki/Custom-Reactive-Widgets). You can implement it from scratch or maybe reuse some community plugin and convert it to a reactive widget like in this [po

[2020-12-12 10:09] naamapps commented on #54
@joanpablo ,
Yes you're right!
Didn't notice I have the `focusChanges` property.
Everything is working great now 👍

By the way, I wanted to use the `ReactiveSwitchListTile` widget, but you didn't export it in the library file `reactive_forms.dart`.
Please export it :)

Thanks for everything!

[2020-12-13 15:02] joanpablo commented on #54
Hi @naamapps,

I have release v7.6.2, and now ReactiveSwitchListTile is public. I'm glad that everything else is working great. Thanks.

[2020-12-13 21:07] victorcatn commented on #64
Thank you @joanpablo
I tried to make a reactive widget of `ReactiveMultiSelectDialogField` from the `reactive_forms: ^7.6.2` package but I found a problem, `MultiSelectChipDisplay`  `onTap` callback can update the `ReactiveFormFieldState` but at the rebuild, the changes are not seen, that does not happen with the `onConfirm` of `MultiSelectDialogField`. I think It has to do with what those widgets

[2020-12-17 08:03] joanpablo commented on #54
Hi @naamapps,

Sorry for the late answer, right now I'm moving from city and I'm still finding accommodation. So I will be busy the next couple of weeks.

This is maybe because thats the default behavior of TextEditController when setting a text to it. maybe I need to change the way I set the value to TextEditingController of the Input.

Think I should change this in code:
[code]

by something sim

[2020-12-17 11:20] naamapps commented on #54
Hi @joanpablo,
That seems right.
I will wait for you to implement this.

Take your time, it's not urgent for me.
Thanks 👍

[2020-12-23 06:59] mitjaj76 opened #65 "Formly and dynamic forms"
Reactive forms is really great package.
Thanks to author.
This package is inspired by Angular reactive forms, very similiar.
It would be even better if there would be another package that would wrap reactive forms package and fields to formly package as angular formly.
Formly is great for dynamic forms from server or json and on my opinion it would be high compatible with reactive forms package.

[2020-12-23 08:02] joanpablo commented on #65
Hi @mitjaj76,

Thanks for your kind words and for using Reactive Forms. Definitely Formly Angular is a great library. I will be very pleased if someone else implements a library like Formly Angular for Flutter based on Flutter Reactive Forms, that would by great. I still need to add some pending features to Reactive Forms and I would like to implement some extra widgets (this is another plugin wit

[2020-12-26 17:31] gucci-quoci opened #66 "FormArray insert a FormGroup to an specific index does not work properly"
Hey I'm trying to copy a FormGroup in a FormArray if I press a button. Adding a new  FormGroup to the array like in the code below works. But if I make a copy by using the insert method with a given index it doesn't work properly. Editing the original FormGroup, will change the value of the copy as well and vice versa. I want to copy a FormGroup in a FormArray and edit only one of them and not bot

[2020-12-26 17:42] joanpablo commented on #66
Hi @gucci-quoci,

Thanks for using Reactive Forms and for the issue. If I understand well, the code above actually execute well without problems. Could you please write and example about the code that actually doesn't work, so I can better understand the issue.

Thanks.

[2020-12-26 18:14] gucci-quoci commented on #66
Hey I added an example. The code above works only for the add button. If I use the copy button it does not work properly.

[2020-12-26 18:25] joanpablo commented on #54
Hi @naamapps ,

I have release v7.6.3 that solve the issue. Thanks for your patient.

[2020-12-26 18:25] #54 closed

[2020-12-26 18:27] joanpablo commented on #64
Hi @victorcatn,

Sorry for the late answare right now I'm moving from country so I will need some time to relocation. I will analize your code as soon as possible.

Thanks.

[2020-12-26 18:45] joanpablo commented on #65
I will close the issue for now, don't hesitate to reopen or open a new one for some issue.

[2020-12-26 18:45] #65 closed

[2020-12-26 19:21] naamapps commented on #54
Hey @joanpablo,
It works perfectly, Thank you for your time

[2020-12-28 15:17] gucci-quoci commented on #66
Hey @joanpablo this is the code, which does not work properly.
Example of an input (Array index - ReactiveTextField value):
- Start
[0] - A
- Copy [0]
[0] - A (new)
[1] - A (old)
- Edit [0]
[0] - AB
[1] - AB <-- Should not change to AB

[code]

[2020-12-29 10:59] vasilich6107 opened #69 "How to format a date in datepicker textfield?"
There is `DateTimeValueAccessor` that is used for parsing date.
But I did not found a way to override it.

[2020-12-29 13:36] vasilich6107 commented on #69
I've found the solution
I'll add a PR to show how

[2020-12-29 16:40] joanpablo commented on #69
Hi @vasilich6107
Do you think is a good idea to add a dependency to another library in Reactive Forms? I haven't implemented this Date Value Accessor using DateFormat for that reason, because I'm concerned that users of Reactive Forms become to having some compatibility issues of the intl with other libraries. What do you think about it?

If the final though is to use intl, then I think we should

[2020-12-29 19:53] vasilich6107 commented on #69
The library `intl` is officially supported by dart team https://github.com/dart-lang/intl
So the compatibility issues are not expected.

If you prefer `purity` we can move the accessor out from lib and leave it only inside `example` folder

[2020-12-29 20:34] joanpablo commented on #69
Hi @vasilich6107

Yes I know the **intl** is official, but my concern is for example that **Reactive Forms** get in conflict with another plugin that uses an older version of **intl**. I know it's a rare situation, I experiment it only once in all my projects. Have you ever had this problem?

[2020-12-29 20:55] vasilich6107 commented on #69
Yes. My current project has some dependency overrides :-)

[code]

[2020-12-30 23:01] vasilich6107 opened #71 "reactive_forms_widgets package"
I created a package where we can collect some other reactive fields to keep the form clean.
Can we add a reference to the package in readme?
https://pub.dev/packages/reactive_forms_fields

[2020-12-31 01:43] victorcatn commented on #64
Hi,

Don't worry, you already made a very good work with this package. It helped me a lot building an app with dynamic and complex forms.
I already analyzed my issue and it happens because the widget from `multi_select_flutter` has its own state, that `ReactiveFormField` can't change once created. A workaround may be create a key for each rebuild of the stateful widget, that way the old state is d

[2020-12-31 09:47] joanpablo commented on #71
Hi @vasilich6107,

Sorry for the late answer, I'm moving from country so I'm in the middle of country relocation, that's why I take t long to review your pull requests and issues. And you are right know to fast hahah.

I will give you my considerations.   You have done an excellent work helping me and contributing with the package and I'm very grateful with you.

Having another packages with usefu

[2020-12-31 09:48] #69 closed

[2020-12-31 10:00] joanpablo commented on #64
Hi @victorcatn,

Thanks for your kind words. Yes it's definitely that the widget you are using is stateful and maybe it can have some issue with resetting initial value. It's always better to use stateless widget with Reactive Forms, but is not mandatory there are some widgets within Reactive Forms like ReactiveTextField that is stateful and also in this [post](https://dev.to/joanpablo/star-rating

[2020-12-31 10:12] vasilich6107 commented on #71
Ok. I'll change the lib name)
It is not very complicated at the beginning.

I'll make another PR with updated DateTime value accessor.

[2021-01-01 11:24] #64 closed

[2021-01-02 12:50] vasilich6107 commented on #71
https://pub.dev/packages/reactive_forms_widgets

[2021-01-03 10:49] Sheharyar566 opened #73 "Error: type 'FormControl<String>' is not a subtype of type 'FormGroup' in type cast"
I am trying to create a validator that basically takes in a list of strings, and a filter type (i.e. whether to allow inclusion of a certain string in the value). Here's my validator implementation:
[code]

However, on running the code i'm getting this error:
[code]

[2021-01-03 11:27] joanpablo commented on #73
Hi @Sheharyar566,

Thanks for using **Reactive Forms** and for the issue, could you please show me the code of how you are using the validator?? Show me the declaration of the FormGroup.

[2021-01-03 11:28] Sheharyar566 commented on #73
yeah.. here it is
[code]

[2021-01-03 11:32] joanpablo commented on #73
Hi @Sheharyar566,

The thing is that you are setting the **_urlFilter** validator to a *control*, not to a *group*. That means that inside your validator function you receive the **control** as argument, not the **form group**.

[code]

The code above is not correct because you already have the control as argument.

[2021-01-03 11:37] joanpablo commented on #73
You can replace this:

[code]

with this:

[code]

[2021-01-03 11:43] Sheharyar566 commented on #73
aaaaaah.... Fixed it (saying it while tapping lightly on my own head :).. thanks for the quick response... you're awesome

[2021-01-03 11:43] Sheharyar566 commented on #73
oh... and how do I show the error... should I return the error object?

[2021-01-03 11:45] joanpablo commented on #73
Thanks to you @Sheharyar566, thanks for your kind words.

Well by default the error will show up under the UI widget, for example ender the reactive text field.

[2021-01-03 11:50] joanpablo commented on #71
Hi @vasilich6107,

How do you propose to show the new plugging in the docs of **Reactive Forms**? Feel free for make a pull request in doc and we can work together finding the best way.

Thanks.

[2021-01-03 11:54] Sheharyar566 commented on #73
I mean there's this if-else condition in the validator. Should I return the error as the object or use setError?

[2021-01-03 11:58] joanpablo commented on #73
The way you are returning the error is correct:

[code]

you should return a Map that represents the error.

[2021-01-03 12:03] Sheharyar566 commented on #73
something like this?
[code]

[2021-01-03 12:14] joanpablo commented on #73
I suggest to it leave like:

[code]

And then in the **ReactiveTextField** customize the error message like:

[code]

[2021-01-03 12:18] Sheharyar566 commented on #73
@joanpablo ... you're the best. And seems like reactive_forms is my favorite library from today on 😄

[2021-01-03 12:23] joanpablo commented on #73
Hahahahah thanks @Sheharyar566, thanks to you.

I will close the issue then, but feel free to open it again or open another issue if you need more help.

Happy new Year!!!

[2021-01-03 12:23] #73 closed

[2021-01-03 12:23] Sheharyar566 commented on #73
Happy new year to you too... and thanks again...

[2021-01-03 16:15] joanpablo commented on #66
Hi @gucci-quoci,

Sorry for the late answer. The issue there is because of how Flutter handle elements in a list in the UI. If you put a **key** to all your **ReactiveTextField** the issue will be resolved.

[2021-01-04 11:33] gucci-quoci commented on #66
Hi @joanpablo,
Thank you, I forgot about that.

[2021-01-04 11:33] #66 closed

[2021-01-05 22:05] Darksoulsong opened #74 "How to disable a ReactiveTextField"
I'm playing around with it, and I'm liking it so far. But I can't figure how to enable/disable a field, it seems the enable prop native to TextFormFields is not available on ReactTextField. Is this doable?

[2021-01-06 08:33] joanpablo commented on #74
Hi @Darksoulsong,

Thanks for the issue and for using Reactive Forms.

To disable a ReactiveTextField just disable the control bound to the widget:

[code]

And the widget will get disabled.

[2021-01-06 09:27] vasilich6107 commented on #71
Hi @joanpablo
Do you have any ideas about v8 release?

I have prepared some date related fields so I would like to use `DateTimeValueAccessor`

[2021-01-06 13:45] joanpablo commented on #71
Hi @vasilich6107,

Let me prepare the documentation related to release.

[2021-01-06 16:03] Inmer commented on #74
Thanks, @joanpablo I was having a hard time to get the values from a disabled component, **form.rawValue** is what I needed. But I just want to mention that that property is not on the documentation on pub.dev, if this question would not have been here, I fear I would not have found the answer. Just one more thing and sorry if is out of topic, but I made you a question here https://dev.to/joanpabl

[2021-01-06 16:25] joanpablo commented on #74
Hi @Inmer,

You are right the property **form.rawValue** is not in the README.md or Wiki. Sorry for late answer in dev.to. Please let me know if I answered your question.

Thanks

[2021-01-06 16:39] Darksoulsong commented on #74
I ended up using "readOnly", it fits perfectly my needs. Thank you and congrats on the awesome lib. It's a lifesaver.

[2021-01-06 16:39] #74 closed

[2021-01-06 16:49] joanpablo commented on #74
Thanks for your kind words @Darksoulsong.

[2021-01-06 18:01] joanpablo commented on #71
Hi @vasilich6107,

I've just released v8.0.0. Please let me know if everything is OK.

[2021-01-07 14:38] vasilich6107 commented on #71
Hi @joanpablo
Everything works good.
I released a simplified date picker to the widgets lib. With support of date, time and dateTime modes.

[code]

[2021-01-07 14:39] vasilich6107 commented on #71
I'll update the readme and `examples` a little bit later

[2021-01-07 14:47] joanpablo commented on #71
Excellent news @vasilich6107. Great work!!!!

[2021-01-07 14:54] joanpablo commented on #71
Hey @vasilich6107 What if instead of named it **ReactiveDatePickerField** you set *ReactiveDateTimePicker* as the name?

[2021-01-07 16:03] vasilich6107 commented on #71
Sounds reasonable. I'll make a fix

[2021-01-07 22:26] Inmer opened #76 "Stack Overflow error when trying to use markAsDisabled()"
Getting this error
![image](https://user-images.githubusercontent.com/25564840/103949544-0b387a80-5101-11eb-905c-a408efb1dcdc.png)
when trying to use markAsDisabled(), I should add that it is happening only with this method, because if I use markAsEnabled() it is working as expected (it gets enabled when `control1.value != 1` if `control2.markAsDisabled();` is removed from the code below).

What I

[2021-01-08 00:33] Zacharias02 opened #77 "Dynamically add and remove validator in a specific formControl"
May I ask how to dynamically add and remove validator in a specific formControl.

For example,

[imgur.com/a/ERz7wGa](https://imgur.com/a/ERz7wGa)

[2021-01-08 09:32] joanpablo commented on #71
Hi @vasilich6107,

I think I will remove later the code that shows how to install the **reactive_forms_widgets** from README.md, and will left just the explanation about this new library.

I will remove this:

And add something like: "Please visit the package repository to know how to install it and read the doc about the widgets it contains.... etc" something like that.

[2021-01-08 09:36] joanpablo commented on #77
Hi @Zacharias02,

This is not implemented yet. But you can use a **FormGroup** validator that checks the value of control *Country* and set *required* or not to the control *County*.

[2021-01-08 09:40] vasilich6107 commented on #71
ok

[2021-01-08 11:12] joanpablo commented on #76
Hi @Inmer,

I've just release v8.0.1 that should solve the Stack overflow problem.

I don't know exactly what you are trying to accomplish but I don't recommend to enable/disable controls inside validators. I suggest you leave the validator just to validate, and you can add a listener to **FromGroup.valueChanges** to implement some logic based on values on controls and to enable/disable children c

[2021-01-08 15:25] Inmer commented on #76
Hi @joanpablo, thanks for the quick fix and also `FromGroup.valueChanges ` is what I was looking for.

[2021-01-08 15:25] #76 closed

[2021-01-09 12:19] vasilich6107 commented on #71
Closing this issue as there is nothing more to discuss :-)

[2021-01-09 12:19] #71 closed

[2021-01-13 10:56] tgbarker commented on #28
I wanted to approach this problem more or less, this is what I have come to so far. I haven't explored if it fills all the cases, but it satisfies my needs for the moment and maybe can inspire others.

This is class used in the form config object to encapsulate the form control for each element and also a function to take the value from the Reactive Form Field and assign it to my model object so I

[2021-01-13 11:35] joanpablo commented on #28
Hi @tgbarker,

Thank you for sharing your approach and for your kind words. Your implementation looks very interesting. I will definitely study it very closely, and try to compare it with the different approaches I've been applying in my projects to learn new ways of coding.

Thanks.

[2021-01-20 11:51] vasilich6107 opened #80 "PatternValidator does not allow to specify regex parameters"
RegExp class has some valuable parameters to specify

`multiLine`
`caseSensitive`
`unicode`
`dotAll`

Current implementation of `PatternValidator` does not allow to alter them

[2021-01-20 12:24] vasilich6107 opened #81 "Inline validators and validation messages"
Currently we need to manage validation in 2 places.

First place is the validators definition - we need to specify validation rule.
Second place is the `validationMessages` - we need to specify a map to define the wording for specific message.

This seems to be annoying  - I need to do the same thing in two places.
- when I define validators
- when I need to change validation rule and message
- wh

[2021-01-20 13:06] joanpablo commented on #81
Hi @vasilich6107,

Could you please give an example of the issue to fully understand it?

[2021-01-20 13:18] joanpablo commented on #80
Yes @vasilich6107 you are right, let me think about the best solution.

[2021-01-20 13:24] joanpablo commented on #80
Well, actually RegExp implements Pattern so it's possible to pass a Regex. Let me try some unit test and see what happen

[2021-01-20 14:21] joanpablo commented on #80
I have two solutions:
A-) Change **Validators.pattern(Pattern)** contract for **Validators.pattern(RegEx)**. That represents a Breaking change.
B-) Add a new method **Validators.patternRegex(Regex)** and change **Validators.pattern(String)**. This doesn't represent a breaking change but adds an additional method.

What do you think?

[2021-01-20 18:29] vasilich6107 commented on #80
I choose B with marking `Validators.pattern` as deprecated with link to this topic in description.
We can delete deprecated items lately

[2021-01-20 18:30] vasilich6107 commented on #80
Consider renaming Validators.patternRegex to Validators.regex

[2021-01-21 13:41] kuhnroyal opened #82 "Access raw value in validator"
I have a `FormControl<double>` but the input field is obviously a text field.
I want to validate that the String matches a pattern before it is converted by the value accessor.

Is that possible somehow? Couldn't find a way.

[2021-01-21 13:45] joanpablo commented on #82
Hi @kuhnroyal,

Could you please give an example of what you are trying to achieve? A use case to better understand the issue.

Thanks

[2021-01-21 13:58] kuhnroyal commented on #82
I tried to add a `Validator.pattern()` to my `FormControl<double>` to validate a maximum amount of fraction digits and correct decimal/group separator depending on the users locale.
But the pattern validator calls `control.value.toString()` in this case and the value is already the converted double value and does never match the pattern.
I basically want to run the pattern validator on the raw inp

[2021-01-21 14:03] joanpablo commented on #82
Hi @kuhnroyal,

Maybe with a full use case example, I will get the complete picture. Because maybe you just need to implement an  [TextInputFormatter](https://api.flutter.dev/flutter/services/TextInputFormatter-class.html) to correct decimal/group separator depending on the users locale.

[2021-01-21 14:04] kuhnroyal commented on #82
I will try that and get back to you.

[2021-01-21 14:06] joanpablo commented on #82
@kuhnroyal  another solution is to implement a custom [ControlValueAccessor](https://github.com/joanpablo/reactive_forms/wiki/Control-Value-Accessors) that correct String value before convert to double.

[2021-01-21 14:20] joanpablo commented on #80
Hi @vasilich6107,

I have just released v8.0.2.

Now you can pass an instance of a RegExp to the **Validators.pattern**. Please check if this resolves the issue.

[2021-01-22 12:14] kuhnroyal commented on #82
Yes, I already have a localized double accessor that uses `intl.NumberFormat` to parse.
I have now used a `FilteringTextInputFormatter.allow(RegExp(...))` and that works for my specific use case. Thanks for your advice!

I still think that any `ReactiveTextFormField` should work with `Validators.pattern` even if the backing ` FormControl<T>` is not `String` - for this to work, the validator needs

[2021-01-23 21:05] joanpablo commented on #82
Hi @kuhnroyal,

Sorry for the delay in the answer. I'm glad that you solved the issue. Please don't hesitate to reopen the issue or open a new one.

[2021-01-23 21:05] #82 closed

[2021-01-23 21:08] #77 closed

[2021-01-23 21:10] joanpablo commented on #77
I closed the issue for now. Don't hesitate to reopen it or open a new one.

[2021-01-27 18:49] rbozan opened #84 "Can't use flutter_localizations with reactive_forms because of outdated intl"
[code]

Using following override in your own pubspec.yaml seems to work for now:
[code]

[2021-01-27 20:44] tk512 opened #85 "ReactiveTextField looks strange using Flutter web"
I am using ReactiveTextField in the way shown in the example project of reactive_forms and it renders perfectly on desktop browsers, but on mobile (using the project built using: flutter build web --web-renderer html) the textfields start looking funny once they are selected.

Field initially:
https://i.imgur.com/6gFXpNf.jpeg

When selected, it displays a strange border:
https://i.imgur.com/hYa5tP

[2021-01-27 20:48] joanpablo commented on #84
Hi @rbozan,

Thanks for using Reactive Forms and for the issue. Yes that's the solution when an intl conflict is present. It's explained [here](https://github.com/joanpablo/reactive_forms#minimum-requirements) in de documentation. You have to override dependencies the **pubspec.yaml** of your project.

Is That the solution you did????

[2021-01-27 20:49] tk512 commented on #85
Update: maybe related to this ?  https://github.com/flutter/engine/pull/23969

[2021-01-27 21:42] joanpablo commented on #85
Hi @tk512,

Try to use a **TextField** o **TextFormField** instead of a **ReactiveTextField**. You may experiment the same results because **ReactiveTextField** is a wrapper to **TextField** the same as the **TextFormField**. It should be an issue with Flutter web. But please test with native text fields to check.

Thanks

[2021-01-29 11:40] rbozan commented on #84
Ah yes I did that and it works, but I think after some time it's nice to have this package also have updated `intl` so we don't have to override it ourselves. You can close this issue if you want :)

[2021-01-29 21:50] tk512 commented on #85
Hi @joanpablo, thanks for your reply.  It turns out that it was definitely an issue in Flutter, and it has already been fixed in Flutter master and soon to come in dev.

[2021-01-29 21:50] #85 closed

[2021-01-30 08:27] joanpablo commented on #84
Hi @rbozan,

You're definitely right, I will update **intl** in the next release. Thanks.

[2021-01-31 10:42] lem8r opened #86 "Migrate to null safety"
Hi!

Thanks for sharing your package.
Please consider migrating it to null safety.
All dependencies already has null-safety version so it's not blocking factor.

[2021-01-31 11:24] joanpablo commented on #86
Hi @lem8r,

Thanks for the advice. I will move it to null-safety.

[2021-01-31 11:34] joanpablo commented on #84
Hi @rbozan,

I'm planning to create a pre-release version with null safety, and in that version, I will introduce the prerelease version of intl: ^0.17.0-nullsafety.x

[2021-01-31 11:34] #84 closed

[2021-01-31 11:35] joanpablo commented on #80
Hi @vasilich6107,

I will close this issue for now. Please don't hesitate to open it again if you find some problems.

[2021-01-31 11:35] #80 closed

[2021-01-31 11:42] joanpablo commented on #81
Hi @vasilich6107,

I made a separation between the business logic of the validator and the messages to show when the validator marks the control as invalid.

In my opinion is not good to define error *text messages* in controller classes, because text messages can be translated into several languages, and is the UI (context), responsible for showing the right message according to the error (repres

[2021-02-01 07:11] rbozan commented on #84
Thank you very much

[2021-02-02 09:46] Skanda-Kumar opened #87 "How can I add validation error messages for ReactiveCheckbox as like ReactiveTextField"
ReactiveTextField(
      style: TextStyle(fontSize: 25),
      formControl: store.fg.controls['name'],
      validationMessages: (control) => {
        ValidationMessage.required: 'Name Is Required',
        ValidationMessage.minLength: 'Min Length is 2'
      },
    )

[2021-02-03 09:18] joanpablo commented on #87
Hi @Skanda-Kumar,

Thanks for using Reactive Forms and for the issue. Well actually in the native Flutter Checkbox there is no Validator function, which means that Flutter doesn't validate or show error messages for checkboxes.

On the other hand, Reactive Forms does allow you to validate a form control bound to a Checkbox (for example **Validators.requiredTrue**). But is up to you to show the mes

[2021-02-03 10:13] uhisdu opened #88 "Platform Specific Widget"
how we can implement platform specific controls in reactive forms? Is it automattically handling the platform specific widgets ?

[2021-02-03 10:43] Skanda-Kumar commented on #87
Thanks for your quick response!

My requirement is like if you have a **I Agree** check box and in the formgroup if you give the formcontrol as required, then it should show the error message as like how it is showing for text field as shown in the image below on clicking the submit button.

![image](https://user-images.githubusercontent.com/61859748/106735675-8b87c800-663a-11eb-9f31-72c2478a7f83.

[2021-02-03 13:06] joanpablo commented on #88
Hi @uhisdu,

Actually, the native Reactive Forms widgets use Material. You can easily create custom widgets wrapping Cupertino widgets or using a plugin that handles automatically the platform-specific widget.

[Here](https://github.com/joanpablo/reactive_forms/wiki/Custom-Reactive-Widgets) you can find how to create Custom Reactive widgets.

[2021-02-03 13:33] joanpablo commented on #87
Hi @Skanda-Kumar,

you can use the **ReactiveStatusListenableBuilder** to show/hide the error like this:

[code]

and in the onPressed of the button:

[code]

Of course, there is a second solution that is to disabled the Button and enabled just when the form is valid.

Please let me know if this answers responses your question.

[2021-02-04 04:39] Skanda-Kumar commented on #87
This works for me. Thanks !!

[2021-02-04 04:39] #87 closed

[2021-02-09 19:23] daniel-lucas-silva commented on #64
i solve this problem wrapping the result in a new List
for example

[code]

[2021-02-10 07:48] pbhuvanesh opened #89 "How do I test for a property in ReactiveTextField?"
Hello,
I would like to test the reactivetextfield for `autocorrect` property and several other properties using testWidget under flutter test. Could someone please tell me how to achieve this?
[code]
using this formfield I do not find any property called autocorrect or any other reactiveform property.

Thanks!

[2021-02-10 08:35] joanpablo commented on #89
Hi @pbhuvanesh,

Try using TextField instead of **ReactiveTextField**. ReactiveTextField is just a wrapper to TextField so you can  search this last one directly:

[code]

[2021-02-10 09:06] joanpablo commented on #64
Hi @daniel-lucas-silva,

It seems to be an issue with the **MultiSelectChipDisplay**. The reason why calling: **field.didChange(value)** is not triggered a value change is because there is no value change at all, which means you are passing the same value that the control has in its previous state.

There is a statement in **ControlValueAccessor** line 52 that prevents unnecessary event triggers w

[2021-02-10 10:01] pbhuvanesh commented on #89
Thank you @joanpablo  this worked.

[2021-02-10 10:11] #89 closed

[2021-02-10 11:00] joanpablo commented on #81
I am going to close this issue for now by not receiving feedback for several days.
Please feel free to open it again or a new one.

[2021-02-10 11:00] #81 closed

[2021-02-10 12:05] Fiyiin opened #90 "Error message pushes widget up"
When there's an error, the error message pushes up the Reactive widget. Is there a way to change this behavior?
(The phone number widget in the screenshot)

![photo_2021-02-10_13-03-29](https://user-images.githubusercontent.com/38258693/107507832-6c3fec00-6ba0-11eb-80c5-03dd716ed7cb.jpg)

[2021-02-10 14:17] joanpablo commented on #90
Hi @Fiyiin,

Thanks for using **Reactive Forms**. This is a behavior in Flutter for errors when showing up, they push other widgets down, or in your case, because of some custom layout, it is pushing your widget up.

You can modify your layout to push the other controls down, or contemplate the space of the message when designing the layout.

[2021-02-10 14:51] Fiyiin commented on #90
@joanpablo Thank you for the support. You're doing a great job

[2021-02-10 14:51] #90 closed

[2021-02-10 15:29] joanpablo commented on #90
Thanks for your kind words @Fiyiin.

[2021-02-11 15:11] huephase opened #91 "Implementing Groups of Groups 😁"
Its not clear how to render Groups of Groups:

`final form = FormGroup({
  'personal': FormGroup({
    'name': FormControl<String>(validators: [Validators.required]),
    'email': FormControl<String>(validators: [Validators.required]),
  }),
  'phone': FormGroup({
    'phoneNumber': FormControl<String>(validators: [Validators.required]),
    'countryIso': FormControl<String>(validators: [Validator

[2021-02-11 15:27] joanpablo commented on #91
Hi @huephase,

Thanks for using Reactive Forms and for the issue.

As I see in your example, you have a several child groups of the principal *form*, that's good. Now you probably want to bind a **ReactiveTextField** to the *name* of the person, so you can use the sintax:

[code]

The above code is in case you have for example a **ReactiveForm** (or a ReactiveFormBuilder) and as a child you have t

[2021-02-11 15:34] huephase commented on #91
Excellent! much appreciated!

[2021-02-11 23:40] Darksoulsong opened #92 "_mustMatch example on ReactiveFormBuilder"
I'm trying to make the "passwords must match" example to work with the ReactiveFormBuilder, but it seems I'm unable to retrieve the field value

[code]

The third line is throwing "type 'FormControl<String>' is not a subtype of type 'FormGroup' in type cast". So I tried to use `fb.control(controlName)` instead, but it seems it just creates a new control rather than retrieving an existing one.

Is

[2021-02-12 12:09] Darksoulsong commented on #92
I just noticed I was passing the "_mustMatch" function into the wrong place, it must be run as a second argument on the fb.group function, in a array of validators, like so:

[code]
Now it's working perfectly.

[2021-02-12 12:09] #92 closed

[2021-02-13 15:14] #91 closed

[2021-02-14 23:05] radvansky-tomas commented on #86
+1

[2021-02-15 03:43] gmcdowell commented on #86
+1

[2021-02-17 21:31] gmcdowell commented on #86
Hi,

I have a [working version](https://github.com/tierratechnologies/reactive_forms) of null-safety changes that I am just doing some QA on.
Hope to have a PR in soon.

[2021-02-18 11:47] Mhamza-MM opened #93 "Dynamic Form Group"
Is it possible to create FormGroup with the desired number of fields?
Like creating FormGroup from a JSON that returns an Array?

[2021-02-18 12:17] joanpablo commented on #93
Hi @Mhamza-MM,

Thanks for the issue, but could you please give me an example (a use case) so I can better understand what you are trying to achieve?

[2021-02-18 12:20] joanpablo commented on #86
Hi guys,

Thanks for this issue, I see is very useful. I will need a little more time, I have a release soon that needs some adjustments first. And after that, I will work on this issue.

[2021-02-18 12:45] Mhamza-MM commented on #93
I have a sample JSON

{
    "display": "form",
    "data": [
        {
            "field_name": "name"
        },
        {
            "field_name": "email"
        },
        {
            "field_name": "password"
        }
    ]
}

now the number of Objects in "data" will be the number of fields in FormGroup. These can be dynamic. I want to show widgets (text fields for now) according to the r

[2021-02-18 14:02] joanpablo commented on #93
Hi @Mhamza-MM,

If you want to add controls dynamically to a FormGroup, you can try **FormGroup.addAll** method:

[code]

Please let me know if this approach fits your needs.

[2021-02-19 05:42] Mhamza-MM commented on #93
That solved my current problem. I am closing this issue now but I might reopen the issue if the topic of the problem is similar. I am learning the reactive forms and your repository is great. I wanted to know one more thing.
How can we separate different form groups? Is there any identifier so that I can separate fields from their type for better testing?

[2021-02-19 05:42] #93 closed

[2021-02-21 22:18] derolf commented on #86
Bugs:

Line 855 models.dart should be:

[code]

[2021-02-28 16:29] hayashi-ay opened #96 "Question: How to get form.valid outside ReactiveForm widget?"
Hi there,

Thanks in advance.

My question is is there any way to get form.valid outside `ReactiveForm`.
I know `ReactiveFormConsumer` watches the status of the form and rebuild UI when it is changed but I want to place button widgets outside `ReactiveForm`.

The example code is:

[code]

[2021-02-28 19:02] vasilich6107 commented on #96
Hi @hayashi-ay
You can move `ReactiveForm` upper in the tree above the `Scaffold` widget.
This should help you

[2021-03-01 08:33] hayashi-ay commented on #96
@vasilich6107 Thanks a lot. It worked fine by wrapping `ElevatedButton` by `ReactiveFormConsumer` besides your suggestion.
[code]

[2021-03-01 09:38] joanpablo commented on #96
Hi @hayashi-ay,

Thanks for using Reactive Forms and for the issue.

If you want to listen for changes in the *status* of the FormGroup (to be notified if the form is valid, pending, or invalid) you will need to subscribe to **FormGroup.statusChanged**. Widgets like **ReactiveFormConsumer** and **ReactiveStatusListenableBuilder** are just wrappers around **InheritedStreamer**(a Reactive Form libra

[2021-03-01 11:43] mayankjanmejay opened #98 "Please update intl version"
Hello,

The forms are amazing... Could you please update your Intl dependency. I am getting the following error.

Because reactive_forms >=8.0.0 depends on intl ^0.16.1 and GreenSFADO depends on intl ^0.17.0, reactive_forms >=8.0.0 is forbidden.

[code]

[2021-03-01 12:37] #88 closed

[2021-03-01 12:39] joanpablo commented on #98
Hi @mayankjanmejay,

Thanks for using Reactive Forms and for your kind words. We are working on that. In the issue https://github.com/joanpablo/reactive_forms/issues/86

Meanwhile, you can use the solution described [here](https://github.com/joanpablo/reactive_forms#minimum-requirements) to solve your issue:

[2021-03-01 12:44] mayankjanmejay commented on #98
Welcome :)

Amazing, I just updated intl in the local package. I'll start using dependency_overrides instead.

[2021-03-01 12:44] #98 closed

[2021-03-01 14:32] hayashi-ay commented on #96
Hi @joanpablo ,

Thanks for the detail explanation.
I finally use `formGroup.statusChanged.listen` with using `StateProvider`.

[code]

[2021-03-01 14:32] #96 closed

[2021-03-01 17:54] joanpablo commented on #96
Hi @hayashi-ay,

I would like to suggest, that be aware of using *formGroup.statusChanged.listen* inside the **Widget build(BuildContext context)** method. That means that each time the widget rebuilds, it will add a callback, and maybe you should add it only once.   Almost always this is used inside a Stateful Widget or a *controller/bloc/viewmodel* in a state management library like Provider or

[2021-03-02 16:17] hayashi-ay commented on #96
@joanpablo Thanks a lot. I changed my code without using *statusChanged.listen*.

[code]

[2021-03-02 16:18] jbt-cii opened #99 "Problem using dependency_overrides intl: ^0.16.1 => conflict with "easy_localization" package (3.0.0)"
Hello,

Thank you for your great package.

I am connected ton flutter "channel master" and I was very happy to use your package because it seems very more simple to interact with form fields than "TextFormField".

To make translations I need to use the great "easy_localization" package but only the version 3.0.0 of this package works with flutter "channel master" with "intl: ^0.17.0", so as it is

[2021-03-02 16:33] joanpablo commented on #99
Hi @jbt-cii,

Thanks for trying to use Reactive Forms and for the issue. Have you tried to use:

[code]

Please try setting 0.17.0 instead of 0.16.1 and let me know the results.

Best regards

[2021-03-02 16:37] joanpablo commented on #96
Hi @hayashi-ay,

It is good to know that you have solved the issue. Don't hesitate to open another or reopen this one if you have any other questions.

Best regards

[2021-03-02 16:45] jbt-cii commented on #99
Yes it works now!
I can execute my application.
I will be able to continue my dev and my tests tomorrow.
Thanks a lot!

[2021-03-02 16:45] #99 closed

[2021-03-03 10:58] gibahjoe opened #100 "Expected a value of type 'AbstractControl<String>', but got one of type 'FormControl<dynamic>'"
Hi,

After upgrading to 9.0.1, I get the following error in the title `Expected a value of type 'AbstractControl<String>', but got one of type 'FormControl<dynamic>'`.  I am not sure why this is a problem since form control does inherit abstract control.

[2021-03-03 11:33] jbt-cii opened #101 "Error: ReactiveFormField widget couldn't find a parent widget. An instance of ReactiveTextField<dynamic> widget must be under a ReactiveForm or a ReactiveFormArray in the widgets tree."
Hello,

Since yesterday, I try to use this great package with the configuration explained in that closed issue:
https://github.com/joanpablo/reactive_forms/issues/99

Today I have the following error:

[code]

I began recently to develop in Flutter so maybe my questions are basics.
And sorry if my sentences are not very good I'm French :-)

I try to implement the method explained in this example:

[2021-03-03 14:30] jbt-cii commented on #101
I tried what I said before... using directly "ReactiveForm()" does not work either.
Maybe because the final "ReactiveTextField" are inside StatefulWidget (in the "State" part).
The FormGroup is declared outside (elsewhere higher in the widget tree).
Did you try such a usage before?

[2021-03-03 14:56] kuhnroyal opened #102 "Type problems"
The 9.x version broke a couple of things related to types.

The main thing that is not working for me anymore are validators:

[code]

This happens due to missing generic types here: https://github.com/joanpablo/reactive_forms/blob/master/lib/src/models/models.dart#L89

But if I add the types there, then the form builder (which I don't use) doesn't work anymore as it completely relies on `dynamic`

[2021-03-03 16:25] jbt-cii commented on #101
OK I had a problem in my declaration of "FormGroup".
I forgot to declare the good fields here:
[code]

Better with:
[code]

I close this issue :-)

[2021-03-03 16:25] #101 closed

[2021-03-03 16:35] joanpablo commented on #100
Hi @gibahjoe,

Thanks for using Reactive Forms. COuld you please show me how you are defining the FormGroup and how you are binding controls with widgets?

Basically in version 9.x.x I have made a little more strict the type definition to minimize the runtime errors (or at least throw an error more explicitly when there is a cast error).

But basically, the error is saying that one of your widgets

[2021-03-03 17:34] joanpablo commented on #101
Hi @jbt-cii,

Thanks for using Reactive Forms, I'm glad that you have solved the issue. Don't hesitate to open another if you have more questions.

Best regards

[2021-03-03 18:04] jbt-cii opened #104 "Error: type 'FormControl<dynamic>' is not a subtype of type 'int'"
Hello,

I open a new issue because I can't find a good way to mix controls for input fields containing "integer" values and fields containing "String" values.
Example:
[code]

I tried several things from the severals examples you gave.
I tried also that:
[code]

I tried also to use this:
[code]

I tried also to change the "FormGroup" declaration like this:
[code]

Each time I get an error like thi

[2021-03-03 18:07] gibahjoe commented on #100
Thanks.

Your explanation really helped me figure out where the issue was. I had to specify the type `<String>` on all my controls on the page in question. Thanks again.

[2021-03-03 18:07] #100 closed

[2021-03-03 18:07] jbt-cii commented on #101
Thanks for your answer.
Yes I have another question so I have just opened another issue:
[https://github.com/joanpablo/reactive_forms/issues/104](https://github.com/joanpablo/reactive_forms/issues/104)

:-)

[2021-03-03 18:45] joanpablo commented on #104
Hi @jbt-cii,

This definition:

[code]

is just OK. It doesn't throw an exception, so I guess you are having trouble defining the WIdget.

Could you please show me the complete example, the definition of the form group, and how you bind the group with widgets?

[2021-03-03 22:22] joanpablo commented on #102
Hi @kuhnroyal,

Thanks for the issue, very useful. I have detected a problem that for some reason didn't come up in tests (a bug is always a missing test). I had to roll back the strong type in ValidatorFunctions.

Please update and try the last version 9.0.2, and let me know if the issue is solved.

Thanks and Best regards

[2021-03-03 22:24] joanpablo commented on #104
I have also released a new version update and let me know. Thanks

[2021-03-03 23:53] jbt-cii commented on #104
Thank you for your answer.
It is late now in France but I checked this issue to see if you had a solution.
I have just tried the new version (9.0.2) but I still have the error.
You have the complete example in the issue #101 :
[https://github.com/joanpablo/reactive_forms/issues/101](https://github.com/joanpablo/reactive_forms/issues/101)

From the complexe example in the issue #101 I changed one t

[2021-03-04 00:05] jbt-cii commented on #104
And this is the whole error:

[code]

[2021-03-04 00:13] jbt-cii commented on #104
And this is the part for the button tapped that was not indicated in the issue #101:

[code]

[2021-03-04 05:43] BenjaminFarquhar opened #106 "value accessor error - type is not a subtype of type 'String' of 'viewValue'"
Hi there, I'm using `reactive_forms: ^9.0.2`

I'm having a hard implementing a custom value accessor.

the value accessor looks absolutely fine when I compare it to the other value accessors in the official code:

[code]
So it must be what I'm doing not in the value accessor, which is the problem. I am trying to update the field programmatically like so:

[code]
However, I get this error:

[code]

[2021-03-04 07:40] joanpablo commented on #104
Hi @jbt-cii,

I have recreated your code the best I could, and everything works just fine. The only pieces I haven't tested was the ones related to your Cubit controllers. So I guess that maybe this function:

[code]

is expecting "int" as arguments maybe is expecting 2 "int" and a "String". but you are passing FormControl.
This expression:

[code]

returns a **FormControl** not the value of the F

[2021-03-04 10:41] jbt-cii commented on #104
Yes!
Your idea was good.
Now I have another error:
[code]

But it does not concern your opackage anymore :-D

So the whole solution seems to be that:

[code]

Thanks a lot for your help!!!

[2021-03-04 10:41] #104 closed

[2021-03-04 11:11] joanpablo commented on #104
Hi @jbt-cii,

Is good to know you have solved the issue. My last advice is to always try to declare you FormGroup within your controller/viewmodel/bloc/cubit/etc. That way you don't need a stateful widget because the cubit or bloc/controller will always hold the state and you have access to it from your widgets(using context.bloc<ComponentCubit>). That way you declare your form group (that is the

[2021-03-04 11:27] joanpablo commented on #106
Hi @BenjaminFarquhar,

Thanks for using Reactive Forms.

There are a few concepts related to ControlValueAccessor

when you declare:

[code]

you are saying that the Type of the model (the FormControl) is **EstablishmentDomainEntity** and the type of the View (your input widget) is  **String**.

So the ControlValueAccessor will convert from one type to another when interchange data between view an

[2021-03-04 14:20] vcanuel commented on #86
HI, please note that intl 0.17.0 is required now (with flutter 2)

[2021-03-04 15:14] joanpablo commented on #86
Hi @vcanuel,

I have just released 9.1.0. This version includes the latest version of intl: 0.17.0.

Reactive Forms is not yet null safety but at least it includes the intl latest version.

Thanks and Best Regards

[2021-03-04 16:49] jbt-cii commented on #104
Thank you for the advice.
I will try that and I will tell you if I succeed to do it :-)

[2021-03-04 17:57] rbozan opened #107 "A FocusNode was used after being disposed."
Hi, I'm getting the following error unfortunately and I'm not sure why:

[code]

The FormGroup:
[code]

The ReactiveTextField which is mentioned in the error:
[code]
[code]

However using `Navigator.of(context).pushNamed('/rooms')` just works fine. When I decided to use `pushNamedAndRemoveUntil` later it however seems to trigger the same error.

Thanks!

[2021-03-04 19:49] vasilich6107 opened #108 "What type of reactive field do you think is missing?"
Hi. We are collecting missing fields requests under this issue - https://github.com/artflutter/reactive_forms_widgets/issues/6

[2021-03-05 04:21] BenjaminFarquhar commented on #106
Thanks @joanpablo! That has cleared things up! My code is working as expected now that I know that 👍🏻

Cheers!

[2021-03-05 04:21] #106 closed

[2021-03-05 12:24] kuhnroyal commented on #102
`9.0.2` works but it is also a step backwards. `dynamic` is the mortal enemy of null-safety. I strongly suggest to get rid of the dynamic form builder and add strong typing before adding null-safety. Otherwise null-safety will in most cases not have the desired impact.

[2021-03-05 13:29] joanpablo commented on #102
You are right @kuhnroyal, after finish the opened issues related to some bugs, I will focus on null-safety. Your issue helps me to detect a unit test that was not correctly coded. I'm glad that everything is now working as expected for you. For now, I will close the issue. Please don't hesitate to open it again or to open another if you find any other issue.

Best regards

[2021-03-05 13:29] #102 closed

[2021-03-06 11:14] kuhnroyal commented on #86
@joanpablo  I want to reiterate my points about type-safety before null-safety that I made in different places across the project.

`dynamic` can be `Object` or `Object?` and this is a huge problem for the null-safety migration tool, as well as for manual migration. Currently a lot of types in the library are or return `Type<dynamic>`.
In my opinion this needs to be fixed before there is a chance

[2021-03-06 11:26] joanpablo commented on #86
Hi @kuhnroyal,

Thanks for your great warning, I will take it into account when rethinking the dynamic type system. Right now I'm doing the migration manually and analyzing each line of code in the project. I have configured the project to be fully null-safety compatible, and now I'm fixing incompatibilities line by line. This is a very good exercise to rethink each decision I have made in the pro

[2021-03-06 11:42] radvansky-tomas commented on #86
That dynamic part is probably from whole reactive forms JS/TS vision, I get that and agree that we should change it and adopt more type safe code, with generics for places where it make sense.

[2021-03-08 10:16] jbt-cii commented on #104
Hi @joanpablo,

I try to follow your advice but I can't figure how to do that.
Do you mean that the "form" widget (ReactiveForm), the fields "ReactiveTextField" and also the "ReactiveFormConsumer" part have to be implemented inside the Cubit (or Bloc) file?

I can't understand the way to link a "front" widget declaring a form (what I have to declare ? a classic "Form" widget or "ReactiveFormBuilde

[2021-03-08 10:41] joanpablo commented on #104
Hi @jbt-cii,

I will give you a very simple example with Provider plugin, you can see that is the same with Cubit.

[code]

[code]

[2021-03-08 16:32] jbt-cii commented on #104
It was not so easy in my case but I succedeed defining it inside my Cubit part.
Thank you!!!

[2021-03-11 14:27] prakash-indorkar commented on #86
Hi guys!, thanks for the great contribution. Just wondering how far are we for null safety release. I'm new to this package, I've been using flutter_form_builder before but this package seems much more advanced and featureful. I have already moved my app to null safety except for the forms. Just waiting for the null safe version of this package to use it properly. Thanks in advance.

[2021-03-13 01:15] fchiumeo commented on #77
I just created the PR #109

[2021-03-14 10:40] vpxoxo opened #110 "how to set a field visible/invisible based on a value chosen in another field?"
I was trying to wrap with Visibility widget but I can't change the visible value on value change in another field.
Thanks in advance!!

[2021-03-14 12:33] joanpablo commented on #110
Hi @vpxoxo,

If you want to be notified each time the value of a control changes, then you should use the **ReactiveValueListenableBuilder** widget and to show/hide a widget you can use the [Visibility](https://api.flutter.dev/flutter/widgets/Visibility-class.html) native widget from Flutter.

[2021-03-15 13:42] joanpablo commented on #110
Hi @vpxoxo,

This is more or less how the code should look likes:

Given the FormGroup definition:
[code]

And the ReactiveForm widgets:
[code]

[2021-03-16 16:08] jbt-cii opened #111 "How to change the color of a button when the form is valid before clicking on the button"
Hello,

I try to follow explanations detailled here:
[https://github.com/joanpablo/reactive_forms#enabledisable-submit-button](https://github.com/joanpablo/reactive_forms#enabledisable-submit-button)

I success to disable the button but I don't understand something.
Before clicking on the button how can I change the color of a button when the form is valid?
I think I need a listener or something l

[2021-03-17 09:58] DevNico commented on #111
You said you successfully disabled the button already therefore just set the buttonStyle to something like:
[code]

[2021-03-17 15:28] jbt-cii commented on #111
Thank you.
It works now!

I had some 'context' problems.
I use the same widget for all buttons in my application.
But I had problems with buttons not used with a form (buttons simply in order to navigate between 2 pages).
=> form was not known i these cases.

And also I had problems managing colors.
I got this error:
[code]

I had this error even with your solution.
Finally it seems it was because

[2021-03-17 15:28] #111 closed

[2021-03-17 16:38] jbt-cii opened #112 "How to use ReactiveTextField / obscureText property with an icon to change the visibility?"
Hello,

Before using "reactive_forms" I used "TextFormField" and I could manage "osbcureText" property like this:
[code]

When I clicked on the InkWell icon I could see the content of the field and the "icon" changed.

But now with "ReactiveTextField" I did not work anymore.

I think there is something to do similarly to this issue:
[https://github.com/joanpablo/reactive_forms/issues/111](https://

[2021-03-18 00:23] cedvdb commented on #86
@joanpablo I hope you don't go too far down the refactor rabbit hole. If you feel like it's necessary, so be it though.

[2021-03-18 00:26] prakash-indorkar commented on #86
I agree with @cedvdb. I think at least pre-release should be released.

[2021-03-18 08:06] jbt-cii commented on #112
Following this link [https://api.flutter.dev/flutter/material/MaterialStateProperty-class.html](https://api.flutter.dev/flutter/material/MaterialStateProperty-class.html) I have just tried this:
[code]

I still have this error:
[code]

[2021-03-18 10:50] kuhnroyal commented on #112
Why are you trying to use a `MaterialStateProperty`? `obscureText` is a `bool`, of course you get a type error.
This should work in the same way it did with the normal form field.

[2021-03-18 11:32] jbt-cii commented on #112
I don't really know why but with "ReactiveTextField" the method I explained did not work anymore.
obscureText does not take into account the new value of my variable "_isSecret" when I click on the "Icon" of the "InkWell" widget.

[2021-03-18 12:25] kuhnroyal commented on #112
Then this is could be a bug in `ReactiveFormField`.

[2021-03-18 12:27] kuhnroyal commented on #112
But yea, I am doing the same with 9.1.0 and it works. So it is probably a state problem on your end.

[2021-03-18 12:55] jbt-cii commented on #112
I use  the "ReactiveTextField" inside a StatefulWidget.
i added some logs to try to understand.
This is the current version of code:
[code]

When I click 2 times on the "InkWell" icon I get these logs:
[code]

So I see that:
- the click change the value of the private variable _isSecret
- the function getIsSecretValue() is called during the click
- but the value returned by getIsSecretValue() is a

[2021-03-18 13:03] kuhnroyal commented on #112
Can you please use ` ```dart` for code block so there is code highlighting.

[2021-03-18 13:05] kuhnroyal commented on #112
You are basically always using `widget.isSecret` since you are checking that in the `build` function. You should move that to `initState` and `didUpdateWidget`.

[2021-03-18 13:08] jbt-cii commented on #112
yes I was thinking the rebuild of the widget make the value of "_isSecret" always to "true".
I'm going to see how to use "initState" or "didUpdateWidget".
I change my previous adding "```dart" :-)

[2021-03-18 13:18] jbt-cii commented on #112
Yes it works now!
I change my code like this:
[code]

Many thanks!

[2021-03-18 13:18] #112 closed

[2021-03-18 13:42] kuhnroyal commented on #112
This looks much better.

Depending on your use-case you may also check for changes on the Widget.
Maybe something like this:

[code]

This would happen if you change the `isSecret` flag from the outside.
Or you may also check for changes to `fieldType`, also depending on your use-case.

[2021-03-18 14:02] jbt-cii commented on #112
In your solution should I continue to implement "_isSecret" with the value of "widget.isSecret" in "build" function?

In my case that doesn't work, I've just tried this:
[code]
The function "getIsSecretValue" called during "onTap" action always returns "true".

[2021-03-18 14:23] jbt-cii commented on #112
OK I understand.
I'm self-training in Flutter so I'm still missing some basics I think :)
Thanks for your explanation that will help me I think!

[2021-03-19 01:23] JulianSwales opened #113 "Multiple Listeners"
This is more a question then an issue..
I'm looking at this solution to replace flutter_form_bloc which is no longer being supported. That solution had fieldname.OnValueChanged which I used because I have three fields linked such that the value change on each affected the others and the result of all three is sent to a server.
A date field, number of hours, and start time. Changing the date field

[2021-03-19 16:01] joanpablo commented on #113
Hi @JulianSwales,

Thanks for the issue, I will try to explain the different options you have to archive what you want.

The widget **ReactiveValueListenableBuilder** actually listens for changes of the value of a specific control. This widget is best suited for cases in which you want to update the widget's tree (that means repaint or rebuild the UI) based on a value of a control. For example, yo

[2021-03-19 16:02] joanpablo commented on #110
Hi @vpxoxo,

Have you resolved your issue? Do you have any other questions about this issue?

[2021-03-20 02:37] JulianSwales commented on #113
Hi @joanpablo
Thank you so much for this. This valueChanges option will be helpful. I will take a closer look at that option.
Do you know if there's an example of the state management binding to the formGroup of the ViewModel?
As I said this is a learning experience and a challenging one. Flutter is fun, but it changes fast, and as I've discovered, sometimes libraries get left behind, as in the fl

[2021-03-21 09:57] sokolej79 opened #114 "New library flutter_forms difference"
New library for flutter forms similar to reactive_forms has been published.
Both are like angular reactive_forms for flutter.
What is the difference between these two libraries?
Pros/cons?

[2021-03-21 10:19] sokolej79 commented on #114
Link to new library:
https://pub.dev/packages/flutter_forms

[2021-03-21 17:21] AnanthGopal opened #115 "How to add dynamic two field compare validation"
How to add dynamic two field compare validation like below

this.form.validators.addAll(
            {
              Validators.mustMatch('password', 'confirmPassword'),
            },
          )

[2021-03-21 17:49] kuhnroyal commented on #114
That is a blatant steal...

[2021-03-21 17:53] vasilich6107 commented on #114
@sokolej79 main cons of `flutter_forms`

- less features
- less components
- bloated with dependencies while `reactive_forms` depends only on `flutter` and `intl`

[2021-03-22 01:48] JulianSwales commented on #113
@joanpablo
I'm making progress... However I have another question..
I have an async Validator defined at the Group level..

` final form = FormGroup(
    {
      'bookingInfo': FormGroup(
        {
          'bookingDate': FormControl<DateTime>(
            validators: [Validators.required],
          ),
          'numberOfHours':
              FormControl<String>(validators: [Validators.required]

[2021-03-22 03:11] julek-kal opened #116 "Multiple validators"
Hi, I want to achieve something like this bellow.
![image](https://user-images.githubusercontent.com/35259453/111934693-36a4f180-8ac2-11eb-9058-46d536fefc20.png)
So I need an access to status of all validators in FormControl.
I have tried with `control.errors` but if I have [required, pattern, pattern] validators, getting errors in sequence. It would be perfect, if I get a Map of validators and it

[2021-03-22 09:42] joanpablo commented on #110
I will close the issue for now. Please don't hesitate to open it again if you have any other questions.

[2021-03-22 10:31] joanpablo commented on #114
Hi @sokolej79,

Thanks for the issue, if it wasn't for your issue I probably wouldn't know that a new library with almost the same names was released. Each time I have decided to contribute to the community I first make deep research on the Internet to see if somebody else already has implemented the solution I'm looking for. And only after deep research and a lot of time testing different solutio

[2021-03-22 10:34] joanpablo commented on #115
Hi @AnanthGopal,

Thanks for your issue.

Could you please give us a complete use case of what you are trying to achieve? Maybe with a better example, We can help you better.

Best regards

[2021-03-22 10:46] joanpablo commented on #116
Hi @julek-kal,

Thanks for using **Reactive Forms**.

I'm trying to understand your issue, but I'm not sure what is not working for you.

Given the form group definition:
[code]

The follow expression:
[code]
will print all the errors of the *email* control.

and
[code]
will print all the errors of the complete form group.

The only errors that will not trigger ra the async validators only if ther

[2021-03-22 11:20] AnanthGopal commented on #115
Requirement: For example, i have a screen like the Reset password screen, Initially I will show the one textbox(Get emailed from the user) and generate the OTP button.

The user enters a valid email id then click generate OTP button, after that we send OTP mail and we will show 3 more textboxes like OTP textbox and password textbox and confirm textbox

here I need to add validation dynamically lik

[2021-03-22 14:01] julek-kal commented on #116
So I have 3 validators, first is `required`, and two different `pattern` validator.

I can't find a method to display error from two pattern validators at once.
Always at first I'm getting an error from **CustomValidators.minOneUpperLetter**, only then **CustomValidators.minOneDigitOrSpecialCharacter** returns an error.
Now I'm started to thinking that is issue of bad RegExp, but I'm not sure.

ht

[2021-03-22 23:14] AnanthGopal opened #117 "Show hide password eye icon react native flutter"
Hi friends,

you are doing great work.

is have an option to show hide password eye icon react-native flutter

[2021-03-23 01:46] AnanthGopal opened #118 "Can you add validation message in reactivecheckboxlist like below image"
![image](https://user-images.githubusercontent.com/13050426/112080258-a345ec00-8ba7-11eb-952e-15f23a8266a7.png)

[2021-03-23 07:52] ayushin commented on #41
How is autofillHints would be a breaking change? It's just an extra argument to pass and if the parent widget does not have or use it - there should be no problem.

[2021-03-23 09:33] kuhnroyal commented on #41
But then how do you know when to pass it to the parent widget? The parameter does not exist in 1.17.

[2021-03-23 09:37] ayushin commented on #41
I guess you could make a compatibility widget inheriting TextField with the autofillHints override in it's constructor.

But with flutter stable now at 2.0.3 is this longer relevant?

[2021-03-23 11:20] AnanthGopal opened #119 "onchange event in the reactive switch"
Hi friends

I check the reactive switch, is it have onchange event in the reactive switch?

I need to do some work based on the reactive switch selection mode so that I need onchange event

[2021-03-23 14:35] JulianSwales commented on #113
Hi @joanpablo
Thank you so much for your help.. Moving forward and I've even sorted out how to use a viewModel
I have a couple of questions..
I have the following form:

[code]

[code]

[2021-03-23 15:13] obione94 opened #120 "override DoubleValueAccessor"
'longitude': fb.control<double>(12.555555555,[]),
return 12.6 arfffff
how configure no this.fractionDigits please broo

[2021-03-23 15:50] joanpablo commented on #41
Hi @ayushin,

This is the older issue. At the moment of the issue, the version of the library was in Flutter 1.17. After I Have released the Flutter 2.0 version, then I will work on this issue.

Best regards.

[2021-03-23 16:05] joanpablo commented on #113
Hi @JulianSwales,

Thanks for your kind words, and I'm glad that you see the potential of the library.

I have read your question, and I need to understand something about your code: Why you need the **message** control? Are you using the *message* control to personalize the Error Message? If that is the reason for using the *message*, then I can tell you that there are better ways to personalize

[2021-03-23 16:06] joanpablo commented on #107
Hi @rbozan,

Have you solved your issue??

[2021-03-23 16:34] joanpablo commented on #115
Hi @AnanthGopal,

If you allow me, I will advise you to enable/disable the controls. When controls are disabled, they are not included in form validation checks or in the value of the FormGroup. You can also hide/show controls based on the value of the **enabled/disabled** properties of the control.

For example, all you need to do is to create a FormGroup with all your controls:

[code]

And when

[2021-03-23 16:56] joanpablo commented on #116
Hi @julek-kal,

Thanks for your kind words! As you can see in your video (great video showing the validators in action) all validators are running each time you change the value. I can check your *pattern validators* but maybe they are overridden each other, and you only see one at a time because of the regular expressions.

When I have trouble finding the right regular expression, I always use ht

[2021-03-23 17:08] joanpablo commented on #117
Hi @AnanthGopal,

This is a small portion of code of a Reactive Password Text Field, I have created in the past in one of my projects:

[code]

You can also create a custom Reactive Widget applying the same principle, basically is creating an InputDecoration with a Suffix icon, and show/hide the icon depending of value of the control your widget is bound.

[2021-03-23 17:12] JulianSwales commented on #113
Hi @joanpablo
Whilst this async validator you see currently does not do anything, what it will do is query a server based on the value of the three fields and returns data. There's two parts to the data returned. Whether there is an available option, if not the validator will return an error state to the form, as well as a message with available options available or, if there is an available optio

[2021-03-23 17:26] joanpablo commented on #118
Hi @AnanthGopal,

Thanks for the issue and for using **Reactive Forms**.

Each item in the image (each ReactiveCheckboxListTile) is an independent item, so you can add a widget at the end of the list of items and show the validation errors.

[2021-03-23 18:47] julek-kal commented on #116
Hi @joanpablo I found a potential cause of this problem.
in **lib/src/models/models.dart line:542** you have a
[code]
but in case when I have 2 pattern validators key of each of them is as **"pattern"**.

When we take a look at [addAll](https://api.flutter.dev/flutter/dart-core/Map/addAll.html) documentation.
We can find sentence **"If a key of other is already in this map, its value is overwritte

[2021-03-23 20:29] joanpablo commented on #116
Mmmm @julek-kal, you are totally right! You cannot have two *errors* with the same name, so I suggest you create a compose validator and just show a text error that contains both explanations.

instead of using:

[code]

you can use:

[code]

and instead of showing two errors:
* Have at least one capital letter
* Have at least one number

use:
* Have at least a capital letter and a number

I will

[2021-03-23 20:38] joanpablo commented on #113
Hi @JulianSwales,

If you want to show the error message returned from the Server then I suggest you use a specific field within the controller/viewmodel/bloc/etc and not using a *control* from the FormGroup.

I don't recommend to change values of **controls** within a **validator**, because each time you change a value of a control then validators will try to validate the new value and you get tr

[2021-03-23 20:45] joanpablo commented on #120
Hi @obione94,

Thanks broo for using **Reactive Forms** and for the issue. You can override the **fractionDigits** just assigning a new **DoubleValueAccessor** to the **ReactiveTextField** and specifying the *fractionDigits*:

[code]

[2021-03-23 20:49] joanpablo commented on #119
Hi @AnanthGopal,

Thanks for using **Reactive Forms**. If you want to be notified when a *control* changes its value, then you can use **FormControl.valueChanges** or the widget **ReactiveValueListenableBuilder**.

Feel free to give me an example of what you are trying to achieve, so I can better help you.

Best regards

[2021-03-23 21:44] julek-kal commented on #116
@joanpablo thanks for your advice. Unfortunately approach with merging validators isn't this, what I want to do.
Below is better example of what I have on mind

https://user-images.githubusercontent.com/35259453/112218819-7daaf800-8c24-11eb-8ab4-7abd87f46153.mov

I have achieved something like that with form_bloc, but sadly not out-of-the-box, and thats required a lot of dirty hacks.
Since I know

[2021-03-24 06:24] rbozan commented on #107
@joanpablo Unfortunately no, I gave up on trying to fix it and partially used `flutter_form_builder` within my project instead which did not have this issue.

[2021-03-24 13:44] joanpablo commented on #116
Hi @julek-kal,

You can always create your own validator and it will be very easy. For exmplae you can create you own validator and inside reuse the **Validators.pattern**:

[code]

Definition of the control:
[code]

[2021-03-24 13:50] julek-kal commented on #116
Ohh @joanpablo, its sounds like dream come true 😄  It looks like it's should work, thank you very much

[2021-03-24 14:53] obione94 commented on #120
lool so simple tks ;)

[2021-03-24 14:53] #120 closed

[2021-03-24 18:50] joanpablo commented on #116
Hi @julek-kal,

I'm planning to include the customization of the name of the error in the next release. As you know I'm heavily working in null safety, and type systems.

I almost have a fully functional version (the actual working code is in develop branch). In this new release you can customize the name of the error like this:

[code]

What do you think, Is it clear enough?

[2021-03-24 21:59] julek-kal commented on #116
Yeah, its look good. But I think that `validationMessage` maybe isn't most suitable name. Because you have already `validationMessages` in ReactiveTextField and if I'm not mistaken it's associated with messages for end-user. In my opinion "name" should be more properly appellation. Anyway, I'm very surprised for how fast was this change. Thank you, and fingers crossed for this project.

[2021-03-24 22:08] #116 closed

[2021-03-24 22:10] joanpablo commented on #86
Hi,

I have released version 10.0.0 with null safety. Please test it, and open new issues if you have some questions. :)

[2021-03-24 22:10] #86 closed

[2021-03-24 23:12] rodriger06 opened #122 "updateValue not working"
Hi, I am having an issue updating value in my textfields.  I have a screen that display a listview of values.  when i click one of the item in the list, it will take me to another screen that display my reactive form.  when I display the screen with the form, I am trying to update the value of the textfields with the values that had been past to the form but it is not working for me.  here is part

[2021-03-24 23:42] joanpablo commented on #122
Hi @rodriger06,

Thanks for using **Reactive Forms** and for the issue.

You first need to understand two things:
1- Each time your widget builds you are creating a new **FormGroup**:
[code]
So when you update the value you are not updating the value of the FormGroup bound with the **ReactiveFormBuilder**.

2- You should update your form value in a controller/viewmodel/provider/bloc/etc, not in th

[2021-03-24 23:51] rodriger06 commented on #122
Hi joanplablo, thank you for your input.  I really appreciate it.  I am not 100% sure how to create the provider and bind it to the reactiveform.  do you have some sample code that I can use based on my example?  It will be very helpful. thanks in advance

[2021-03-25 01:33] rodriger06 commented on #122
hi joanpablo,

I managed to do the following:
i created a model with the form defined
[code]
then I call this class before calling my form screen.  i called it like this
[code]

then in my form, i have the following:
[code]
still i dont see the values updated in the reactive text field.  am I still missing something? please provide any feedback. thanks  in advance

[2021-03-25 04:52] bhanuka96 opened #123 "disable all textfields at once"
How to disable all textFields at once?

Currently, we are using it one by one.
[code]

**All TextFields**

[code]

[2021-03-25 07:12] sath26 opened #124 "couldnt run the example folder for testing and exploration"
[code]

[2021-03-25 07:42] joanpablo commented on #123
Hi @bhanuka96,

Thanks for the issue. You can simple disable the FormGroup:

[code]

and all children will be marked as disabled.

Best regards

[2021-03-25 07:44] joanpablo commented on #124
Hi @sath26 @vasilich6107,

Yes you are right the examples folder depends on a library that is not using the latest version of Reactive Forms, in the next few days we will update the example folder with latest dependencies.

[2021-03-25 07:50] #123 closed

[2021-03-25 08:51] joanpablo commented on #122
Hi @rodriger06

If you want quickly see your example running you can update your formGroup inside the *builder* of the **ReactiveFormBuilder**.

[code]

But that is not what I recommend.

What I always recommend is to use a state management library. For example I can see you are using Provider package, that's great. In the next comment I will show you an example

[2021-03-25 09:02] joanpablo commented on #122
In you viewmodel class change this:

[code]

to this:

[code]

[2021-03-25 09:08] limenote135 opened #125 "ReactiveTextField.maxLines cannot be null"
Thank you for migrating to null-safety! However I found an issue.
TextField.maxLines can be null but ReactiveTextField.maxLines can't be.

https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/reactive_text_field.dart#L114

[2021-03-25 09:19] vasilich6107 commented on #124
Hi @sath26
We are moving to the monorepo with separate packages for every field
You can find all links in readme https://github.com/artflutter/reactive_forms_widgets
The `reactive_forms_widgets` is deprecated.

Next week I'm going to release all widgets with support of null safety

[2021-03-25 09:43] AnanthGopal commented on #115
thank you i check it, it is working well. @joanpablo , your guys doing great work

[2021-03-25 09:43] #115 closed

[2021-03-25 09:50] sath26 commented on #124
@vasilich6107 looking forward for the release asap! thank u!

[2021-03-25 10:02] AnanthGopal commented on #117
thank you We are awaiting new version.

[2021-03-25 10:02] #117 closed

[2021-03-25 10:42] naamapps opened #126 "Being able to copyWith a ReactiveTextField OR expose the fields of ReactiveTextField"
Hi,
I implemented a widget called `AutoDirectionTextField` which uses `ReactiveValueListenableBuilder` to update the text direction when the text of the field updates according to the language the user typed.
The problem is that it is not manageable because with each update there are some breaking changes and new parameters to the `ReactiveTextField`.
There are two options to tackle this:
1. Exten

[2021-03-25 10:45] kfchengkf opened #127 "using StreamBuilder inside ReactiveForm"
Hi,
I wonder if there is any issue using StreamBuilder inside ReactiveForm.
I have a ReactiveForm with a StreamBuilder that populate a dropwdown (Not ReactiveDropdownField),
using records that feed into the stream used by the streambuilder.
However, there is always no data.
Using streambuilder on another page without the ReactiveForm, I can
see the data coming up.
Any idea ?
Thanks.

[2021-03-25 10:51] joanpablo commented on #125
Thanks @limenote135
I will fix it in next release very soon

[2021-03-25 10:54] joanpablo commented on #115
Thanks @AnanthGopal :)

[2021-03-25 11:02] joanpablo commented on #126
Hi @naamapps,

Thanks for using **Reactive Forms** and for the issue.

I'm not sure I understand your issue. I know that you have created a custom Widget that listens for changes of control using a **ReactiveValueListenableBuilder**. But I don't understand the problem with ReactiveTextField. Could you please argue more about the issue or put some code examples?

Thanks

[2021-03-25 11:08] joanpablo commented on #127
Hi @kfchengkf,

Could you please give a sample code to better understand what you are trying to achieve?

[2021-03-25 11:10] joanpablo commented on #41
Hi @CDDelta,

I have released a version supporting autofillHints, please check it and reopen the issue if you find some troubles or open a new one.

Thanks for your patient, this is actually the older issue in repo :)

[2021-03-25 11:10] #41 closed

[2021-03-25 11:12] joanpablo commented on #113
Hi @JulianSwales,

How are going with this issue? Have you managed to solve the issue with my recommendations?

[2021-03-25 11:17] CDDelta commented on #41
Wonderful. Thank you for your great work @joanpablo!

[2021-03-25 12:31] kfchengkf commented on #127
Hi joanpablo,

In the process of making the sample code, I found that the issue is related to TabView.

I have a complex form with multiple pages, so the hierarchy is like this:
ReactiveForm
   TabView
      Page 1
      Page 2
        StreamBuilder
           Dropdown
      ....other pages

If the SteamBuilder and Dropdown is put to page 1, the dropdown have data.
If it is on Page 2, the dropdown

[2021-03-25 12:36] naamapps commented on #126
@joanpablo

Here is the code:
<details>
  <summary>Click to expand!</summary>

[code]
</details>

As you can see, I manually type every field you wrote in the ReactiveTextField contractor and pass it to ReactiveTextField.
I want to remove this and always depend on your ReactiveTextField widget.
So to do this I either need to extend ReactiveTextField or do somthing like this:

Pass the ReactiveText

[2021-03-25 12:59] rodriger06 commented on #122
Hi joanpablo,

after changing the IncomeViewModel class, I can see the form is now updating the textfields.  thanks a lot.  I have one more question.  I have a reactive button  ReactiveFormConsumer

[code]
for this button to become active, i need to filled out the required fields.  When I fixed the IncomeViewModel class based on your suggesstions, the fields are now populating. however, the Reacti

[2021-03-25 13:49] kfchengkf commented on #127
Hi joanpablo,
Please ignore it. Removing the ReactiveForm does not solve this issue, so this is probably something else.
Thanks.

[2021-03-25 14:55] joanpablo commented on #127
Hi @kfchengkf,

With some sample code, I could get a better understanding.

[2021-03-25 15:05] joanpablo commented on #122
Hi @rodriger06,

There are several questions, let's go in parts (like Jack the Ripper said) :)

First, if you have this code:
[code]
and your button is always active, then your FormGroup is always **valid**. So you need to check your validators and the default value you are assigned to controls. (you can show me the definition of your form, so I can help you to detect the error)

The second questi

[2021-03-25 17:14] JulianSwales commented on #113
Hi @joanpablo

Yes, I'm slowly figuring out what I need to do. I'm going to use group status and bloc to manage the message flow.

One more item about validators.

I also found the ValidatorFunctions item in your documentation showing how to pass values down to a validator.  How would one do that with an asycValidator in the case where I'd like to do something like this:

```asycValidators: [getSi

[2021-03-25 17:53] joanpablo commented on #113
Hi @JulianSwales,

You can pass values to **asyncValidators** the same way you do it with sync **validators**. Just create a function that returns an *AsyncValidatorFunction*

[2021-03-25 18:03] JulianSwales commented on #113
Hi @joanpablo
Ahh, ok. I'll take a look at that.
I'm good if you close this issue now. I have some playing to do but I'll open a new issue if I have more questions. I want to thank you for your great package and time helping me through this.
One of the things I really liked about the form_bloc package was it came with this site:
https://giancarlocode.github.io/form_bloc/#/

Which had nice live sce

[2021-03-25 18:09] joanpablo commented on #113
Thanks @JulianSwales,

About the site with examples from form_bloc, @vasilich6107 is trying to do the same, and in the examples folder of the package, we have an implementation of common scenarios.

[2021-03-25 18:09] #113 closed

[2021-03-26 16:42] AnanthGopal opened #128 "How to reduce the padding in ReactiveCheckboxListTile"
Hi team,

i try to reduce the padding between one Checkbox data into another one but I can't reduce  it, is it possible to reduce the padding in ReactiveCheckboxListTile,
Below image, I highlight the padding between the Checkbox data, I need to reduce that
![image](https://user-images.githubusercontent.com/13050426/112664653-33be4e00-8e80-11eb-91ea-b1698a04680c.png)

[2021-03-26 17:16] AnanthGopal commented on #128
Sample Code: https://github.com/joanpablo/reactive_forms/blob/master/example/lib/samples/array_sample.dart

[2021-03-26 20:14] AnanthGopal commented on #128
hi @joanpablo
I find the solution
When i add the below code into ThemeData

visualDensity: VisualDensity(horizontal: 0, vertical: -4),

[2021-03-27 06:12] hayashi-ay commented on #125
A temporary workaround is simply set large number such as 999.

[code]

[2021-03-27 10:20] #128 closed

[2021-03-27 10:47] AnanthGopal commented on #119
@joanpablo
thank you
I used ReactiveFormConsumer to achieve my requirement

[2021-03-27 10:47] #119 closed

[2021-03-27 10:48] AnanthGopal commented on #118
@joanpablo

think you I done this
![image](https://user-images.githubusercontent.com/13050426/112718296-08873d80-8f18-11eb-9579-69d2ad9269f6.png)

[2021-03-27 10:48] #118 closed

[2021-03-27 14:03] astrO1 opened #129 "How i can add a Validator in runtime?"
How can i change a FormControl validation if i already set it?

[2021-03-27 15:37] joanpablo commented on #129
Hi @astrO1,

Could you please give me an example of what you are trying to achieve?

[2021-03-27 15:38] joanpablo commented on #125
In the current released version, this issue is solved. Thanks

[2021-03-27 15:39] #114 closed

[2021-03-27 15:40] joanpablo commented on #122
Hi @rodriger06,

I will close the issue now because I'm guessing you have achieved your goals, trying to update a control's value. Don't hesitate to open it again or open a new one if you have more questions.

Best regards.

[2021-03-27 15:40] #122 closed

[2021-03-27 19:04] fchiumeo commented on #129
I think it refers to this functionality #109

[2021-03-28 09:50] limenote135 commented on #125
@joanpablo Hmm... Which version do you mean the current release is? v10.0.2 has this issue.

[2021-03-28 10:14] joanpablo commented on #125
Hi @limenote135,

Sorry My misunderstood, you are right is not yet solved, I will quickly fix it and by the end of the day I will release a new version.

Thankd

[2021-03-28 13:51] vasilich6107 commented on #124
@sath26 all packages migrated to null safety except `reactive_dropdown_search`
PR pending https://github.com/salim-lachdhaf/searchable_dropdown/pull/139

[2021-03-28 16:21] joanpablo commented on #129
Hi @astrO1, @fchiumeo,

I would like to know about an example (use case) and the reasons behind this requirements. Some other times in the past other has ask me to include this functionality, but when I ask why is necessary this feature, and they show me, results that the solution was never add a validator dynamically, and the solution was just has the right declaration of Forms and a better under

[2021-03-28 16:24] joanpablo commented on #125
Hi @limenote135,

I have just release v10.0.3 the **maxLines** fixed. Please check it and re-open the issue or create e new one if you find something else wrong.

Thanks, have a nice evening.

[2021-03-28 16:24] #125 closed

[2021-03-28 16:26] joanpablo commented on #127
Hi @kfchengkf,

Have you solved the issue? I haven't here about you recently. I would like to know if you have success with your issue?

[2021-03-28 16:34] limenote135 commented on #125
@joanpablo Thank you for your quick fix!

[2021-03-28 18:51] fchiumeo commented on #129
Hi @joanpablo

I have an item search form that brings me the data from an API service, i have 2 discount fields that have a minimum and maximum based on the quantity
example: quantity: 5, minimum: 0%, maximum: 15%
quantity: 20, minimum: 30%, maximum: 75%
and these values are dynamic according to item and quantity and the best way I found is to set them when the quantity is changed so I need to val

[2021-03-29 14:54] piuskamil commented on #129
I think u can't add validator at runtime. Workaround for that is addError I guess.
In my case I have created simple validation function and manually set error

[2021-03-29 15:31] piuskamil opened #130 "Strange scroll after updateAndValidity"
Hi. I'm not sure it's directly connected with reactive_forms plugin. In my case I have very complicated, nested (3 level) form with multiple listeners to show hide controls and custom validators. And it's generated from json configuration.
It was easy to rewrite my angular implementation to flutter, thank you for that plugin :)
But there is strange behavior. After I select a radio button and manua

[2021-03-29 15:51] kuhnroyal commented on #130
This is probably a focus issue due to a rebuild.

[2021-03-29 15:55] piuskamil commented on #130
I'm sure I don't have focus on that field. Or do u mean updateAndValidity set focus on that field somehow ?

[2021-03-29 16:00] kuhnroyal commented on #130
No, but it causes a rebuild of the widget and that might focus the next untouched field or something.

[2021-03-29 16:04] piuskamil commented on #130
Ok maybe.
I will try some kind of unfocus thing.
Like

FocusScope.of(context).unfocus();

Or maybe unfocus control after updateAndValidity.

[2021-03-29 20:07] AnanthGopal opened #131 "How to show form data into listview"
Hi @joanpablo ,

can you have a sample code to show reactive form data into listview

For example,
I attached the two files one is ViewModel file another one is a view file

but I can't show data into listview

[test_view_model.txt](https://github.com/joanpablo/reactive_forms/files/6224305/test_view_model.txt)
[test_view.txt](https://github.com/joanpablo/reactive_forms/files/6224306/test_view.txt)

[2021-03-29 21:00] AnanthGopal commented on #131
Hi @joanpablo

I did the above requirement by using the below code

`

`

[2021-03-29 21:00] #131 closed

[2021-03-30 12:05] piuskamil commented on #130
I have tried everything. No luck yet

[2021-03-30 16:55] joanpablo commented on #131
Hi @AnanthGopal,

I guess you have solved the issue, haven't you?

[2021-03-30 17:04] joanpablo commented on #129
Hi @fchiumeo,

could you please show me your FormGroup definition? And give me an example of the data you receive from the server and the validation you need to perform? Sorry, a still don't understand very well why you need to add a validator dynamically.

Don't make me wrong I want to help you to complete your feature. In the past, I also have a similar response with a minimum a maximum, and I n

[2021-03-30 17:11] joanpablo commented on #129
The other reason I need to fully understand the needs is that I need to know how to implement the solution. For example, maybe the solution is not to add/remove dynamically a validator, but instead, define a validator that will only be triggered under certain conditions (you can define a condition that evaluates each time something in the form changes or simply a static condition).

[2021-03-30 17:16] joanpablo commented on #129
Or maybe you just need to create a simple **FormGroup** validator that evaluates the value of a control and **addError** or remove an error from another control in the same form depending on your validation logic. That will definitely solve your issue.

[2021-03-30 17:22] piuskamil commented on #129
@joanpablo would be nice to have here addValidator functionality like in angular implementation.
For example I want to add required validator to field when I check a checkbox.
I know I can achieve it by addError but it's sounds like workaround.

[2021-03-30 17:59] joanpablo commented on #129
Hi @piuskamil,

I know that adding dynamically a validator will solve the issue, but will include a great complexity, and maybe the solution can be achieve by other way for example:

Angular is more imperative, and Flutter is more declarative.
To add a validator you need anyway to add a listener to the **valueChanges** of the control you want to evaluate, and inside of that listener you must add o

[2021-03-30 18:06] joanpablo commented on #129
Don't make me wrong, I'm not denying the functionality of adding a validator. Maybe in the future, we will need it. But I need to fully understand why and when it is needed. I want to focus on the problem to think about all the solutions we can create (or the ones that we already have) to bring high-quality features. With the help of all of you :)

[2021-03-30 18:16] joanpablo commented on #129
In my last project I had a similar problem. I received a collection a data like this:

[code]

And depending on the **Currency** the user had selected (in a ReactiveDropDownField) I needed to validates the **amount** the user typed in a ReactiveTextField.

I solved that problem with a simple **FormGroup** validator.

[2021-03-31 01:14] kfchengkf commented on #127
Hi joanpablo,
Yes, I work around the issue by using Future builder instead of SteamBuilder. The issue is not related to ReactiveForm.
I think its somehow a known issue with SteamBuilder.

[2021-03-31 09:09] #127 closed

[2021-04-04 10:15] naamapps commented on #126
Hey @joanpablo any updates on this?

[2021-04-06 11:06] joanpablo commented on #126
Hi @naamapps,

Sorry not yet. Next weekend I will let you know.

Thanks

[2021-04-06 17:37] vasilich6107 commented on #130
@piuskamil there is a corresponding flutter issue for such behaviour
https://github.com/flutter/flutter/issues/50713#issuecomment-620098640

I didn't check if it realy fixed.

Here is my reproduction repo
https://github.com/artflutter/flutter_issue_50713

[2021-04-06 17:43] vasilich6107 commented on #130
I've just tried my own repo)
It is still not fixed in latest stable.

Latest `master` includes a fix

[2021-04-08 10:10] kuhnroyal commented on #129
@joanpablo I would also love to see this feature. I am generating mixins on `FormGroup`s and companion data models based on some form definition. The validators may be different depending on values in the model but the rest of the form stays the same, so I don't want to create 2 different FormGroups.
Since all the form controls are automatically generated in a type-safe manner, I need a way to add

[2021-04-08 11:23] cezaryjk opened #133 "type 'Null' is not a subtype of type 'AbstractControl<Object>' in type cast"
Hi,
Your package is awesome! Thank you very much.

Everything worked like a charm until null-safety migration (10.0.3).
New version revealed my bad: I tried to focus non-existing control (instead of 'Id' i put 'id') using
`form.focus('id');`

It ended up with error:

type 'Null' is not a subtype of type 'AbstractControl<Object>' in type cast

in function findControl from form_control_collection.da

[2021-04-08 15:25] joanpablo commented on #133
Hi @cezaryjk,

Thanks for the issue. I will take a look and fix it. I will let you know when the new version is released.

Best regards

[2021-04-08 15:35] joanpablo commented on #129
Hi,

Ok, You have convinced me :smile: I will implement the add validator. @fchiumeo I know that you have to make a PR but I need to do this by myself, and later I will need all of you to help me to test and see if all the needs are covered.

Thanks to all of you.
Best regards

[2021-04-08 19:16] nousath opened #134 "I have some issue ControlValueAccessor<Class, String>"
I have some issue ControlValueAccessor<Class, String> value getting **Instance of 'Relation'** how to change String

[code]

this is my code.

[2021-04-08 20:56] joanpablo commented on #134
Hi @nousath,

Thanks for the issue and for using Reactive Forms, but I don't understand very well what is your issue. Could you please argue e little more?

Thanks

[2021-04-09 06:17] nousath commented on #134
thank you for fast repling @joanpablo creating custom fields **Typeahead** Items pass in Class i want form retrun value id but getting **Instance of 'Relation'** how to get in id from class.

Custom Field Code
`// Copyright 2020 Joan Pablo Jimenez Milian. All rights reserved.
// Use of this source code is governed by the MIT license that can be
// found in the LICENSE file.

import 'package:flutte

[2021-04-09 06:41] nousath commented on #134
thank you for fast repling @joanpablo creating custom fields Typeahead Items pass in Class i want form retrun value id but getting Instance of 'Relation' how to get in id from class.

Custom Field Code

`import 'package:flutter/material.dart';
import 'package:flutter/rendering.dart';
import 'package:reactive_forms/reactive_forms.dart';
import 'package:reactive_forms/src/value_accessors/control_val

[2021-04-09 08:30] nousath commented on #134
If possible ValueTransformer to Submit the form?

[2021-04-09 09:06] kuhnroyal commented on #134
Please format the code with ` ```dart `

[2021-04-09 09:33] nousath commented on #134
Sorry @kuhnroyal

Custom Typeahead Coding

[code]

Custom Relation ControlValueAccessor

[code]

i expected **{status: 2, source: 1, source_ref_type: suppliers, source_ref_id: 6, source_ref_text: , assigned: 1, email: testing@gmail.com}**

but return : **{status: 2, source: 1, source_ref_type: suppliers, source_ref_id: Instance of 'Relation', source_ref_text: , assigned: 1, email: testing@gmail.co

[2021-04-09 09:54] kuhnroyal commented on #134
Couple thing I can see off the spot.
1.  Your `RelationShipValueAccessor` doesn't seem to need the generic type `<T>`
2. Your `viewToModelValue` sets the `Relation.id` but the `modelToViewValue` use `Relation.name` - that won't work
3. `(viewValue == null || viewValue == null)` doesn't make sense

[2021-04-09 10:13] nousath commented on #134
Changed but not accept. I request make me some sample scripts.

![2021-04-09_15-41](https://user-images.githubusercontent.com/25167886/114165486-2c03ac80-994a-11eb-811f-beb690a3c1ab.png)
![Screenshot from 2021-04-07 11-39-33](https://user-images.githubusercontent.com/25167886/114165491-2d34d980-994a-11eb-8a72-5522dda9e10c.png)

[2021-04-09 10:36] kuhnroyal commented on #134
Well, see 2. - if you want to return a `Relation` then you somehow need to build it. Nobody here knows what the `viewValue` is. An ID, a name? Only you know this, only you can construct the correct `Relation`.
There are several implemented accessors in the library that serve as fine samples.

[2021-04-09 13:25] nousath commented on #134
Thank you for Response @kuhnroyal @joanpablo

[2021-04-09 13:25] #134 closed

[2021-04-10 00:07] kuhnroyal commented on #126
ReactiveTextField is a widget. You don't copy widgets.

[2021-04-11 08:47] joanpablo commented on #126
Hi @naamapps,

Yeap @kuhnroyal has right, we will need to find a way to solve your issue, but is not adding a method copyWith to the ReactiveTextField. We need to rethink your issue and find a better solution.

[2021-04-11 08:56] joanpablo commented on #133
Hi @cezaryjk,

I have just release v10.0.4, this version solve the issue. Please test it and let me know for closing the issue.

Thanks and Best Regards

[2021-04-11 09:00] #133 closed

[2021-04-11 09:01] joanpablo commented on #133
Don't hesitate to open it again or create a new one if something is not working.

[2021-04-11 09:03] naamapps commented on #126
@joanpablo
Yes you are right just did a quick search..
Also extending a widget is a no go.
You have an idea maybe?
The only problem is that I need to manually add every single property, it is not maintainable.

[2021-04-11 09:18] joanpablo commented on #129
Hi @kuhnroyal @fchiumeo @piuskamil,

What methods do you think should be implemented:

1-) addValidators: add several validators to the existing ones
2-) setValidators: add validators to the control and override all validators with the new ones.
3-) clearValidators: remove all validators

please let me know what methods to implement

Thanks, best regards

[2021-04-11 09:35] kuhnroyal commented on #129
I think `set` and `clear` is enough. I played around with the existing PR, one problem I noticed is, that ` updateValueAndValidity` can not update children (like in Angular?). That currently makes it hard to update several controls in on FormGroup.

[2021-04-11 09:37] cezaryjk opened #135 "Custom validator type changed in null safety release"
Hi @joanpablo,

Just for records (and others dealing with it)
It looks like custom validator type changed in null safety version from
Map<String, dynamic>
to
Map<String, Object>?
or
ValidatorFunction

Casting doesn't work since there is a check verifying if all validator are of ValidatorFunction type.

BR
Cezary

[2021-04-11 09:43] cezaryjk commented on #133
Hi @joanpablo ,

Thanks a lot for such a quick action!
Works like a charm!

Best regards
Cezary

[2021-04-11 13:51] joanpablo commented on #135
Hi @cezaryjk,

Yes I was thinking to move it again to **Map<String, dynamic>** but could you please tell me if you have any issue right now??

[2021-04-11 14:17] cezaryjk commented on #135
Hi again,
No more issues. I just had to update old declarations.
That's all :) .

BR
Cezary

niedz., 11 kwi 2021, 15:51 użytkownik Joan Pablo ***@***.***>
napisał:

[2021-04-11 14:27] joanpablo commented on #135
Hi @cezaryjk,

Do you think is better to leave it as Map<String, dynamic>  ??

[2021-04-11 15:57] fchiumeo commented on #129
I agree with @kuhnroyal
If not, the addValidators method would have to overwrite the validators, because it could have the case: max (10), max (5), max (25) for the same control

[2021-04-11 15:58] kuhnroyal commented on #135
There is a fine difference. `dynamic` can be null but `Object` can not. If it should not be null, don't change it back.

[2021-04-11 16:06] kuhnroyal commented on #126
Well in Flutter you just wrap it in another widget. Use smart defaults that fit your needs. Maybe a couple different factories and you are done.

[2021-04-11 17:56] joanpablo commented on #135
Good point @kuhnroyal Thanks.

[2021-04-11 18:01] joanpablo commented on #126
I'm agree with @kuhnroyal

[2021-04-12 07:47] cezaryjk commented on #135
Hi @joanpablo,
Well, I'm not that wise, but in my opinion using Object is more soundness in safety context having in mind what @kuhnroyal said.

Have a nice week!
BR
Cezary

[2021-04-12 08:44] naamapps commented on #126
@joanpablo @kuhnroyal
Could you please give me an example?
I don't understand what you mean by factory.
A code sample would be great.
Thanks

[2021-04-12 09:18] kuhnroyal commented on #126
Tbh, I didn't fully read you problem until now.
When your text-direction changes, you have to build a new `ReactiveTextField` widget. Basically you can use your sample from https://github.com/joanpablo/reactive_forms/issues/126#issuecomment-806660395 and just don't pass it in but construct it there instead.

Alternatively you can create a custom builder `typedef` that you can pass which has a `tex

[2021-04-12 10:32] kuhnroyal commented on #129
I had a look at the angular sources regarding my earlier comment.
We could use something like this together with the new validator functions:

[code]

I am adding this as an extension on FormGroup for now to get things working but would be great to have this and call it after adding/setting multiple validators.

[2021-04-12 10:39] kuhnroyal commented on #129
This seems to do the job for now:

[code]

[2021-04-12 11:25] joanpablo commented on #129
Hi @kuhnroyal,

I'm not sure why you want to trigger validation on children, since you are just adding/removing *validators* to actual control (formGroup, formArray) not to all of its children. ????

[2021-04-12 11:26] joanpablo commented on #129
Validators at FormGroup level will maybe take into account value from the FormGroup (implicitly value from children) so you don't need to trigger again all the validators of the children

[2021-04-12 11:30] joanpablo commented on #129
The validity of the parent depends on the children, but not the opposite way. That means that when you update the validity status of control you need to update the parent, but no need to update children.

[2021-04-12 12:15] kuhnroyal commented on #129
I am adding validators mostly to children of a `FormGroup`, sometimes on the `FormGroup` itself. And sometimes on a `FormGroup` inside a `FormGroup`. Unless I update each of the controls that have had validators changed, the overall validity of the parent is not correct.

See the example above: https://github.com/joanpablo/reactive_forms/issues/129#issuecomment-815636633
I need to call `updateValu

[2021-04-12 17:51] stact opened #136 "Must provide a valueAccessor for field ReactiveTextField<dynamic> as ModelDataType and ViewDataType don't match."
Hi

Migrating current app to null-safety got this prob

[code]

We have a simple statefull widget:
[code]

Do you have the same problem? Does the code need to be updated? (I've checked the doc and it seems that we aligned with)

Additional info:
pubsec version: `reactive_forms: ^10.0.4`
flutter doctor:
[code]

Thanks for your help!

[2021-04-12 18:00] kuhnroyal commented on #136
@joanpablo I'm afraid that this may be caused by #132
The data type is `dynamic` which doesn't match `String` so it is not using the default accessor. We could probably add a check for dynamic and try to use the default accessor but that could also result in a runtime error.

@stact You can probably work around this by using `ReactiveTextField<String>`.

[2021-04-12 18:26] stact commented on #136
Yes the workaround is working. Thx! Best support ever!

[2021-04-12 18:27] stact commented on #136
Let's wait #132 to resolve the issue definetively

[2021-04-13 07:17] joanpablo commented on #136
Hi @kuhnroyal, I guess we should remove the **assert** or go back to **ControlValueAccessor<dynamic, dynamic>**.
I think that removing the assertion does the job. I will remove it for the next release, what do you think?

[2021-04-13 07:24] joanpablo commented on #135
I will define it as dynamic in the next release instead of Object. That will cover more use cases, null and not null.

[2021-04-13 07:24] #135 closed

[2021-04-13 07:36] joanpablo commented on #126
Hi @naamapps,

The main difficulty for implementing the copyWIth in the **ReactiveTextField** is that I don't hold all the properties as fields in the class. All properties that are passed by the constructor, like *textDirection*, *decoration*, etc, are directly passed to the constructor of the inner TextField, and I never hold them (never define them as properties of the ReactiveTextField class).

[2021-04-13 07:51] naamapps commented on #126
Hi @joanpablo,
**My issue is that I am defining every property.**
This is what makes it unmaintainable.
I **do not** want to define every single property of ReactiveTextFIeld.
This is why I asked a copyWith method - so I could only pass the text direction property to a reactive text field I pass as a property.

I'm not sure I understand why you pass the properties in the constructor directly and y

[2021-04-13 08:13] kuhnroyal commented on #136
Well I am not so sure, I think that will just throw another error in some.

Could try `ModelDataType == ViewDataType || ModelDataType == dynamic` as assert.
There is also no test case for `ReactiveTextField<dynamic>`.

[2021-04-13 08:23] kuhnroyal commented on #126
Because in this case `ReactiveTextField` extends `ReactiveFormField` which holds all the properties.

For your use-case, to change the text-direction, why not just wrap everything in a new `Directionality` widget.
Setting things like `textDirection` on every single small widget is mostly not the ideal pattern in Flutter.

[code]

[2021-04-13 08:58] naamapps commented on #126
@kuhnroyal,
This is what I did when I first worked on this feature.
However, the directionality widget also set the direction of the placeholder and error.
I just want to change the direction of the written text.

[2021-04-13 10:36] joanpablo commented on #129
Hi, @kuhnroyal @fchiumeo @piuskamil

The new version released 10.1.0 with set and clear validators dynamically.

Thanks for all your help. Please test it and continue supporting Reactive Forms, all of you are great developers.

Best Regards

[2021-04-13 10:36] #129 closed

[2021-04-13 10:38] joanpablo commented on #124
Hi @sath26 and @vasilich6107

I have released a new version 10.1.0. In this version, I have temporarily disabled the dependency to the package *reactive_forms_widgets* until this package is fully migrated to null-safety. Now you can run the example project without troubles.

Thanks best regards

[2021-04-13 10:38] #124 closed

[2021-04-13 11:12] joanpablo commented on #136
Hi @kuhnroyal,

I have removed the assert and added a test case for *ReactiveTextField<dynamic>* in this new version v10.1.0.

If you find any other issues let me know as soon as possible.

Best regards

[2021-04-13 11:23] stact commented on #136
@joanpablo I've removed the workaround `ReactiveTextField<String>` to use use only `ReactiveTextField()`

No issue on compilation and usage with 10.1.0. I let you know if I find a related issue.

[2021-04-13 11:51] stact commented on #136
@joanpablo Unfortunatelly I need to cast other kind of values : DateTime, TimeOfDay, int, bool etc. (working only for String)

Sample:
[code]

[2021-04-13 11:55] stact commented on #136
The cast is normal, we declare FormGroup casted and we display text field casted, it's not really a problem.
Just we don't have this information in the readme.md doc.

Maybe we need to force type T on ReactiveTextField and FormControl?

[2021-04-13 14:24] kuhnroyal commented on #136
Not sure this is possible but it would be great if we can simply forbid `dynamic` somehow.
Maybe `<T extends Object>`?

[2021-04-13 14:25] kuhnroyal commented on #126
I see, well then you need to construct it in the builder. Don't see any other way.

[2021-04-13 17:10] joanpablo commented on #136
Hi @stact,

I have release v10.2.0 with that fix. Now you don't need to explicitly specify the data type when defining the ReactiveTextField. you can just write ReactiveTextField<dynamic>, ReactiveTextField and use String, double, DateTime, etc in the data type of the control.

Please check the new version and let me know to close the issue or fix something missing.

Thanks and best regards

[2021-04-13 17:12] joanpablo commented on #129
Hi @kuhnroyal,

I have released v10.2.0. In this release you can **setValidators** and also specify an extra argument **autoValidate** for recalculating the new validity status of the control without explicitly call *updateValueAndValidity*.

Please take a look

[2021-04-14 06:02] mammba01012018 opened #137 "Scroll not working for ReactiveDatePicker focus"
Here's the sample code. Just edited the example project included

`import 'package:flutter/material.dart' hide ProgressIndicator;
import 'package:reactive_forms/reactive_forms.dart';
import 'package:reactive_forms_example/progress_indicator.dart';
import 'package:reactive_forms_example/sample_screen.dart';

class ComplexSample extends StatelessWidget {
  FormGroup buildForm() => fb.group(<String,

[2021-04-14 09:24] DevNico opened #138 "ReactiveSlider integer"
I have an integer value that can either get edited in a `ReactiveTextField` or with a `ReactiveSlider`. The problem ist `ReactiveSlider` only accepts a `FormControl<double>`.

I'd like to create a `ReactiveSlider` with a `FormControl<int>`.

[2021-04-14 10:26] joanpablo commented on #138
Hi @DevNico,

ReactiveSlider is using double because the Flutter Slider uses double by default.

Maybe we can add a **control value accessor** for ReactiveSlider for converting from int to double. I didn't include a value accessor for Slider, but I think is a good idea to add one. In the end, almost all other Reactive widgets have the control value accessor.

I will implement it and I will let you

[2021-04-14 10:38] #23 closed

[2021-04-14 10:39] #50 closed

[2021-04-14 10:43] stact commented on #136
It's working thx!

[2021-04-14 10:43] #136 closed

[2021-04-14 15:47] naamapps opened #139 "Add onEditingComplete to ReactiveTextField"
Hey,
Just noticed that there is no option to pass `onEditingComplete` to a ReactiveTextField.
Please add it,
Thanks :)

[2021-04-14 15:51] naamapps commented on #126
I have settled with a builder:
[code]
Thank you guys for your help!

[2021-04-14 15:51] #126 closed

[2021-04-15 03:37] mammba01012018 opened #140 "Focus on inner Widget of custom Reactive field (ReactiveFormField)"
I created a custom Reactive. My problem is how to set the focus on the inner widget when the ReactiveFormField focus is called.
Tried passing the formControl?.focusController?.focusNode to the inner widget this does not work. Sample code below

[code]

[2021-04-18 20:59] vasilich6107 commented on #139
@naamapps `ReactiveTextField` supports custom `focusNode`
When field looses focus it could be a sign of editing complition

Could you describe your use case more verbose?

[2021-04-21 07:51] BenjaminFarquhar opened #141 "DefaultValueAccessor() used for ReactiveTextField<double>"
version: `reactive_forms: ^10.2.0`

I have a number text field which has a model value of type double, but somehow the defaultValueAccessor ends up being used, even when I explicitly pass in a DoubleValueAccessor(). This causes this error to occur:

`Unhandled Exception: type 'double' is not a subtype of type 'String?' in type cast`

Is there anything wrong with my code or is this a bug?

[code]

[2021-04-21 08:20] kuhnroyal commented on #141
You are extending `ReactiveFormField` and wrapping a `ReactiveTextField`, both are bound to the same control. Only the "inner" `ReactiveTextField` uses the custom value accessor.
It seems you don't need the outer `ReactiveFormField`, in your case this can just be a `StatelessWidget` that wraps the `ReactiveTextField`.

[2021-04-21 08:26] BenjaminFarquhar commented on #141
@kuhnroyal Thanks, I will take that on board to make a change. For the short term, I added the DoubleValueAccessor to the **_outer_** element like this:

[code]

Which solved the value accessor issue. The validation messages are still very confused as mentioned in the original issue.

[2021-04-21 08:40] kuhnroyal commented on #141
Likely when you enter a word, the `DoubleValueAccessor` evaluates the input to `null` and this the required message shows up. I am not sure what the number validator actually checks. This could be due to int/double, locale problems.
You can try to add an input formatter on the field that only allows valid number characters to be entered.

[2021-04-21 09:11] BenjaminFarquhar commented on #141
@kuhnroyal Thank you, after extending StatelessWidget the value accessor issue is resolved. It was getting confused between the two reactive form controls as you suggested. When `control.value` is 88.00 it still displays "Product Price must be a number". I think the number validator is not good for `double` number types. So I don't think an input formatter will work because you can't convert a dou

[2021-04-21 09:42] kuhnroyal commented on #141
Yea the number validator uses this regex:
[code]

You probably have to add a custom decimal validator but be aware of locale specific decimal separators.
You can add a `FilteringTextInputFormatter.allow` with a regex that fits your double requirements.
Like this (not tested): `'^\\d{0,4}(\\${format.symbols.DECIMAL_SEP}{0,2})?)'`.

An another hint from my personal experience, `TextInputType.numberW

[2021-04-21 10:35] joanpablo commented on #141
Hi guys,

Thanks to @BenjaminFarquhar for the issue and thanks once again to @kuhnroyal for such a great help solving issues, I really appreciate it.

Yeap, the Validators.number is actually just validating integers (maybe we will need to create two differents validators one for integers and another for floating points that let you specify the precision). And @BenjaminFarquhar you can of course fo

[2021-04-22 06:53] BenjaminFarquhar commented on #141
Thanks heaps guys. I'm nearly there. I have used an input formatter:

[code]

and pass into the ReactiveTextField<double>:

[code]
However, inside the package method: `Map<String, String> _getValidationMessages(FormControl<dynamic> control) {`, `control.value` is still always null, even if the textField has 8.00 entered. Any ideas why that is? Thank you so much.

[2021-04-22 08:07] BenjaminFarquhar commented on #141
Ah, I forgot to mention I have a very basic double validator:

[code]

[2021-04-22 09:58] naamapps commented on #139
@vasilich6107 well it's built into flutter native `TextField` so I suppose there's a difference.
I need it to focus another input that doesn't exist yet (a dynamic list of inputs) without closing the keyboard.
`onSubmitted` closes the keyboard and it is not what I want.

[2021-04-22 12:22] joanpablo commented on #139
Hi @naamapps,

In the example folder of the project, in the complex example, we use **onSubmitted** to move focus between several *ReactiveTextFields*, and the behavior is that the keyboard never hides, but the focus jump from one TextField to another.

So I'm not clear yet about the issue. Could you post a dart file with the code so I can include it in an application and test what you want to ach

[2021-04-22 12:46] naamapps commented on #139
@joanpablo,
As far a I know the default `onEditingComplete` dismisses the keyboard automatically, so overriding it stops this behavior.

And I think it is better to give the developer an option to override all of flutter's `TextField` properties, even if you think it's not important or unnecessary.

I hope you understand
Thanks

[2021-04-22 13:07] joanpablo commented on #139
Hi @naamapps,

You are right about giving the developer the option to decide, I completely agree with you. I think it will not harm any feature if I include it in the next release.

Thanks

[2021-04-23 06:48] BenjaminFarquhar commented on #141
After I added the `CurrencyFormatter`, it added currency characters such as '$' and ',' and then the standard `DoubleValueAccessor` can't cope with that.

I needed to create a `CurrencyValueAccessor` to convert the string created by the formatter back to a double:

[code]

Thanks @kuhnroyal for mentioning that

`"the DoubleValueAccessor evaluates the input to null"`.

Thanks @joanpablo for also ex

[2021-04-23 06:48] #141 closed

[2021-04-25 01:35] kerbo opened #142 "Detect if a field has changed"
I need the ability to "save" a field that has been validated and changed.

The ReactiveTextField has "onSubmitted" which works but no other controls have an equivalent function.

Ideally it would be better if I could check if a value changes in the FormGroup model. Maybe add an "onChanged" event?

[2021-04-25 11:46] naamapps commented on #142
@kerbo You can listen to `valueChanges` stream in the form control.

[2021-04-25 13:24] naamapps opened #143 "[Suggestion] ReactiveTouchListenableBuilder"
Hey,
Just like there is a `ReactiveValueListenableBuilder` and `ReactiveStatusListenableBuilder`, I think you should add `ReactiveTouchListenableBuilder` because there is an option to listen to the stream events when the input is touched an untouched.
Thanks

[2021-04-25 14:19] kerbo commented on #142
Can you provide an example or point me to some docs that show how this works?

[2021-04-25 14:22] naamapps commented on #142
@kerbo
[code]
Hope that helps

[2021-04-26 03:23] BenjaminFarquhar opened #144 "Is there a way to force inputFormatters to run before manually editing text?"
The issue I am experiencing is that when the form control is first built, the inputFormatter doesn't run until manually entering text, so the initial value shows up with no input formatting applied.

[This is a fix to the issue from Stack Overflow](https://stackoverflow.com/questions/53960797/is-there-a-way-for-inputformatters-on-a-textformfield-to-be-executed-when-the-fo) but I'm not sure how to

[2021-04-26 03:40] BenjaminFarquhar commented on #144
My bad, this gets taken care of by the value accessor function `modelToViewValue`.

This:

[code]

  Needs to be formatted with the inputFomatter:

[code]
Full code:

[code]

[2021-04-26 03:40] #144 closed

[2021-04-27 19:02] joanpablo commented on #142
Hi @kerbo,

As @naamapps  metioned you have the **valueChanges**, and also you can know if a control has changed using the properties: **dirty** or **pristine** of any *AbstractControl* (FormGrop, FormControl, FormArray)

Could you argue more about what you want to achieve?

Best regards

[2021-04-28 06:37] joanpablo commented on #143
Hi @naamapps,

What you are telling us makes complete sense. I have always been adding new features progressively while they are needed. So if you have some experience or use a case in which you were needed this feature, just let me know with examples, etc. And we can find the best solution.

Best regards

[2021-04-28 06:40] naamapps commented on #143
Hey @joanpablo,
Sorry I didn't write an example.
My use case for this is rebuilding a widget when a form control has errors.
So when touching the form control I check in the builder if the form control has errors or not.

[2021-04-28 06:49] joanpablo commented on #141
It could be interesting to have a CurrencyValueAccessor built-in in the package.

[2021-04-28 10:13] joanpablo commented on #143
Hi @naamapps,

Well in that particular case, if you want to rebuild a widget if the control has errors, then you can use the **ReactiveStatusListenableBuilder**. Let me explain myself. When a control has errors (or not) then the *status* changes to **ControlStatus.invalid** or **ControlStatus.valid**. So if the control is INVALID to not you just update the view with the information you require. I

[2021-04-28 10:19] naamapps commented on #143
@joanpablo ,
What I mean is that I want to know when the error message is on screen.
Because the control has an error from the start (required control - null from the start). I need to know when the error is shown, so the error is shown once the user touched the input and the control has errors.
That is why I need to listen to touched events.

[2021-04-28 11:34] joanpablo commented on #143
Hi @naamapps,

I understand now, you want to know if the control is **touched** because you want to know if the error is displaying in the view. But what if you just listen for **state** with the **ReactiveStatusListenableBuilder** and ask if the control is touched calling the **FormControl.touched** property?

[2021-04-28 11:45] naamapps commented on #143
@joanpablo,
I tried it.
It is not working because the control is already invalid and its not rebuilding when unfocusing from code for some reason.

I wrote the `ReactiveTouchListenableBuilder` by myself - it is working as I would like it to be.
It is just like the other listeners, just replaced the name and the stream we listen to.

[2021-04-28 11:58] joanpablo commented on #143
@naamapps I understand. Actually, if the state of the control doesn't change (the control is always invalid) then the widget will not rebuild, but as far as I understand you only need to know if the control is invalid|valid and touched (even if the control is touched you need to ask for both properties Status|HasErrors and if it is touched).

So if I was you I will definitely try with **ReactiveSt

[2021-04-28 11:59] joanpablo commented on #143
I'm very happy that you and many other developers are using **Reactive Forms** and are helping me to improve it with all these issues and suggestions.

[2021-04-28 14:10] naamapps commented on #143
@joanpablo
I really appreciate your dedication and hard work!

I did try with **ReactiveStatusListenableBuilder** and even with **ReactiveValueListenableBuilder**, neither of the worked.
I created **ReactiveTouchListenableBuilder** locally and it did work.
So I figured it will be best to include it in the package.

I Just suggested you to include it.
Either way, I think the solution for me is to l

[2021-04-30 08:38] BenjaminFarquhar commented on #141
Yep that could be very handy

[2021-05-04 13:40] jbt-cii opened #145 "Impossible to write into an input text field (virtual keyboard goes away on focus to the field)"
Hello,
I come back here with a new problem.
When a user is connected, my application displays a navigation bar with a page containing a ReactiveForm.
But when i click on an input text field:
- the phone keyboard start to be displayed
- the navigation bar stay above it
- and then the keyboard goes away so I can't write anything in the input text field

In the debug console I have these messages:
[c

[2021-05-04 15:10] jbt-cii commented on #145
I tried to group and clean some parts of my code in order to show what I do.
I use BLOC CUBIT to manage the relations between my application and a web API.
I don't know if that could help to understand my case but this is some parts of my code:
[code]

[2021-05-04 15:19] jbt-cii commented on #145
In order to manage my navigation bar I use this package:
[PersistentBottomNavBar](https://github.com/BilalShahid13/PersistentBottomNavBar/)
I also opened an issue in the github account of this package because I cannot really understand if the problem come from their package or your package (or the way my application use them).

[2021-05-05 07:55] jbt-cii commented on #145
I found someone having the same problem but with classic textfield:
[Same case in Stackoverflow but with classic textfield](https://stackoverflow.com/questions/61952613/getselectedtext-on-inactive-inputconnection-flutter)
In his case it seems the the problem came from the declaration of "GlobalKey<FormState>".
But for Reactive Forms I don't see the usage of such a declaration.
So I tried the usage

[2021-05-05 08:54] jbt-cii commented on #145
OK, the warnings are not the problem.
I have just compile the "main.dart" inside "example/lib" of this package: I have also these warnings when I click on the textfields.
My problem should be a "resize" problem because the navigation bar is displayed above the "virtual keyboard".
I think that the navigation bar forces the "rebuild" of the form so the interface doesn't let me inside the textfield =

[2021-05-05 10:54] jbt-cii commented on #145
I have just changed the title of this issue because my problem doesn't come from the warning "inactive InputConnection".

[2021-05-05 10:59] jbt-cii commented on #145
I have just try to disable the navigation bar in the page containing the "Reactive Form".
I still have the problem: when I click on the input text field the virtual keyboard begins to appear and then I lost the "focus" of the field and the "virtual keyboard" disappears.

[2021-05-05 13:27] jbt-cii commented on #145
I have just tried to transform my text field widget (StatefulWidget -> StatelessWidget).
That did not change anything.
Same effect when I click into the input text field.
I undo what I did because with a StatelessWidget I cannot add a InkWell widget in order to manage some "secret" text fields.

[2021-05-05 15:13] jbt-cii commented on #145
Really not easy to find a solution.
I tried to remove:
- usage of PersistentBottomNavBar
- usage of BLOC CUBIT process (initial, loading, loaded, error)
- more simple interface with only the input text field

So now the code is like this:
[code]

[2021-05-06 08:12] joanpablo commented on #145
Hi @jbt-cii,

I have tried your last code in the example folder of Reactive Forms (basically copy-paste your code and try to run it as part of the example project). I made simple changes because the example folder is not yet null-safety and I used the CubitProvider instead of BlocProvider. I also create the dummy classes *CampaignState* and *CampaignInit* that was not defined in you sample code.

[2021-05-06 08:28] jbt-cii commented on #145
Thanks a lot for your help.
I'm going to test your code.
I give you the part "campaign_state" relative to CUBIT that you did not have:
[code]

[2021-05-06 10:10] jbt-cii commented on #145
@joanpablo

I dit the test with a new project.
I used your code with the following modifications:
- usage of BLOC CUBIT (BlocProvider) instead of CUBIT (CubitProvider) to be nearest as possible of my original code
- usage of "Null safety" version
- usage of the part you did not have (CampaignState / CampaignInitial)

So the pubspec.yaml contains this:
[code]

And I succeeded to compile this code:

[2021-05-06 10:26] jbt-cii commented on #145
@joanpablo

I have also a question for you.
What do you think about similar cases of this type of problem using classic input text fields where the solution seems to be a problem of declaration of the GlobalKey<FormState> in the "Build" function?
I saw that you do not use such a declaration in the "reactive_forms" package but maybe there is something similar that occurs... I don't enough experienc

[2021-05-07 15:36] jbt-cii commented on #145
@joanpablo

I tried to reproduce the problem with a more simple application but I didn't succeed.
I tried a lot of things.
So I worked to produce a specific version of my application (without some private informations).
I compiled it and the problem is present in that version.
I created a zip file.
How could I send you the zip file (size: 375 MB)?

[2021-05-07 15:42] joanpablo commented on #145
Hi @jbt-cii,

I will check the links you sent me. Meanwhile share me the file .zip
You can put it for example in your google drive or some other place and I will download it and test your code to see the problem.

[2021-05-09 21:59] jbt-cii commented on #145
Hi @joanpablo

This is a link to zip file (valid onlhy one day) :
[https://www.filemail.com/d/rveiqtkjyudjsrf](https://www.filemail.com/d/rveiqtkjyudjsrf)

Thanks a lot for your help

[2021-05-10 09:56] jbt-cii commented on #145
@joanpablo

I forgot to tell you that you can simply enter "123" in the 3 text fields that you will see in the 1st page when you will execute the application.

[2021-05-10 20:49] joanpablo commented on #145
Ok @jbt-cii,

I have downloaded the demo I will let you know. Thanks

[2021-05-10 20:51] jbt-cii commented on #145
@joanpablo
I don't know if you got the zip file.
I give you a new link (valid 1 day):
[https://www.filemail.com/d/ffmxhhklihbxdrm](https://www.filemail.com/d/ffmxhhklihbxdrm)

[2021-05-10 22:00] escamoteur opened #146 "Problem with Nullable Types"
Hi,

thanks for this amazing package that I currently use in my little side project. Unfortunately I ran into a problem with a Datetime field that is allowed to be Null in my case.

Instead of long describing the problem, please watch here as it happened during a live coding session https://youtu.be/hjgMgffk-5A?t=3727

[2021-05-11 08:29] joanpablo commented on #146
Hi @escamoteur,

I haven't seen yet the video completely, but as far as I have seen until now I saw a misunderstood in the definition of a FormControl.

In the video you defined a control as **FormControl<DateTime?>** instead of just **FormControl&lt;DateTime&gt;**. L:et me explain my self:

The nature of a FormControl is to be nullable, so you define the data type as usually **T** but all propert

[2021-05-11 09:34] escamoteur commented on #146
Hmm interesting. will change it back and try to understand again what the problem was.

[2021-05-11 09:35] joanpablo commented on #146
I agree with you that this should be more explicit in the documentation, I definitely need to make something because now that we have nullable types in Flutter I'm guessing this is going to confuse many people because the package is not clear enough about this.

[2021-05-11 09:55] escamoteur commented on #146
Just tried and it works fine. I really guess it was that it felt wrong to not use a `DateTime?` if I expect that the field can contain a null value.

[2021-05-11 10:00] joanpablo commented on #146
I will rethink again all this about nullable types, meanwhile thanks a lot, and don't hesitate to open a new issue if you have any other questions.

[2021-05-11 10:19] joanpablo commented on #146
You can define a FormControl as double and use a ReactiveTextField with an [TextInputFormatter](https://api.flutter.dev/flutter/services/TextInputFormatter-class.html) that validates the input and formats correctly the currency value. We actually have a Validators.number but it will not be useful to validate floating point because it just validates int (I need to create a Validators.floatingNumber

[2021-05-11 10:24] escamoteur commented on #141
Actually a CurrencyValueAccessor that automatically converts an int (in cents) to a double for display and entering would be pretty cool.

[2021-05-12 19:00] agares29 opened #147 "Problem Validation not required fields"
I have a field with this validations

[code]

The problem that I'm facing is that the field is not required, so it could be empty, but when the field gets empty, it shows the validation error.

Does any body know how to handle it? :(

[2021-05-13 06:06] nnkti18 opened #148 "Wrong type passed into DropdownButton on fluter's master branch"
The latest version of Flutter's master branch changed the type of elevation param from int to double make the library unable to compile.
`../../../../.pub-cache/hosted/pub.dartlang.org/reactive_forms-10.2.0/lib/src/widgets/reactive_dropdown_field.dart:101:30: Error: The argument type 'int' can't be assigned to the parameter type 'double'.
                  elevation: elevation,`

Flutter doctor lo

[2021-05-13 07:33] joanpablo commented on #148
Hi @nnkti18,

Thanks for this update. I would need to release a new version to be compatible with this version of Flutter

[2021-05-13 07:50] joanpablo commented on #147
Hi @agares29,

Thanks for the issue. When the control gets empty then the value is an empty String "". So you have added a validator that validates that the length of the String must be >= 10. It's a normal behavior that the control is marked as invalid. You can assign NULL to the control and that will not trigger the Validators.minLength.

I guess that what you are looking for is the following co

[2021-05-13 16:40] jans-y opened #149 "Add more customizability to built-in widgets [enhancement]"
Hi, 👋

Thank you for this plugin. Coming from Angular I really like your implementation for Flutter.

I would like to propose adding more customizability options to built-in widgets. It would be nice to have all the built-in properties available through your wrappers.

For example, in _ReactiveRadioListTile_ I lacked: **contentPadding** and **toggleable**.

I would create a Pull request but I am n

[2021-05-14 15:31] naamapps opened #150 "How to remove a control from a FormGroup?"
Hey,
I'm trying to figure out how to remove a control from a FormGroup.
I didn't find any function like removeControl or something like that on the FormGroup object.

There is an addAll function which i'm using to add a control dynamically, and because it's dynamic, I also need to remove it dynamically.

Please help,
Thank you

[2021-05-15 18:16] kuhnroyal commented on #150
Don't add controls dynamically, instead add them all at the start and disable those that you don't need. If you need to add groups, you can use a FormArray whichg supports adding and removing.

[2021-05-16 20:26] yoyomaster73 commented on #145
@joanpablo
Did you find some time to try the application?

[2021-05-17 05:19] naamapps commented on #150
@kuhnroyal I can't agree with you on this one.
It comes to code readability for this issue.

I prefer to check that a control doesn't exist rather than checking if it's disabled.
Because it is actually doesn't need to be there.

If I check for disabled, than the next person that reads that code may think that the control is visible on the screen but disabled.
In my case it is not visible and it sh