[2021-05-17 06:14] jbt-cii commented on #145
@joanpablo
Did you find some time to try the application? (I write again my message because the first time I wrote it with a personal account ;-) )

[2021-05-17 08:32] kuhnroyal commented on #150
I agree, this is just how I had to use it until now as I don't want to rebuild the whole form group every time.
Although this is mostly up to the use-case. You always have to know what you are doing, a disabled control can be readyOnly, disabled or actually removed in Flutter depending on your needs. It is the same for angular.

[2021-05-17 08:36] joanpablo commented on #150
Hi @naamapps,

You are completely right when asking for a method for deleting a control from a group. I haven't included it yet because I haven't needed it before. I usually add features when I need them or other developers need them.

Normally when I want to ignore a **value** (or pretend it does not exist) in a *Form*, I **disable** it, that way the value of the control will not be included in t

[2021-05-17 08:38] joanpablo commented on #149
Hi @jans-y,

Thanks for your issue. I will add those properties in the next release.

Best regards

[2021-05-17 08:41] joanpablo commented on #145
Hi @jbt-cii,

Sorry, to be honest, I haven't seen it yet. But I will do it this week. Thanks for your patient. I will let you know asap.

[2021-05-17 08:42] joanpablo commented on #147
Hi @agares29,

Have you resolved your issue already? Please let me know.

Best regards.

[2021-05-17 08:43] joanpablo commented on #142
Hi @kerbo,

Have you already resolved your issue? I haven't heard from you for a while. Please let me know.

Best regards

[2021-05-17 08:59] naamapps commented on #150
Hey @joanpablo, thanks for your reply.
It would be great if you could add it to the next release please.
For now I will settle for the disabled solution, but in terms of code readability, it is not obvious that the control is not appearing on screen and its not actually disabled, but ignored.

Thanks a lot!

[2021-05-17 09:05] joanpablo commented on #150
I will include it in the next release. Thanks to all of you.

[2021-05-17 12:33] kerbo commented on #142
valueChanges works.

[2021-05-17 12:33] #142 closed

[2021-05-17 15:33] jbt-cii commented on #145
Hi @joanpablo
Thank you... I searched but I did not find why I obtain such a result when I click in the field.
If you don't find I think I should try classic flutter form because I'm totally blocked for my development :-(

[2021-05-17 16:48] joanpablo commented on #145
Hi @jbt-cii,

I have tested your sample application. I have seen the issue in action, when you Tap on the text field the keyboard shows and after a few seconds hides again, unable you to type anything on it. But that behavior has nothing to do with **Reactive Forms**. I have completely remove Reactive Forms from those views and used instead of simple **TextFields** and removed *ReactiveFormBuilder

[2021-05-17 22:07] agares29 commented on #147
Sorry for the late response, but I've been struggling with the covid shit.

Yeah, that worked, thank you for your help :)

[2021-05-17 22:07] #147 closed

[2021-05-18 06:58] joanpablo commented on #147
Hi @agares29,

Thanks for your reply. And I'm glad that you are well or better after the covid. If you have any other questions don't hesitate to open another issue.

Best regards.

[2021-05-18 10:27] jbt-cii commented on #145
@joanpablo
Thank you for your help.
It is not a good news for me.
If someone which have your experience can not find the reason of this behaviour I have not a good chance to find.
There is something which forces the rebuild of the page when we click on the field so it seems that something listen to the click action.
I didn't write something which do that so I was telling myself that something in t

[2021-05-18 10:33] joanpablo commented on #145
Hi @jbt-cii,

Thanks for your kind words. I'm sure we are going to find the reason. Today I will try again to find the reason why the UI is rebuilt all widgets as new again and again. That's the reason why the keyboard hides. Don't worry I will help you to figure out what is going on.

Best regards.

[2021-05-18 19:53] morrowyn opened #151 "Implement custom AsyncValidator class"
Hi,
I'm trying to create a async validator class, however I noticed there is no interface for it. I want to take this approach, because I want to use getIt dependency injection of my services into the validator.

Validator<T> only have a sync interface.
And returning a ValidatorFunction is also a sync interface.

So I'm only left with the docs and implementing local function. Any ideas?

p.s. Love

[2021-05-19 09:20] joanpablo commented on #148
Hi @nnkti18,

The latest version of the **Stable Channel** is still using **int** as the data for **elevation**.  So I guess we will need to wait until this change from int to double is merged into Stable Channel from the Flutter team. Meanwhile, I cannot change from int to double because it will break the Stable Channel (the channel that almost everybody uses in production apps).

Meanwhile, I wi

[2021-05-19 09:20] #148 closed

[2021-05-19 12:00] joanpablo commented on #150
Hi @naamapps,

I have just released the version 10.3.0. In this version you can remove a control from a group by its name.

Please test it and if you find another issue don't hesitate to reopen this one or create a new one.

Best regards

[2021-05-19 12:00] #150 closed

[2021-05-19 12:02] joanpablo commented on #149
Hi @jans-y,

I have just released version 10.3.0. In this version, I have added more properties to ReactiveRadioListTile and ReactiveRadio, including those that you mention in your issue.

Please test the latest version and don't hesitate to reopen the issue or create e new one.

Best regards

[2021-05-19 12:02] #149 closed

[2021-05-19 12:03] joanpablo commented on #139
Hi @naamapps,

The latest version that I have just released v 10.3.0, includes this new callback in the **ReactiveTextField**.

Don't hesitate to reopen the issue or create e new one if something else is missing.

Thanks for your support, and best regards

[2021-05-19 12:03] #139 closed

[2021-05-19 12:05] joanpablo commented on #138
Hi @DevNico,

I have just released a new version of Reactive Forms, version 10.3.0. In this version, you can Bind a FOrmControl of type **int** to a ReactiveSlider.

Don't hesitate to reopen the issue or create a new one if something is missing.

Best regards.

[2021-05-19 12:05] #138 closed

[2021-05-19 12:08] joanpablo commented on #151
Hi @morrowyn,

Thanks for using **Reactive Forms** and for your kind words. As far as I understand about your issue is that you want to create a **class** that implements an interface like **abstract class AsynValidator**. The same way that is implemented the **abstract class Validator**. Is that what you are suggesting?

Please let me know, and best regards.

[2021-05-19 16:08] jans-y commented on #149
Thank you, I really appreciate it. 🙏

[2021-05-19 16:11] jbt-cii commented on #145
Hi @joanpablo
Today I worked on a new version of my cleaned up development to illustrate the problem.
I noticed different issues in this special version (especially in the implementation of different parts of "Reactive Form" and also the "Cubit" part).
In this version, I removed the management of the bottom navigation menu.
The problem is still present, but I noticed that when you click in the fie

[2021-05-20 14:04] jbt-cii commented on #145
Hi @joanpablo
The link is almost invalid. :-)
Tell me if you want that I upload it again.

[2021-05-20 14:08] jbt-cii commented on #145
@joanpablo
For your information I tried this solution:
https://stackoverflow.com/questions/64385459/use-cubit-for-flutter-form
But it changed nothing in my case.
Maybe I will try to replace "Cubit" by "Bloc".
I don't know if it's worth trying this approach or if it's doomed to fail.

[2021-05-21 02:32] rodriger06 opened #152 "font size in ReactiveDropdownSearch"
Hi, I would like to know how to change the font size in ReactiveDropdownSearch for the selected items and for the list of items in the popup.  I tried using style like
[code]
but ReactiveDropdownSearch  doesnt recognize it.

here is my code
[code]
take a look at the pics attached at the text circled in red.  I want to increase the font size of the selected item as well as the items in the popup sc

[2021-05-21 07:46] joanpablo commented on #145
Hi @jbt-cii,

Sorry, the link has become invalid, yesterday :(

I think that maybe you should try Provider instead of Cubit, and see if the issue persists. I always have used Provider in my projects I can guarantee you that it works 100% with Reactive Forms. I have never tried yet Cubit. I will create a simple example with Cubit to see how it goes. But meanwhile, I recommend you to create the same

[2021-05-21 09:40] kuhnroyal opened #153 "10.3.0 requires Flutter 2.2.0"
This is not a bug, just a request for documentation.
Due to the use of `MouseCursor` in `ReactiveRadio` the 10.3.0 release does not work with pre-2.2.0 releases.

[2021-05-21 10:52] jbt-cii commented on #145
@joanpablo
No problem, you are already very nice to try to help me.
I worked today in a new version more simple again.
Really I don't understand.
Now in this version there is not any "cubit" (or "bloc" or "provider") code.
Even I deleted part of code about the "overlay".
I deleted also a lot of components to get all "campaignAll" part in almost one page.
But even like this it does not work.

Here

[2021-05-21 14:12] jbt-cii commented on #145
@joanpablo
In order to replace my "MyFormInputText" component I have just tried this:
[code]

The problem still exists using "ReactiveFormBuilder" or using "ReactiveForm"... even without "validator" for the field :-(
I really don't understand.
I don't know... Maybe the problem comes from the package used for managing the "pages".
I talk about the package "auto_route" ("auto_route: ^1.0.2").

[2021-05-22 14:38] Zacharias02 opened #154 "Error: Type 'MouseCursor' not found. | Error: 'MouseCursor' isn't a type."
I found these errors after migrating to version 10.3.0 causing crash during building the app.

![image](https://user-images.githubusercontent.com/52057825/119230340-57370980-bb4e-11eb-9cba-2a03092c8f96.png)

[2021-05-23 10:56] joanpablo commented on #153
Yeap, @kuhnroyal you are right, I need to specify these break changes in the doc. Thanks

[2021-05-23 10:57] joanpablo commented on #154
Hi @Zacharias02,

Yeap you are right, my fault, I need to specify in the documentation that this is because of the upgrade to Flutter 2.2 that has this braking changes.

[2021-05-23 10:57] joanpablo commented on #154
Maybe I will release one without the cursor, and the other with the MouseCursor and the specification in documentations

[2021-05-23 19:00] vasilich6107 commented on #152
Hi.
I answered you question https://github.com/artflutter/reactive_forms_widgets/issues/13#issuecomment-846608241

It is not the best practice to duplicate issues.
I describe shortly how to act next time if you'll have any widget specific questions here https://github.com/artflutter/reactive_forms_widgets/issues/13#issuecomment-846608711

[2021-05-23 19:02] vasilich6107 commented on #152
@joanpablo this issue could be closed

[2021-05-25 18:20] rooque opened #156 "Dynamic list of ReactiveTextField does not update the value when an item is removed"
Hello!

I am trying to implement a relatively simple behavior, a dynamic list of strings. In this list I can add new elements dynamically and delete any item from the list. However I am having a problem, when I delete an item other than the last one I am observing strange behavior. The values ​​are not updated on the screen despite making sure that the right form control and list item is cleared.

[2021-05-26 03:07] cedvdb commented on #107
it's due to autofocus

[2021-05-27 03:38] francipvb commented on #154
You can release a 10.0.2 branch with updates and add the constraint to stop installing before flutter 2.2.

[2021-05-27 10:31] jbt-cii commented on #145
@joanpablo
I think the problem comes from the output of the "myAuthFromClientCodeBuildLoaded" function in my "Cubit" process "loaded".
It expects to that Widget to return a Widget, so I returned "Container();".
But I want to redirect to another page during the handling of this Widget so I call a route... but the result of the call is asynchronous.

To see that I replaced the "auto_route" system wi

[2021-05-27 10:59] Fiyiin opened #157 "Activate error border on all TextFields"
Thanks for this awesome package. I want to activate and deactivate the error border on all my ReactiveTextFields programmatically. How can I achieve this, something like this:
![Group 7](https://user-images.githubusercontent.com/38258693/119814177-058dd680-bee2-11eb-800f-4004b1164420.png)

[2021-05-28 09:03] BenjaminFarquhar opened #158 "Cursor moves to far left when updating control"
Version: reactive_forms: ^10.2.0

I noticed this issue was resolved in 7.6.3.

7.6.3
Fix
Set cursor at the end of the text when set value to reactive text field from the FormControl.

However I am experiencing this issue when instead of using a ReactiveTextField, I use a [Flutter Typeahead](https://pub.dev/packages/flutter_typeahead) inside a ReactiveFormField and do field.didChange(). Is this som

[2021-05-28 13:38] jbt-cii commented on #145
Hello @joanpablo

As I don't find any solution I have just published a question into stackoverflow:
[Link to the stackoverflow question](https://stackoverflow.com/questions/67739874/flutter-cubit-loaded-state-managing-redirection-to-a-page-2-builds-of-th)

Maybe someone will be able to help me. :-)

[2021-05-28 14:22] magicznyadrian opened #159 "Compare validator stop working in Release"
I have a problem with the code below. In debug mode everything works, but when I run the application via flutter run --release validatior "compare" stops working (no error message, but in form.errors: ' form invalid{compare: { control: 50, compareControl: 10, option: CompareOption.greaterOrEqua}).
Validatior "required" still work.
The problem is occurring on Android and ios.

[code]

Flutter docto

[2021-05-28 20:10] BenjaminFarquhar commented on #158
I have managed to resolve this problem with the help of [this SO question](https://stackoverflow.com/q/54806469/3935156). It didn't work for me initially when I put the selection code into `onChanged` method of the TextEditingController:
[code]
I had to also add it to the top of the `ReactiveFormFieldState` builder method for it to work.

[code]

[2021-05-28 20:10] #158 closed

[2021-05-29 08:21] joanpablo commented on #159
Thanks @magicznyadrian,

I will take a look and let you know.

Best regards

[2021-05-29 19:01] joanpablo commented on #156
Hi @rooque,

Thanks for using Reactive Forms, and sorry for the late answer.

You are removing from the FormArray, but you are not listening for **valueChanges**. You must use a **ReactiveFormArray** or a **ReactiveValueListenableBuilder** and listen for changes in the value of the array or the Form.

The value does change, but you are not listening for these changes.

If you need a complete examp

[2021-05-29 19:12] joanpablo commented on #157
Hi @Fiyiin,

Thanks for using Reactive Forms and for the issue.

Could you argue a little more about what you are trying to accomplish? As far as I understand you want to customize the Theme (Style) of the widget. Reactive widgets like **ReactiveTextField** use inside a traditional TextField, a native widget. So you can apply styles and themes as you do with native widgets.

If you apply a Theme t

[2021-05-29 19:14] joanpablo commented on #159
Hi @magicznyadrian,

Sorry for the late answer. But looking at your example: Are you trying to compare a **String** value with an **int** value?

[2021-05-29 19:19] magicznyadrian commented on #159
Thanks @joanpablofor your quick reply,

Ofcourse no, sorry for the mistake in my example. I fixed it.

[2021-05-29 20:37] joanpablo commented on #159
Hi @magicznyadrian,

This form definition:

[code]
Defines that the **value1** (10) is **greater or equals** than **value2** (0) which is true. The form is **valid** and also the controls.

[2021-05-29 20:45] magicznyadrian commented on #159
The problem is that with the same data in debug mode it works fine but in release(flutter run --release) it doesn't:
In release:
when form valid
-form.valid return false, no error mesasge
when form invalid:
-form.valid return false, no error mesasge

[2021-05-29 20:48] joanpablo commented on #159
mmm, interesting. The tests all passed successfully. Let me create an example and take a look at this issue. Thanks.

[2021-05-29 22:27] joanpablo commented on #159
Hi @magicznyadrian,

I have released v10.4.0 fixing the issue. Please test it and let me know if something is missing.

Best regards and thanks once again for the issue.

[2021-05-29 22:29] joanpablo commented on #154
Hi @francipvb and @Zacharias02,

I have released version 10.4.0 that specifies the FLutter version in Documentation (Readme) please let me know if it is OK like that.

Best regards.

[2021-05-29 22:29] joanpablo commented on #153
Hi @kuhnroyal,

I have released version 10.4.0 that specifies the FLutter version in Documentation (Readme) please let me know if it is OK like that.

Best regards.

[2021-05-29 22:30] #152 closed

[2021-05-29 22:32] joanpablo commented on #151
Hi @morrowyn,

Could you please clarify for me if is correct the answer in my first comment? I would like to know if is correct my understanding of what you want with this issue?

Best regards

[2021-05-30 00:07] magicznyadrian commented on #159
Works perfectly! Thank you.

[2021-05-30 00:07] #159 closed

[2021-05-30 09:39] kuhnroyal commented on #153
I would still

[2021-05-30 09:39] #153 closed

[2021-05-31 03:30] SogoGolf opened #160 "next button on numeric keypad"
Thanks for this great library, which we have incorporated into our app(s).

Dumb question I guess - but how do we get a "NEXT" button or arrow on the keyboard when we're using a ReactiveTextField ?

[2021-05-31 04:04] SogoGolf commented on #160
actually this seems to do the trick: https://pub.dev/packages/keyboard_actions

[2021-05-31 04:04] #160 closed

[2021-05-31 07:09] joanpablo commented on #160
Hi @SogoGolf,

Thanks for using Reactive Forms.

For showing the NEXT button in the keyboard, you can set the **textInputAction** of the text field to **TextInputAction.next**. In Android it works perfect. In IOS I don't remember right now if textInputAction is working, but many developers are using the package that you mentioned **keyboard_actions** for adding extra buttons to the keyboard.

Best

[2021-05-31 07:09] #154 closed

[2021-05-31 09:50] jbt-cii commented on #145
Hello @joanpablo

I close this issue.
It was a "Cubit" problem.
Nevertheless I really thank you for your help.

[2021-05-31 09:50] #145 closed

[2021-05-31 13:06] rooque commented on #156
@joanpablo Thank you for creating this awesome lib!

Tried to use **ReactiveValueListenableBuilder**, but no luck ... got the same result :(

<details>
  <summary>sample code</summary>

[code]
</details>

[2021-05-31 19:52] joanpablo commented on #156
Hi @rooque,

Your example and Reactive Forms are working correctly, but to see the effects you need to make a small tweak. Because you are first removing from the **FormArray**:

[code]

it will trigger the **valueChanges** correctly, and because you are listen to the changes with the **ReactiveValueListenableBuilder** your widget will rebuild correctly...... But....... :) ........ you are buildin

[2021-05-31 20:06] joanpablo commented on #156
@rooque another suggestion is to use **ReactiveFormArray** instead of **ReactiveValueListenableBuilder** like this:

[code]

and change the name of the control boud to the text field in the **fromText** method from this:
[code]

to this:
[code]

[2021-05-31 20:06] rooque commented on #156
@joanpablo

Like these?

[code]

Tried and got same result.

Also tried to change how the list is built

[code]

And got the same result.

[2021-05-31 20:09] joanpablo commented on #156
What version of Reactive FOrms you are using?

Can you send me a simple project with these code so I can run it and see it in action?

[2021-05-31 20:13] joanpablo commented on #156
Or better you can clone the Reactive Forms git repo, and run the example Project. There you are going to have an Array Sample. These Array Sample add items but does not remove them. But I will send you the code to remove items, the same code I'm testing right now and you will see it working correctly. In future versions I will include in the sample the option to remove them.

So wich way do you pr

[2021-05-31 20:15] rooque commented on #156
I published it here: https://github.com/rooque/reactive_forms_issue156_sample/

[2021-05-31 20:16] joanpablo commented on #156
Wait, I will update the sample project with the option to remove items and you will clone the git repo, switch to **develop** branch and run the sample project. You will have and example of adding and removing items from the FormArray. Give a few minutes.

[2021-05-31 20:17] joanpablo commented on #156
I will try your code right now

[2021-05-31 20:22] rooque commented on #156
Also, I'm running it on web, forgot to mention it earlier

[2021-05-31 20:28] joanpablo commented on #156
Well your code in mobile is working just fine, I just add an extra small code to make it work completely fine and is add a **key** to the ReactiveTextFields like this:

[code]

See how I add the key as an ObjectKey and pass the same object MyString instance. With this small change the code is working completely fine in mobile.

[2021-05-31 20:31] joanpablo commented on #156
I have executed the code with **flutter run** and selected **Chrome** and the code just work fine.

[2021-05-31 20:34] joanpablo commented on #156
o problema foi resolvido com este pequeno ajuste? :)

[2021-05-31 20:36] rooque commented on #156
@joanpablo Yes, tested it here with the key parameter and worked just fine!

That was definitely the missing piece, How did you found it?

Thanks a lot!

[2021-05-31 20:38] joanpablo commented on #156
This is s common issue with Widget Lists (for example a list of Text Fields) in Flutter. I mean is not an issue is the way FLutter works. You need to set a key to items when you add and remove it from a collection, so Flutter can identify them.

[2021-05-31 20:39] joanpablo commented on #156
Thanks to you for using Reactive Forms and for the issue, with your issue I realize that I need to include an example of removing items in the Example folder of the project.

[2021-05-31 20:39] rooque commented on #156
Got it!

Muito obrigado amigo @joanpablo! Problema resolvido

[2021-05-31 20:39] #156 closed

[2021-05-31 20:40] joanpablo commented on #156
Fue un placer ayudarte @rooque . No dudes en volver a escribir si tienes alguna otra duda o problema.

[2021-05-31 21:37] joanpablo commented on #145
Hi @jbt-cii,

Sorry for not completely help you. I will release that finally, you have solved the issue, even when it was not related to Reactive Forms at all. I'm very happy that you found the problem.

Please don't hesitate to open other issues if have any other problem. I'm always glad to help.

Best regards.

[2021-06-01 08:39] Fiyiin commented on #157
@joanpablo I'm trying to activate the error borders on the textFields. For example, let's say the password is incorrect, I want the borders of all the textfields to show their error colors, just the way it appears in the screenshot.
Something like calling

[2021-06-02 10:33] joanpablo commented on #157
Hi @Fiyiin,

I still don't understand your issue, sorry I will need more explanation or e use case. But I will try to explain how ReactiveTextFields works.

By default, if the **FormControl** is **invalid** and the **ReactiveTextField** is **touched** (the user clicks on it and then remove focus by clicking another widget for example) then the *borders* of the TextField are going to get the *error

[2021-06-02 11:01] Fiyiin commented on #157
Exactly, I want to mimic this behavior from code.
one use case, when the user clicks on a submit button and the server reports an error, I want all the TextFields to get the error color, but they shouldn't show an error message below them.
Something like
[code]

[2021-06-02 14:19] joanpablo commented on #157
Hi @Fiyiin,

Mmm an interesting feature, I understand now. You don't want to show the error message. Just the red borders, but not the message text... I see....

ReactiveTextField is a wrapper to the native TextField widget. The way to *marks* the TextField widget with with an error is to set the [*errorText*](https://api.flutter.dev/flutter/material/InputDecoration/errorText.html) of the InputDec

[2021-06-02 14:31] joanpablo commented on #157
I forgot to mention that **validationMessages** receive a function with the *control* as an argument. Each time the status of the control changes (valid, invalid) this function is going to execute, so you can dynamically update the validation message depending on errors and info (from control or from some other place like for example a controller/bloc/viewmodel/etc).

[2021-06-03 12:49] liveaffiliates opened #161 "ReactiveValueListenableBuilder does not update value"
Hi,

Thanks for making this package it is really handy for model driven design.

I am trying to implement custom widgets for this package and I am having issues. The counter wiki and star rating guide are from an older version of reactive forms. I have got it working by changing a few things but I am not sure if what I am doing is right because the counter visually updates but ReactiveValueListena

[2021-06-06 08:35] joanpablo commented on #157
Hi @Fiyiin,

Remember also that **FormGroup.marksAllAsTouched** will mark all children as touched and the errors will show up programatically.

[2021-06-07 11:23] kuhnroyal opened #162 "AbstractControl not extensible"
I need/want to implement a custom extension of `AbstractControl` but a couple of the private functions can not be overridden outside of the `models.dart` file which practically makes this impossible.

I think it would be good to separate all the classes form the `models.dart` file into separate files which will automatically lead to a class hierarchy that is extensible by developers.

I understand

[2021-06-07 11:26] kuhnroyal commented on #162
The methods in question should instead be annotated with `@protected`.
See https://pub.dev/documentation/meta/latest/meta/protected-constant.html

[2021-06-07 11:27] kuhnroyal commented on #162
I'd be happy to provide a PR.

[2021-06-08 04:52] NiranjanShah opened #163 "Sample with GetX Library"
it will be gr8, if a sample can be provide using GetX Library.

[2021-06-09 04:39] dhsont opened #164 "how to show default errors for validations"
I Thanks for this great package,

I have some issues.

I want to show default validation messages for field without writing custom validation messages in ReactiveTextField ,
 this will reduce unnecessary code writing.

ex. for  Validators.minLength(6),
 it should show
` " Value must have a length greater than or equal to 6"  `

ex2:
`Validators.required,  -> "This field can not be empty"`

how to

[2021-06-09 11:32] ParadiseFallen opened #165 "Feature request"
Async method for easy handle validity

final fb = new FormGroup(...);

Future submit() async
{
   final state =  await fb.validate(); //state is ControlStatus
  //do staff
}

[2021-06-09 12:34] ParadiseFallen commented on #165
wanna use it with https://pub.dev/packages/async_button_builder

[2021-06-11 13:40] adiospace opened #166 "ReactiveRangeSlider"
Is there a reactive variant of RangeSlider? From what I can see there's only ReactiveSlider which only works with double.

[2021-06-12 12:01] gucci-quoci commented on #49
Is there any update on this?

[2021-06-12 21:45] BenjiFarquhar opened #167 "Can we detect when a keyboard key is entered?"
I would like to detect when a keyboard key (any key is entered, not a specific key) is entered into a ReactiveTextField, as opposed to just all changes with "valueChanges" as for  a keyboard change i need it to behave differently than a programmatic change. Just wondering if this is possible? Otherwise I can do a workaround by setting a flag, it'a just a bit less clean.

[2021-06-14 13:31] jans-y opened #168 "Globally defined validation messages"
Hi,

Is it possible to globally define validation messages? For example, I would like to set default validation messages instead of generic "required" or "minLength" to sentence in the language in which I am building an app.

Sometimes I don't need custom validation message for every field, generic message will suffice.

Thank you.

[2021-06-14 13:34] kuhnroyal commented on #168
Really like the idea!

[2021-06-17 09:33] jbt-cii opened #169 "How to get a text field similar to a HTML "textarea" component (multiline)"
Hello,

I try to create  an input text component similar to a HTML "textarea" component (multiline).
I saw the several options:
[code]

But I can't have a look similar to a HTML "textarea" component (multiline).
Does anyone know if it is possible to do such a thing?

Thanks for any answer. :-)

[2021-06-17 09:40] jbt-cii commented on #169
For information I tried to set minLines > 1 and also maxLines > 1 :-)
I tried also to defines maxLines to null.
I tried also this solution:

[code]
I saw that here: [https://stackoverflow.com/questions/45900387/multi-line-textfield-in-flutter](https://stackoverflow.com/questions/45900387/multi-line-textfield-in-flutter)

But in my case I can't get what I want to have :-)

[2021-06-17 09:47] jbt-cii commented on #169
OK I see where is the problem.
I use a "decoration".
Without this "decoration" I get the multiline aspect.

My code:
[code]

Is there a solution to have the "multiline look" with the "decoration"?
I'm going to change the title of the issue :-)

[2021-06-17 09:56] jbt-cii commented on #169
Also event without the "decoration" I can't get more than 2 lines even with this code:
[code]

[2021-06-17 10:25] jbt-cii commented on #169
OK I found the reason I couldn't get more than 2 lines without the "decoration" declaration.
I had a static height defined before in the "Container" containing the "ReactiveTextField":
[code]

Ok... now I would really like to get the "multiline" effect with the "decoration" declaration :-)

[2021-06-17 15:24] jbt-cii commented on #169
OK I found myself a solution :-)
I think the problem came from the "height" I told before.

I still have a problem:
When I write some text inside, keyboard appears but the field doesn't go up to let me see what I write.

Some images to illustrates the problem:
Image 1:
https://www.filemail.com/d/kfjhexiztsqnqjn

Image 2:
https://www.filemail.com/d/ckiimzliyanyoxr

[2021-06-18 13:44] vasilich6107 commented on #166
@adiospace
https://pub.dev/packages/reactive_range_slider

[2021-06-18 13:45] vasilich6107 commented on #166
@joanpablo we can close this issue

[2021-06-18 13:49] adiospace commented on #166
Oh, i was pretty sure i looked everywhere 🤣 ty

[2021-06-18 14:01] vasilich6107 commented on #166
@adiospace haha
You definitely did)
I released it 10 mins ago)

[2021-06-18 22:45] RandalSchwartz opened #171 "Please fix your broken email regex!"
No, please don't use this so-called "regex email validation".

I can think of a few email addresses that are perfectly valid that do not match that regex. When you want to validate an email address, please do not use a hand-rolled (or even copy-n-pasted) regex.

Instead, use (Dart) https://pub.dev/packages/email_validator (or Perl) https://metacpan.org/pod/Mail::RFC822::Address, which properly imp

[2021-06-19 08:32] vasilich6107 commented on #166
@adiospace does it fits your needs?

[2021-06-19 13:07] dhsont commented on #168
you can change default error messages,

see  this thread  #164

you can show by default  generic messages
ex.  Validators.minLength(6)

`Charactors should be more`

only issue is you can not pas value to messages.  so you cant show it should be greater than 6.
`Value must have a length greater than or equal to 6`

[2021-06-24 14:04] joanpablo commented on #171
Hi @RandalSchwartz,

Sorry for the late answer and thanks for your advice. I will take a closer look at your proposition. I will let you know when it is included in future releases.

Best regards

[2021-06-29 16:34] Frank-D opened #172 "Configuring a disabled 1-FormControl only FormGroup makes the form always invalid"
Hi,

I have a super simple forgot password form with only one form control field defined (email). I am receiving the already entered email value form a previous screen, hence, I am prepolutating such form control with that value, and I don't want this control to be editable at this point in the UX flow, hence, I am also making this form control disabled:

[code]

The generated UI input control is

[2021-07-04 23:16] bryanjorgeflores opened #175 "Async validator can´t return null"
Hi. I´ve been migrating my app to null safety. But this async validator isn´t working because of null return.

A value of type 'Null' can't be returned from the function '_calculateAge' because it has a return type of 'Future<Map<String, dynamic>>'

Future<Map<String, dynamic>> _calculateAge(
    AbstractControl<dynamic> control) async {
  final error = {'Necesitas ser  mayor de 18 años': false};

[2021-07-05 12:13] ayushin commented on #165
we took a slightly different approach with https://pub.dev/packages/progress_builder which works really well for simple async actions, like api calls:

You can wrap your submit button with, for example, below:

[code]

[2021-07-05 17:23] bryanjorgeflores commented on #175
I encounter the solution. I needed to put null safety to the returned map, it's like:

[2021-07-05 17:24] #175 closed

[2021-07-06 07:31] joanpablo commented on #168
Hi,

So, as far as I understand you would like to globally configure the default messages for validations, instead of 'required', etc.

But you would also like to define a method/function that receives the error (or the control) and then customize the error message based on the error information. Is that right?

Thanks to all of you for the issue

[2021-07-06 07:32] joanpablo commented on #171
Hi @RandalSchwartz,

could you give some examples of valid emails that do not match the current regex implementations (just to create some unit tests)

Thanks best regards

[2021-07-06 14:13] jans-y commented on #168
Hi,

1. Yes, since we are doing app in our domestic language, it seems a little bit tedious to repeat ourselves at every field for simple validations as required, email, etc.
2. Yes, it makes sense to have method/function to have the ability to handle validations with parameters as minLength, maxLength, etc.

Thank you.

[2021-07-07 08:23] joanpablo commented on #164
Hi @dhsont,

I will close this issue because as far as I understand is the same as the [Globally defined validation messages #168
](https://github.com/joanpablo/reactive_forms/issues/168). If it's not please don't hesitate to reopen it and give more arguments.

Thanks a lot for your support.

[2021-07-07 08:23] #164 closed

[2021-07-12 08:15] vasilich6107 opened #176 "Form generator and package roadmap"
Hi @joanpablo
I have an idea to write generator which will help to overcome some disadvantages of JSON access to field values
described in this issue https://github.com/joanpablo/reactive_forms/issues/28

Something like
[code]

Also I would like to discuss with you if there is a possibility to create some roadmap about form engine features to implement)

If you are ok with that ping me in discord

[2021-07-12 08:21] joanpablo commented on #176
Hi @vasilich6107,

Thanks a lot for your help, I've been quite busy recently.  Your idea sounds interesting. I would like to understand it better. So I will ping you as soon as I can. I cannot promise you it will be today, but I will let you know as asap.

Thanks a lot. Meanwhile, if you like to argue a little more here I can read a take a better understanding before we talk in discord.

[2021-07-12 12:42] vasilich6107 commented on #176
Let me try to give a more detailed example.

Let's assume that we have `Login` model

[code]

This will generate class something like

[code]

[2021-07-12 12:44] vasilich6107 commented on #176
@tgbarker @marcos930807 join to our discussion of the generator

[2021-07-12 12:49] vasilich6107 commented on #176
I suppose to start initial implementation in one or two weeks)
I think there will be a `alpha` version first with tons of breaking changes during implementation)
I think we could assume to achieve more stable `beta` release till the end of the year

[2021-07-12 14:58] kuhnroyal commented on #176
I actually wrote a similar generator for internal use, so I can't share fully.
It started the same way, by defining the backing model and its fields. This proved to be more complicated than expected.
You can not always infer the correct `FormControl` type from the model value. A `List<String>` can be a `FormControl<List<String>>` or a `FormArray<String>`. Of course you can handle this with additio

[2021-07-12 15:22] vasilich6107 commented on #176
@kuhnroyal thanks for insights about `FormControl<List<String>>` or a `FormArray<String>`

[2021-07-12 20:34] vasilich6107 commented on #166
https://pub.dev/packages/reactive_range_slider
@joanpablo we can close this issue

[2021-07-12 20:38] vasilich6107 commented on #137
Hi @mammba01012018
`ReactiveDatePicker` technically not the same as `ReactiveTextField`
It uses `InputDecorator` to mimic the look and feel.
But there actual `scroll into view` is implemented deeper in `Editable` widget(or something like this)

[2021-07-12 20:38] vasilich6107 commented on #130
@piuskamil did you succeed in fixing the issue?

[2021-07-12 20:40] vasilich6107 commented on #163
@NiranjanShah `reacitve_forms` hadels form state internally
It is not clear what example are you talking about

[2021-07-13 04:13] piuskamil commented on #130
@vasilich6107 partly, I have used listview builder to split my form and lazy load hidden parts of the form and this issue no longer occurs

[2021-07-13 09:38] BenjaminFarquhar opened #179 "ValueNotifier.notifyListeners() elsewhere in the code causes ReactiveFormFieldState methods to not rebuild the widget"
[code]
I have this form:

[code]

When I update the value of the following `ReactiveSwitch` :

[code]
programmatically like so:

[code]

I only get the animation of the switch changing on the first time doing it. Subsequent changes of the form value do not animate or even visually change the switch between on/off.

I'm not sure if this is supposed to work, or if this is just not implemented/not go

[2021-07-14 02:48] BenjaminFarquhar commented on #179
I should have mentioned I'm also doing this:

[code]

The bug goes away when I remove that code. It will be because `AdaptiveTheme.of(context).setDark();` calls `setState(() {});` around the same time as `form.control('darkMode').value = !darkModeValue` causes a `setState` to happen also. So it is not a bug with any package. I still would like to find a solution to this if anyone knows one. I trie

[2021-07-14 13:02] vasilich6107 commented on #179
https://user-images.githubusercontent.com/6721286/125626527-bb13b483-aab5-49fe-bdac-c9bc1d714392.mov

[2021-07-14 13:04] vasilich6107 commented on #179
https://user-images.githubusercontent.com/6721286/125626817-5a7318cd-8890-49ca-bce4-4d10bab7f6bc.mov

[2021-07-14 13:05] vasilich6107 commented on #179
Create your form inside statefull widget
![image](https://user-images.githubusercontent.com/6721286/125626921-6aa103c9-fbf6-41b4-ae33-267b6db5ffc5.png)

[2021-07-14 13:06] vasilich6107 commented on #179
Here
[code]

it calls local set state and `widget.test()` which is call back from parent statefull widget also calling set state
and everything seems to work fine

[2021-07-14 19:45] BenjaminFarquhar commented on #179
Cheers @vasilich6107. I will try this on my code later. In the mean time I can see that this is not a bug and can work so I have closed.

[2021-07-15 06:48] BenjaminFarquhar commented on #179
@vasilich6107  `AdaptiveTheme.of(context).setDark();` and `AdaptiveTheme.of(context).setLight();` cause the `ReactiveFormFieldState` methods:

[code]

to never execute.

I've added code to manually trigger `_onControlStatusChanged` so that it calls `setState`:

[code]

It executes this line of `markAsEnabled`:

`_status = ControlStatus.valid;`

and  `_onControlStatusChanged(ControlStatus status)`

[2021-07-15 07:12] BenjaminFarquhar commented on #179
@vasilich6107 commenting out `notifyListeners` of `ValueNotifier` causes the ReactiveSwitch to visually toggle. So `notifyListeners` does something funky to the `ReactiveFormFieldState`

[code]

[2021-07-15 18:15] vasilich6107 commented on #179
Could you post a reproducible sample?

[2021-07-15 18:48] BenjaminFarquhar commented on #179
I think it will be reproducible if you add a changeNotifier and notifyListeners inside your `onDarkModeChange()`. I will post again when I get a reproducible example without AdaptiveThemes.

the widget:

[code]

the viewModel:

[code]

[2021-07-17 07:30] BenjaminFarquhar commented on #179
Actually I think the bug is on adaptive_theme's end or my usage of it, I can't reproduce this issue without adaptive_theme and I've observed your code working when adaptive_theme is not used. Thanks for looking into this.

[2021-07-17 07:30] #179 closed

[2021-07-17 08:41] vasilich6107 commented on #179
Your welcome

[2021-07-17 13:30] vasilich6107 commented on #176
It seems that code generation will require library split into packages.
The dependency on flutter sdk break the code generation.
Also for annotations validation functions should be static…

[2021-07-18 07:02] vasilich6107 commented on #176
@joanpablo
I asked one guru and he confirmed that code generation requires no flutter deps
I’m working on code gen with mocks

when I will finish I will give you a link to repo.
Then I’ll prepare migration to separate packages

[2021-07-18 19:37] sokolej79 opened #181 "Creating custom reactive form field better api"
Creating custom reactive form field is is a little clumsy.
Flutter promotes composition over inheritance as all software does.
For new field we must extends statefullWidget  ReactiveFormField<ModelDataType, ViewDataType> and create widget in builder in constructor super method.
It will be better to create some kind of extendible base form field widget with abstract method build and some decorator

[2021-07-19 10:50] izandona opened #183 "Can't set default value to ReactiveDropdownField"
Hi everyone,
I'm trying to initialize the **ReactiveDropdownField** with a default value but I can't find the parameter to do it. In the **DropdownButtonFormField** I used the "value" parameter.

![immagine](https://user-images.githubusercontent.com/42273815/126149067-0f1b9c0c-6e31-4442-9f97-538a259e4be4.png)

[2021-07-19 11:08] joanpablo commented on #183
Hi @izandona,

You just need to initialize the FormControl that is bound to the ReactiveDropdownField.

[2021-07-19 12:17] izandona commented on #183
So I have to create a "FormControl" with a value field, and that value was the "Default value" of the ReactiveDropdownField?

`FormGroup buildForm = fb.group(<String, dynamic>{
    TowTruckFields.veichleList: FormControl<String>(
      validators: [Validators.required],
      value: "DafaultValue"
    ),
});`

[2021-07-19 12:22] joanpablo commented on #183
Hi @izandona,

Yes, you always need a FormGroup with at least a FormControl. That FormControl is bound to the widget. You can check the "example" folder with "complex example"

[code]

[code]

[2021-07-19 12:24] izandona commented on #183
Hi @joanpablo, perfect! Thanks

[2021-07-19 12:24] #183 closed

[2021-07-19 12:30] joanpablo commented on #183
You're welcome @izandona

[2021-07-19 12:38] kuhnroyal opened #184 "Consider adding readOnly flag to FormControl"
I think it would make sense to add a `readOnly` flag to `FormControl<T>`.

Most Flutter inputs have a readOnly flag, it would be nice if this could be bound directly to the `FormControl` just like the `enabled` flag.

I could probably create a PR if this is something that is interesting for more people.

[2021-07-19 14:00] combi-35 opened #185 "Unable to change FormArray value"
I am trying to update a FormArray value but it's behaving strange.

Flutter version:  2.0.6
Reactive Form version: 10.2.0

[code]

I am able to assign values to FormArray but I can't update or reset it.
Even when I pass an empty List to setInterests() it's not resetting.
Am I misunderstanding something with FormArray?

[2021-07-19 16:09] ayushin commented on #165
And we've just extended it for support of external submit action, for example from a field `onSubmit`:

[code]

feedback welcome

[2021-07-19 18:16] vasilich6107 commented on #184
What is the significant difference between `disabled` and `readonly`?

[2021-07-19 18:23] vasilich6107 commented on #184
This flutter inputs does not have `readonly` flag
- Checkbox
- CheckboxListTile
- DropdownButton
- Radio
- RadioListTile
- Slider
- Switch
- SwitchListTile

And many more...

I did bindings to all this widgets https://github.com/artflutter/reactive_forms_widgets and I did not notice any need of readonly for `FormControl`

[2021-07-19 18:27] vasilich6107 commented on #181
@sokolej79
Hi
Here is a basic example of creating custom widget
https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/reactive_switch.dart

Could you write a demo code which clearly describes your idea and makes the experience less clumsy?

[2021-07-19 19:15] vasilich6107 commented on #171
@joanpablo I think the list could be taken from here
https://github.com/fredeil/email-validator.dart/blob/master/test/email_validator_test.dart#L6

[2021-07-19 19:17] vasilich6107 commented on #171
https://regex101.com/r/HN6jk7/1

[2021-07-20 08:21] sokolej79 commented on #181
Little background first, For demo code I still thinking for right design approach.
We use custom dynamic forms with the reactive_forms package. All data for form and fields are obtained from the server as json: FormOptions, FieldConfig, templateOptions.... Then we dynamicly build form and fields.
How to add additional state properties to an existing ReactiveFormField widget?
We need some Base form

[2021-07-20 09:15] kuhnroyal commented on #184
You are right, only text input supports readOnly.
I am looking for a clean way to separate hidden/readOnly fields in the `FormControl`.

Basically there is 2 states that I need in the `FormControl`, but there is no way to do this currently, since there is only the `disabled` flag.
1. the input is displayed but readyOnly (not editable)
2. the input is not displayed

Not sure if that makes sense to

[2021-07-20 09:22] kuhnroyal commented on #181
I agree that this feels a bit "clumsy" as you say, and in Flutter it is better to wrap in another widget than to extend. This can probably be refactored but would be a big breaking change, main problems being the handling of focus nodes and text controllers.

[2021-07-20 10:34] sokolej79 commented on #181
I was thinking base field with Hooks, but still don't know if it is the right approach.

Pseudo code:
class ReactiveField extends HookWidget {
  final FieldConfig fieldConfig;
  final String formControlName;
  final ValidationMessagesFunction<ModelDataType>? validationMessages;
  final ControlValueAccessor<ModelDataType, ViewDataType>? valueAccessor;
  final ShowErrorsFunction? showErrors;

  Reac

[2021-07-20 11:57] vasilich6107 commented on #181
@sokolej79 I do not see much difference between pseudo code and current approach

We have to do the same things:
`+` extend from custom class `ReactiveFormField` vs `HookWidget`
`+` pass through all props
`+` map `reactive_forms` control elements to the widget

Maybe I'm missing something

[2021-07-20 13:08] vasilich6107 commented on #176
Hi @joanpablo

I'm writing generator.

It already produces from

[code]

this

[code]

[2021-07-20 13:25] vasilich6107 commented on #176
There is no big problem to generate other methods
I would like to discuss with you the splitting `reactive_forms` into separate packages.

[2021-07-20 14:35] sokolej79 commented on #181
Yes maybe will need something better, but difference is that with hook approach (can be something else), we can create custom widget in build method and not extending  StatefullWidget and build widget in constructor in super call. In constructor builder you cannot access class methods only static or extend state.
This is very wrong approach.

[2021-07-20 14:50] sokolej79 commented on #181
For now I have extended  ReactiveFormField and added custom properties and methods on state and every custom field extends this new base field widget. But I had to create all 17 custom field widgets we with this new base class and that is not good.
I couldn't add additional properties and methods in some other way.
And I dont control the rebuilds.

[2021-07-20 14:53] vasilich6107 commented on #181
Could you give me quick example of your implementation and usage.
Maybe I'll suggest you something

[2021-07-20 15:28] jbt-cii opened #186 "ReactiveDropdownField select a specific DropdownMenuItem according to the selected value of another ReactiveDropdownField"
Hello,

I have a problem which is near this topic:
https://github.com/joanpablo/reactive_forms/issues/183
But the answer does not help me in my case.

I have 2 ReactiveDropdownField.
When I select a value in the 1st ReactiveDropdownField I would like to select a specific DropdownMenuItem (value and child selected) of another ReactiveDropdownField.

That doesn't work when I change the value of the

[2021-07-20 15:58] vasilich6107 commented on #186
@jbt-cii use `updateValue` instead

[2021-07-20 16:07] jbt-cii commented on #186
Thank you @vasilich6107
I have just tried:
[code]
That doesn't work in my case.
When I control "form.control("my_second_field").value" after, it's OK it has the good value.
But the text printed (selected) in this second field doesn't change.

[2021-07-20 16:16] vasilich6107 commented on #186
@jbt-cii
try to react on changes in `buildForm`

I tested the behaviour before posting a suggestion

Here is my code

[code]

[2021-07-20 16:42] jbt-cii commented on #186
Ok I found the problem.
In fact this way was enough:
[code]

The problem came from the fact I did not put a specific format to my controls.
So for each field declared in my 'FormGroup' I hed to declare the control like:
[code]

And also I had to declare my "DropdownMenuItem" like this:
[code]

With that it seems to be good!

Thanks for the help.

[2021-07-20 16:42] #186 closed

[2021-07-20 16:42] vasilich6107 commented on #176
Added support of bundled widget builder

[code]

[2021-07-20 16:52] vasilich6107 commented on #176
@joanpablo
here is initial repo https://github.com/artflutter/reactive_forms_generator

[2021-07-20 17:25] sokolej79 commented on #181
Currently I share field logic with inheritence in base Field model.
In sample field BarcodeField I can't use private Widget methods because of constructor and super, I know can be used with decomposition smaller widget with inputs and callback functions but sometimes I prefer private methods and is not possible, to add methods on state as below is little strange.

Another question, maybe not for t

[2021-07-20 17:32] kuhnroyal commented on #181
Please format your code with tripple backticks ` ```dart ` around the blocks.

[2021-07-20 18:05] vasilich6107 commented on #181
Wow )
Long read)

[2021-07-20 19:05] vasilich6107 commented on #166
@adiospace does it fits your needs?
If it does could you close the issue?

[2021-07-21 01:36] joaomantovani commented on #185
Facing the same problem here.

[2021-07-21 09:46] joanpablo commented on #185
Hi @combi-35,

Have you tried to pass
[code]
instead of
[code]
[code]
?

[2021-07-21 09:49] joanpablo commented on #185
What exactly you mean with "//interests.reset(value: interestsUuid); // doesn't work"

Are you getting a runtime error? The widget doesn't update the value, or the FormControl doesn't update its value?

[2021-07-21 09:59] joanpablo commented on #172
Hi @Frank-D,

Sorry for the answer to this issue so late, and thanks for using Reactive Forms.

Have you tried to use they **readOnly** property that is present in the **ReactiveTextField**? Don't disable the email control, just use the *readOnly* in the widget.

Let me know if it solves your issue.

[2021-07-21 10:00] joanpablo commented on #171
Thanks @vasilich6107 I will take a look

[2021-07-21 10:06] #166 closed

[2021-07-21 10:06] joanpablo commented on #166
Hi @adiospace,

Don't hesitate to reopen the issue if it does not fits your needs.

[2021-07-21 10:15] joanpablo commented on #184
Hi @kuhnroyal,

I'm not sure yet to understand your issue.

1. the input is displayed but readyOnly (not editable) (You could just use the **readOnly** property on the **ReactiveTextField**)
2. the input is not displayed (I guess you want to hide/show the ReactiveTextFIeld. Is that right? Why not just use a [Visibility](https://api.flutter.dev/flutter/widgets/Visibility-class.html) widget to show/

[2021-07-21 10:26] kuhnroyal commented on #184
Hi @joanpablo,

yes, I can do all that. The problem is knowing when to do that. In large dynamics forms, visibility/read-only/disabled/validation state may depend on data entered in other inputs. And since it is dynamic with tons of fields it is hard to maintain the state myself. It would be best to communicate the state to other `FormControl`s via the `FormControl` itself.

I think a lot of peopl

[2021-07-21 10:49] Frank-D commented on #172
Hi @joanpablo,

No worries. Looking at your answer however, I’m wondering if you have read my previous comment till the end, more specifically the paragraph which starts with “My current alternative solution…” where I actually mentioned that I ended up using such “readOnly” attribute that you are referring to, but as I stated in that previous comment/paragraph, I don’t think the look & feel is rig

[2021-07-21 10:51] combi-35 commented on #185
Hi @joanpablo,
yes indeed changing from `List<String?>` to `List<String>` does work, but in my case the `List<String?>` I pass to `setInterests` is based on `formInterest.control('interests').value` and value is by defintion `T?`

So I am using something like:
[code]

[code]

Also there was no RuntimeError, the value just won't update.

[2021-07-21 11:01] #162 closed

[2021-07-21 11:10] joanpablo commented on #172
Hi @Frank-D,

I understand now the issue, what is actually happening is that the Form is in state **disabled** not valid, not invalid, but *disabled*. And that is because all the children controls (just one: email) is disabled. When a Form has all its children as disabled then it turns into disabled.

So maybe you can just continue using your disable *email* control, but in the Submit button don't

[2021-07-21 11:13] joanpablo commented on #172
These are the states of the controls:

[code]

So in your case the Form is in state **disabled**

[2021-07-21 11:34] joanpablo commented on #184
Yeap, you are right, not all the cases are the same.

I will share with you one of my experiences, maybe not the best and it's not applicable to all cases, but it may help anyway.

I once used a FormControl that holds a *boolean* value and I changed this boolean value with a **ReactiveSwitch**. Then I had something like this:

[code]

This is just a simple example of course.

Anyway, as always we

[2021-07-21 11:45] joanpablo commented on #185
Hi @combi-35,

This is a unit test from Reactive Form, and it run successfully. If you go to the folder *test/src/models/form_array_test.dart* you will see a lot of test for the **reset** method in a FormArray. So help me to understand the differences with your code. This is just an example of one of the tests:

[code]

[2021-07-22 00:52] #157 closed

[2021-07-22 07:53] aadarshadhakalg opened #188 "Getting Incomplete form value"
While trying to access form value using ``` form.value ```. The response is not complete. i.e the while form data does not showup.  Please help me.

[code]

Printing after filling up all fields.

[code]

Result

[code]

[2021-07-22 08:20] #188 closed

[2021-07-22 10:18] vasilich6107 commented on #176
Hi @joanpablo
I create PR to illustrate how package split could be done.
The next step I will prepare real example with code generartion

[2021-07-22 13:36] vasilich6107 commented on #176
hi @joanpablo @kuhnroyal

here is fully functioning example
https://github.com/artflutter/reactive_forms_generator/tree/master/packages/reactive_forms_generator/example

[2021-07-22 13:37] vasilich6107 commented on #176
Please comment)

If you want to try it inside your project just refer to this setup

[code]

[2021-07-22 13:38] vasilich6107 commented on #176
The example uses lates 10.5.0 version of reactive forms

[2021-07-22 13:56] combi-35 commented on #185
Hi @joanpablo ,
I am sorry I found a bug in my code, I was duplicating everything when writing to `value`.
Thanks for your time!

[2021-07-22 13:56] #185 closed

[2021-07-22 15:23] joanpablo commented on #176
Hi @vasilich6107,

Sorry for not answered before. I would like to make some tests in my local env and see the generator in action and see the advantages and disadvantages before including it as part of the official package. So I need to take a look at your great work, and examples.

Meanwhile, I have my first question: Should I be able to use Reactive Forms in a traditional way, as before the gene

[2021-07-22 15:28] joanpablo commented on #188
Hi @aadarshadhakalg,

I guess you figured out how to solve your issue. Thanks for using Reactive Forms. Don't hesitate to ask questions.

Best regards

[2021-07-22 15:49] aadarshadhakalg commented on #188
Yeah, actually I was printing the form.value and later I knew that the print function cannot print large strings at once. Thank you so much for the amazing package.

[2021-07-22 15:52] kuhnroyal commented on #176
@joanpablo I don't think the generator is a requirement to use reactive_forms. And it shouldn't be.

@vasilich6107 I understand why you want to split the library but can you instead try using `const TypeChecker.fromUri('package:reactive_forms_annotations/src/form_array_annotation.dart#FormArrayAnnotation')` (not sure about the correct factory function). This does prevent the runtime dependency and

[2021-07-22 20:08] vasilich6107 commented on #176
@joanpablo I answered to @kuhnroyal here https://github.com/joanpablo/reactive_forms/pull/189#issuecomment-885198972

The next comment will be an answer on @joanpablo questions

[2021-07-22 20:30] vasilich6107 commented on #176
Hi @joanpablo
Thanks for getting along with my work.

Generator will be an assistive tool. You will be able to use `ReactiveForms` as before.
There will be no difference for the user.
The only difference is that on `pub.dev` will be two packages
- `reactive_forms_core` - the part that do not require flutter as dependancy
- `reactive_forms` - the same as before.

I described in this comment why I n

[2021-07-22 20:41] vasilich6107 commented on #176
There is also a question `What if I fail to finish the generator?`

One answer is "The package will still be usable without generator"
Another one "Package split could be reverted without any difference to the user. As far as user will be using `reactive_forms` as main dependency and all content of `reactive_forms_core` is reexported from `reactive_forms`

[2021-07-22 20:56] vasilich6107 commented on #176
The roadmap is quite simple:
- release splitted packages
- add support for flat forms
- release as `beta` for public use and bug fixes
- nested forms support (aka nested `FormGroups`)

[2021-07-25 13:05] Frank-D commented on #172
Thanks a lot @joanpablo for your explanation, makes it super easy to understand now what's happening, and why the package logic will consider this form not valid neither invalid, but instead disabled, that's fine..

So I ended up changing my bloc logic (..which handles the form submit action and first validates the form..) from:
[code]
to
[code]
as you suggested, and it did the trick perfectly.
Th

[2021-07-25 13:05] #172 closed

[2021-07-25 15:00] joanpablo commented on #176
HI @vasilich6107,

Thanks again for all the work you are doing and all the help you give, not only to me, because I feel this package is not mine anymore, but of the community.

I understand now the issues you want to tackle with the *generator*. I'm just concerned about two things:

1-) I want the package **Reactive Forms** to be used as always, without the need for the generator (the generator a

[2021-07-25 15:52] vasilich6107 commented on #176
Hi. Thanks for your words!

You are totally correct. We do not need to split the package.

[2021-07-26 08:57] sokolej79 commented on #181
I tried some simple sample test with hooks and is working. Detects error messages, control state, touched, if needed value changed... Parameters and output state  can be anything desired and controlled.

[code]

[2021-07-26 08:57] sokolej79 commented on #181
Closing.

[2021-07-26 08:57] #181 closed

[2021-07-28 14:36] petoknm opened #190 "Field composition"
I want to create a field that combines two subfields together. For example, I would like to combine a text field with a dropdown to create a form field for measurements of different kinds (height, weight) where people enter value into the text field and select the right unit from the dropdown.

I want this combined field to behave **correctly** (up for discussion) like a single field in the follow

[2021-07-29 12:10] cedvdb opened #191 "ReactiveFormConsumer not updating"
I believe there is a problem where the `ReactiveFormConsumer` is not updating correctly.

If I listen to the form status changes I can see the form is valid:

[code]

while in the `ReactiveFormConsumer` the form is always invalid. and the build method is only called at the start.

[code]

[2021-07-29 13:12] vasilich6107 opened #192 "Documentation conflicts with reality"
Hi @joanpablo

In this chapter https://github.com/joanpablo/reactive_forms#reactiveform-vs-reactiveformbuilder-which-one
stated

[code]

But in reality `ReactiveForm` is also `StatefullWidget`

https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/reactive_form.dart#L16

[2021-07-29 18:05] vasilich6107 commented on #176
@kuhnroyal @joanpablo
beta version released https://pub.dev/packages/reactive_forms_generator

[2021-07-30 15:54] vasilich6107 commented on #176
Added form groups support

[2021-07-31 21:57] vasilich6107 opened #193 "FormArray value is List<String?>?"
Hi @joanpablo

The `FormArray` element has default type like `List<String?>?`
Isn't it enough to make it `List<String?>`.

The `[]` empty array and `null` has the same meaning in case of array of items - no value.

[2021-08-01 16:54] vasilich6107 opened #194 "Fields widgets without generic type is not able to benefit from `valueAccessor`'s"
Hi)

To demonstrate what I mean let's look at `ReactiveTextField<T>` it has generic type and `ControlValueAccessor` prop to be able to utilize `valueAccessor`'s

On the other side:
``
``
``
``

[2021-08-01 16:54] vasilich6107 opened #195 "Fields widgets without generic type is not able to benefit from `valueAccessor`'s"
Hi)

To demonstrate what I mean let's look at `ReactiveTextField<T>` it has generic type and `ControlValueAccessor` prop to be able to utilize `valueAccessor`'s

On the other side:
``
``
``
[code]

[2021-08-02 19:40] #194 closed

[2021-08-03 09:20] vasilich6107 opened #196 "SwitchListTile - Null check operator used on a null value"
`ReactiveSwitchListTile` throws an error due to this line of code
https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/reactive_switch_list_tile.dart#L55

[code]

[2021-08-03 09:36] vasilich6107 commented on #196
Fix #197

[2021-08-03 09:39] vasilich6107 opened #198 "Release automation pipeline"
Hi.
Could you setup automation for releasing the reactive forms version after merging PR?

[2021-08-03 18:48] vasilich6107 commented on #176
Started the docs
https://github.com/artflutter/reactive_forms_generator

[2021-08-03 18:57] DavidTheProgrammer opened #199 "MustMatchValidator marks the matchingControl as touched"
### Problem
I have "password" and "confirmPassword" inputs, I'm using a mustMatch validator on the form group and it's working as expected except for one thing. When I'm entering the password, the confirm password field automatically shows an error even before I've touched it.
I traced this down to the provided `mustMatch` validator as it marks the matching control as touched as long as the values

[2021-08-03 19:09] DavidTheProgrammer commented on #190
Have you tried using `FormGroup` and `FormBuilder`? You can nest as many formGroup elements as you need and use a single validator on the formGroup.

[2021-08-05 13:36] vasilich6107 opened #200 "How to run Validators for array group and for each form control item?"
Hi @joanpablo
I have a form with emails.
I can add infinite amount

I want to run validator at form array level to ensure that there is no duplicates in added items
Also I want to run an `emailValidator` to ensure that each field is valid email.

It does not seem that `reactive_forms` runs nested validators
Do you have any ideas how to solve this?

[2021-08-05 14:02] vasilich6107 opened #201 "setErros and validate return type missmatch"
setErrors accepts non nullable value
https://github.com/joanpablo/reactive_forms/blob/master/lib/src/models/models.dart#L545

but the built on validators return nullable valuehttps://github.com/joanpablo/reactive_forms/blob/master/lib/src/validators/email_validator.dart#L13

[2021-08-05 14:08] vasilich6107 commented on #200
i've found an answer
you need to manually run the validations addition tin `FormArray` validator

[2021-08-05 14:53] joanpablo commented on #201
Hi @vasilich6107,

Mmm yes, you are right, In my opinion, you should not use the method *setError* to set a **null** value. If the idea is to clear all errors then you can just pass an empty object *setError({})* or maybe we should have a *removeAllErrors* public method.

[2021-08-05 15:02] joanpablo commented on #200
You can create a Custom Validator that evaluates the FormArray each time you add or remove an item. Inside the Custom Validator you can check that each item is unique and use the built-in EmailValidator to check that each control is a valid Email.

I guess that your code above will works fine if you place it inside a Custom validator and if you add the extra check of unique values.

[2021-08-05 15:03] vasilich6107 commented on #200
Yep - it already works)

[2021-08-05 15:04] #200 closed

[2021-08-05 15:20] joanpablo commented on #199
Hi @DavidTheProgrammer,

Thanks for your issue, it is very interesting. In my opinion, the best solution is your number 2:
- Add an optional argument to the mustMatch validator to specify if we want it to marks the matchingFormControl as **dirty** or not.

It should have worked if we overrite the *showError(control) => control.invalid && control.dirty* in the passwordConfirmation Widget, but actua

[2021-08-05 15:24] joanpablo commented on #198
Hi @vasilich6107,

Could you explain to me a little better how to set up automation for release?

Thanks

[2021-08-05 15:33] vasilich6107 commented on #198
ok I will write my thoughts

[2021-08-05 15:36] kuhnroyal commented on #198
I don't think releases after every PR are the way to go.

[2021-08-05 15:45] vasilich6107 commented on #198
@kuhnroyal could you add any cons?

[2021-08-05 15:58] kuhnroyal commented on #198
Releases should be a conscious decisions. Some PRs are not worth spamming releases, some may just do some refactoring. Releases require decisions about what is a breaking change and what is not, what should the next version number be. You can't expect this from every PR in an OS project.

It would be possible to make `develop` the default branch and merge all PRs into this one.
Then you could add

[2021-08-05 16:08] vasilich6107 commented on #198
@kuhnroyal you are definitely right
what if we could setup immediate releases into `beta` from `develop` and `stable` releases from master?

I have an experience helping to maintain `artemis` package. We have `beta` branch which is instantly delivered as `beta` version of the package. The aim is to deliver releases as fast as possible to the user.

[2021-08-05 16:51] joanpablo commented on #198
I totally agree with @kuhnroyal. I want to carefully decide what to release as an official version of the package. I also don't want that the version number of the package grow so quickly (It already has grown fast)

But if you have some ideas, please you're welcome to detail what you have in mind.

[2021-08-05 17:00] joanpablo commented on #199
Hi @DavidTheProgrammer,

I have just released the v10.6.0 with the changes. Now you are ready to go.

Please don't hesitate to reopen again the issue or open a new one if you have any troubles.

Thanks

[2021-08-05 17:00] #199 closed

[2021-08-05 17:26] DavidTheProgrammer commented on #199
Hi @joanpablo Wow! That was really quick! Thanks! I really appreciate the work you've done with this library. I hope to contribute some day :-)

[2021-08-06 19:47] vasilich6107 commented on #176
improved support of form arrays + readme sample

https://github.com/artflutter/reactive_forms_generator#dynamic-forms-with-formarray

[2021-08-07 10:07] naamapps opened #202 "[FEATURE] MustNotMatch validator"
Hi,
Is there a way to create the opposite of the mustMatch validator?

The use case here is in password reset, the user needs to enter the current password and the new password, so I want to make sure the user doesn't put the same password in both fields.

Thanks

[2021-08-07 14:21] joanpablo commented on #193
Hi @vasilich6107,

Sorry, but I didn't get you. Could you give me more details?

[2021-08-07 19:01] vasilich6107 commented on #200
Hi @joanpablo quick question

I noticed that `FormArray` does not run validations of nested controls.

For example

`FormGroup` of `FormGroup's` -> runs validations for all elements down to the last `FormControl`
If I have `FormArray` of `FormGroup's` or `FormArray` of `FormControl's` it runs only validations at `FormArray` level.

Do you need reproduction sample?

[2021-08-08 19:16] vasilich6107 commented on #201
Hi @joanpablo
The main issue is that I cannot use

[code]

I have to write

[code]

Why not to make those types identical?

[2021-08-08 20:43] kuhnroyal commented on #201
This is one of the things that could be improvedwith stricter typing and getting rid of dynamic.

[2021-08-09 04:59] vasilich6107 commented on #201
@kuhnroyal im 100% with you
Dynamic is pain

[2021-08-09 06:57] joanpablo commented on #201
Mmm, I see @vasilich6107,

But, what does this supposed to do?

[code]

1-) Remove all errors from the field?
2-) Don't do anything at all?

And at the end:

[code]

I don't think it looks too bad.

[2021-08-09 07:06] joanpablo commented on #201
Also AbstractControl.errors is not nullable, I mean you will always get an instance of a Map, not a **null** value, that's why the setError does not allows setting a null value. If you change setErrors to accept a null then you will need to change the data type of AbstractControl.errors, and I don't think it really gives an advantage.

[2021-08-09 07:10] vasilich6107 commented on #201
@joanpablo i will write my thoughts a little bit later.
While you are here could you comment on this
https://github.com/joanpablo/reactive_forms/issues/200#issuecomment-894694053

[2021-08-09 07:31] joanpablo commented on #200
Hi @vasilich6107,

I don't understand your issue, could you give me an example? And I'm seen you have closed the issue, is that mean that you solved your issue?

[2021-08-09 07:33] joanpablo commented on #202
Hi @naamapps,

Mmm, interesting. your suggestion.

Thanks

[2021-08-09 07:38] vasilich6107 commented on #200
I will prepare demo for you.
I closed the issue cause I somehow solved it.
But while writing doc samples for generator I noticed that behaviour differs between `FormArray` of `FormGroups` and `FormGroup` of `FormGroups`

I will prepare sample and open new issue

[2021-08-10 16:05] DevNico opened #203 "Dynamic FormArray doesnt update valueChanges"
I have a `FormArray` which dynamically gets added 1-2 `FormGroup`s as controls. The problem is that this FormArrays valueChanges stream doesn't update if a control in the FormGroup changes.

[2021-08-13 16:45] vasilich6107 opened #204 "FormArray types inconsistency"
Hi @joanpablo

I have sample of type inconsistency for form array

`class FormArray<T> extends AbstractControl<List<T?>>`

Form array states that it can accept `List` of `nullable` types.
But....

add method of `FormArray` accepts only non nullable values

https://github.com/joanpablo/reactive_forms/blob/master/lib/src/models/models.dart#L1687

so when i'm trying to do

`array.add(FormControl<bool

[2021-08-13 19:38] vasilich6107 commented on #196
Fixed

[2021-08-13 19:38] #196 closed

[2021-08-21 11:34] LordOfTheNeverThere opened #205 "Validation only on Submission"
Hi there!
I couldn't see any examples of form validation that occurs only after we have tried to submit a form, such is the case when we wish to check if the user is in our DB and if the inputted password is his.

Is there any way to mark the form touched only after submission?

Example:

`  final authForm= FormGroup({
    "username" : FormControl<String>( validators: [Validators.required],),

[2021-08-21 16:35] LordOfTheNeverThere commented on #205
I manage to do it like this: (Can't say if it's the best way)

[code]

[code]

I would not like to add anything further to this issue. So, close it at your will.

[2021-08-26 08:52] vasilich6107 opened #206 "What is the difference between ReactiveForm and ReactiveFormBuilder?"
Hi @joanpablo

According to the documentation in files they do the same thing

[code]

[code]

[2021-08-26 10:09] SogoGolf opened #207 "brilliant library"
quick note of thanks. brilliant lib, great work!

[2021-08-28 10:22] vasilich6107 commented on #207
@SogoGolf check code generator for this lib
You will be surprised how easy it is
https://github.com/artflutter/reactive_forms_generator

[2021-08-29 08:27] naamapps opened #208 "ValidationMessages map value should be a type of a nullable string"
Hey,
In the ValidationMessages map the key and the value are not nullable,
I think the value should be nullable because what if you don't want to show a message when the error is present.
Before null safety, I put null in this map when I didn't want the message to show when a specific error is present, but now if I put an empty string - there is still a gap below the textfield (it tries to show a

[2021-08-29 08:34] kuhnroyal commented on #208
What about not adding the key when there is no error. I think that is the intention.

[2021-08-29 08:35] naamapps commented on #208
@kuhnroyal Not adding the key show a default validation message with the name of the error

[2021-08-29 10:35] kuhnroyal commented on #208
Ah, I understand what you mean now. Makes sense.

[2021-08-30 07:16] vasilich6107 commented on #208
@naamapps could you describe your flow more clear?
It seems that it will be better for you to write your own validator(rather than stacking) for this particular case

[2021-08-30 07:24] vasilich6107 commented on #203
@DevNico I suppose you have to remove and add back the new form group
It will be better if you prepare the working example to illustrate your issue

[2021-08-30 07:49] DevNico commented on #203
I have fixed the issue by now I didn't implement a FormArray of FormGroup correctly as stated in the docs. Sorry about that.

[2021-08-30 07:49] #203 closed

[2021-08-31 07:52] naamapps commented on #208
@vasilich6107 What do you mean by stacking?
There is no flow really, just wanted to point out that before null safety I could set an error message to null in order to not show it in the UI.
Currently the map required a non nullable string.
If the message string is null, I expect it to be hidden in the ui when the error is present in the form control.

[2021-08-31 07:56] vasilich6107 commented on #208
@naamapps it is hard to me to understand your issues without code.

[2021-08-31 08:04] naamapps commented on #208
@vasilich6107
I have this piece of code:
[code]
This is not compiling because the value must be non nullable.

**Why do I want it to be null?**
Because I want this specific message to be hidden from the UI.

**Why don't I just not put the error in the map?**
Because if the error is not present in the map, the error will be shown with a default message (the error key name).

**What is my proposal?*

[2021-08-31 08:07] vasilich6107 commented on #208
@naamapps do not hide message in `validationMessages`, you should avoid adding it in validator function

[2021-08-31 08:09] naamapps commented on #208
@vasilich6107 But I do want to validate the control and mark it as invalid if there is an error.
I just don't want to show the error message.
If I don't put the validation I miss the functionality of this package.

[2021-08-31 08:10] vasilich6107 commented on #208
@naamapps so you are probably having something like this

[code]

in your case it will be better either to alter the list of validators or to write your custom validator which will include custom logic of displaying the errors

[2021-08-31 08:12] vasilich6107 commented on #208
This is why it is hard to understand what you are trying to achieve)
What is the reason behind not showing the error message when error present?

[2021-08-31 08:15] vasilich6107 commented on #208
@naamapps could you clarify what issues are you having with `showErrors` function?
It theoretically seems like valid way to fix your issue?

[2021-08-31 08:17] naamapps commented on #208
@vasilich6107 Even if I write a custom validator, the package will automatically add an error message.
This package had this feature before null-safety, I just want it to be the same as before.

I don't want to show the message because I write it at the top of the screen as a reminder, so I don't want to show it twice.

The showErrors function hides all errors if it returns true, I just want to hi

[2021-08-31 08:20] vasilich6107 commented on #208
I'm not sure that this wasn't a bug ;-)

You are getting access to `control` inside `showErrors` you can look inside `error` object and determine what the current error is and then decide whether to show it or not(it is theoretical thoughts I did not check)

[2021-08-31 08:24] naamapps commented on #208
Haha could be, but it is a good feature :)

This is what I write in the showErrors:

[code]
If there are two errors in the control, it will hide them both - not the desired functionality.

[2021-08-31 08:28] vasilich6107 commented on #208
@naamapps I suppose you can improve you `showErrors` function with more complex logic of detecting existing errors and their amount

[2021-08-31 08:30] naamapps commented on #208
@vasilich6107 You are right but how will the package know which error to show?
If there are two errors in the control I need to return true in the showErrors function, and it will show the message I want to hide..

[2021-08-31 08:32] vasilich6107 commented on #208
@naamapps the package shows one error at a time, so it is either first in list or last.

[2021-08-31 08:36] naamapps commented on #208
@vasilich6107 I guess.
Is there a way to set the order of the validators?
I feel it will be a hacky solution to the problem.
Is there a specific reason you don't want to change the validationMessages map to nullable string?

[2021-08-31 08:43] vasilich6107 commented on #208
I'm no a maintainer)

Not sure that I understand why do you need this.

Simple solution is not always the right one)

[2021-08-31 08:48] naamapps commented on #208
@vasilich6107 Okay so I think I'll try to fix it and I hope the maintainer will be be able to see this soon.
Thanks for your help 👍

[2021-08-31 08:52] vasilich6107 commented on #208
Let's tag him(@joanpablo) to be sure ;-)

[2021-09-04 17:28] vasilich6107 commented on #195
Hi @joanpablo
Could you give any feedback on this issue?

[2021-09-07 07:14] carmas123 opened #209 "SelectAll - how we can do?"
Could anyone help me understand how to select all the text without being able to access the TextEditController?

Regards.

[2021-09-07 07:20] vasilich6107 commented on #209
@carmas123 you can pass your own controller into the text field. There is a prop for that. Then you’ll be able to do whatever you want

[2021-09-07 07:22] carmas123 commented on #209
@vasilich6107 ReactiveTextField don't have TextEditController

[2021-09-07 07:26] vasilich6107 commented on #209
@carmas123 ouch(
Will think about possible solutions

[2021-09-07 07:26] vasilich6107 commented on #209
@joanpablo is it bug or feature?

[2021-09-07 07:29] carmas123 commented on #209
I think that exposing TextEditingController is a bad idea. I think that the best solution is to make a custom controller to handle some functionality, like selection or other.

[2021-09-07 07:37] carmas123 opened #210 "selectAllOnFocus on ReactiveTextField"
Since it is not possible to access to `TextEditController` of `ReactiveTextField` I think that can be hopeful to add a simple new property: `selectAllOnFocus`

This could be useful for auto-selecting text when receiving focus.

Regards.

[2021-09-08 19:12] sokolej79 opened #211 "Didchange always rebuilds all child widgets"
ReactiveFormField and all form fields widgets that extends ReactiveFormField like  ReactiveTextField always rebuild its child widgets inside widget that extend ReactiveFormField .
Is there any option to prevent rebuild after calling didchange?
I worked with Angular reactive forms and is not working like that, on change only update form model and not rebuild widget.
I  have complex custom form fiel

[2021-09-09 14:26] vasilich6107 commented on #211
@sokolej79 I'm not 100% sure but it seems that redesigning you field will help you

Is it possible to move your WebView outside of the field to prevent rebuilds?
Then you can subscribe to the editor updates and use the field value whatever you want.

The demo code will be more helpful to understand your flow

[2021-09-09 14:28] vasilich6107 commented on #210
Hi @carmas123
It seems that this issue is duplicate of #209

If your issues are the same could you close this one in favour of #209

[2021-09-09 14:42] carmas123 commented on #210
This concerns a direct functionality to "autoSelectAll" on focus is received.

[2021-09-09 16:10] savandev17 opened #212 "How to handle valueTransformer?"

[2021-09-09 19:39] vasilich6107 commented on #212
@savandev17 more details please

[2021-09-10 02:44] savandev17 commented on #212
Thanks for response sir, the "reactive_forms" is very awesome plugin, my problem is when dropdown selected we can get only single value, how can we change to new object or other format
the below is example using [https://github.com/danvick/flutter_form_builder](url) plugin
![image](https://user-images.githubusercontent.com/34710166/132790556-bcaa4c8e-42a2-4bd5-94ac-c4a9d089a370.png)

And this is I

[2021-09-10 09:37] vasilich6107 commented on #212
We have a `valueAccessor` for this purposes but unfortunately `ReactiveDropdownField` is missing this property.
Will try to prepare PR asap. I hope @joanpablo will merge and release it quickly

[2021-09-10 10:41] savandev17 commented on #212
Thanks you very much.

[2021-09-10 10:46] savandev17 commented on #212
Is there an example for how to use valueAccessor?

[2021-09-10 11:28] vasilich6107 commented on #212
@joanpablo could you take a look into #213

[2021-09-10 11:28] vasilich6107 commented on #212
@savandev17 there is sample inside PR
https://github.com/joanpablo/reactive_forms/pull/213/files#diff-e8a1359e17238b19bba97f15afc3f0af61ecd3467fd0176de2b71c7a73581056R6

[2021-09-10 12:41] savandev17 opened #214 "How to implement multiple checkbox to get different checked value?"
Hi everyone, I'm trying to customize original sample code to meet my purposes but still get failed, could you please suggest me  how to do that to get the result by image below?

![image](https://user-images.githubusercontent.com/34710166/132854618-2939192f-3c06-4299-814e-8fece7064d7d.png)

Thank you.

[2021-09-11 11:22] arcas0803 opened #215 "File Picker Documentation"
Hi,
I'm using your library and it's great.
The Reactive file picker library it's not working and I can't find documentation or an example to guide me in the implementation.
Is it possible to update with an example of how to use it?
Thanks.

[2021-09-12 12:56] vasilich6107 commented on #215
![185E8971-CF3F-407C-952F-744F72CDE17E](https://user-images.githubusercontent.com/6721286/132988387-5e8283d2-83cf-42d8-b396-8ec194405ebc.jpeg)

[2021-09-12 12:57] vasilich6107 commented on #215
The package on pub.dev has a link to GitHub repository
https://github.com/artflutter/reactive_forms_widgets

[2021-09-12 12:58] vasilich6107 commented on #215
That link will lead you to the place where you can live your issues.
Also each package in flutter universe has `example` fielder with executable example

reactive file picker also has one
https://github.com/artflutter/reactive_forms_widgets/tree/master/packages/reactive_file_picker/example

[2021-09-15 09:45] sokolej79 commented on #211
Thank you very much for the reply and help.
I just wanted to know if the form  didChange  always rebuilds dependent widgets or is something  wrong with my code.
Apparently it rebuilts by default.
I'll find some work around.
Thanks, Im closing.

[2021-09-15 09:45] #211 closed

[2021-09-15 19:59] arcas0803 commented on #215
I found finally then example .

[2021-09-15 19:59] #215 closed

[2021-09-21 13:00] vasilich6107 commented on #198
Hi)
@joanpablo could you consider adding me and @kuhnroyal as maintainers and organize some kind of automation pipeline at least for beta to facilitate library evolution?

[2021-09-22 04:25] vasilich6107 commented on #214
@savandev17 there is no way of doing that)
After filling the form you need manually take from array of values only the items that corresponds to `true` indexes

[2021-09-22 09:18] joanpablo commented on #163
I will close this issue because we don't have any updates about the creator of the issue.

Please @NiranjanShah don't hesitate to open it again or open a new one.

Thanks @vasilich6107

[2021-09-22 09:18] #163 closed

[2021-09-22 09:28] joanpablo commented on #192
Hi @vasilich6107,

mmmm, at the beginning this widget was Stateless, and now it is Stateful, interesting!!!

I need to check why it is now Stateful.

Thanks for the warning.

[2021-09-22 10:37] joanpablo commented on #192
Hi @vasilich6107 ,

I have release 10.6.2 with the ReactiveForm as a Stateless widget, please test any project or sample you have to validate that it works as expected.

Thanks

[2021-09-22 10:37] #192 closed

[2021-09-22 10:43] joanpablo commented on #206
Hi @vasilich6107

basically, the main difference is that one acts like a Builder (with a builder function) and is a Stateful widget, the other one is a stateless widget. If you use a Controller or Model/Bloc you can use the Stateless widget (ReactiveForm), otherwise, if you want to declare the form in the same widget you may use the ReactiveFormBuilder, anyway, there is no real formula you can use

[2021-09-22 10:43] #206 closed

[2021-09-22 10:45] joanpablo commented on #207
Thanks a lot, @SogoGolf for your nice words!!!!!

[2021-09-22 10:45] #207 closed

[2021-09-27 14:53] zapiti opened #216 "ReactiveTextField not have builder: (context, form, child) {"
Please add  builder: (context, form, child) { Widget } to ReactiveTextField for custom form listen changes

[2021-09-27 17:49] vasilich6107 commented on #216
@zapiti it seems that you can use `ReactiveFormConsumer` for this purposes

[2021-09-27 17:50] vasilich6107 commented on #198
@joanpablo would be great to hear you thoughts

[2021-09-27 18:44] savandev17 opened #217 "How to use valueAccessor to convert string to double"
Hi all, on my text field I have set the number format with comma, example (10,000), but when submit I want to convert it to double to remove (,) because on database data type is decimal, I have tried to use valueAccessor but still get failed, suggest me please.

![image](https://user-images.githubusercontent.com/34710166/134966822-f4773271-f2b8-4505-80ec-19f67d8c48a8.png)

[2021-09-27 19:18] vasilich6107 commented on #217
@savandev17
Here is an example

https://github.com/joanpablo/reactive_forms/blob/master/lib/src/value_accessors/double_value_accessor.dart

copy implementation and adjust according to your needs.

[2021-09-28 04:56] savandev17 commented on #217
Thanks for your advice sir

[2021-09-28 15:45] savandev17 commented on #214
Is check box support only true or false value?

[2021-09-28 16:30] savandev17 opened #218 "How to handle checkbox group"

[2021-09-28 17:31] vasilich6107 commented on #214
Yes.
Also there is no possibility to use valueAccessor in checkboxfields.

[2021-10-02 10:23] claudiodriussi opened #219 "Consider to add a "visible" flag to ReactiveFormField"
Instead of writing:
[code]
would be nice to write:
[code]
thanks.

[2021-10-02 10:28] claudiodriussi opened #220 "Validators.number works only with integers"
To validate double I wrote my own validator:
[code]
It would be useful to add the floatnumber validator to the default validators.

Best regards

[2021-10-02 10:39] claudiodriussi opened #221 "Consider valid the incomplete forms."
if I have a FormGroup like this:
[code]
but in my form I add only one ReactiveTextField:
[code]
the form will never be valid.

Should be valid because if I don't need to edit a field I should be able to validate the rest of fields.

Many thanks.
Claudio

[2021-10-12 01:02] med216 opened #222 "value of FormControl not update"
FormGroup, FormControl("reactive Slider") so my propleme is the value of FormControl which does not update after changing the value of the slider, I am using setState i
[dartdart.txt](https://github.com/joanpablo/reactive_forms/files/7326080/dartdart.txt)
nside onChangeEnd but nothing has changed

`....
final city = form.control('${widget.growableList[s].toString().substring(8, 10)}.Absence');
fin

[2021-10-12 08:18] joanpablo commented on #218
Hi @savandev17,

Do you have an example of the issue, maybe a breve description of your issue so I can create an example for you?

THanks and best regards.

[2021-10-14 09:09] suneeltechnew opened #223 "Can we watch the input field values continuesly...?"
I want to update a widget based on the value entered in input field. but I am unable to get continues value of the input field. please let us know, if there is any way.

thanks in advance.

[2021-10-15 15:48] ebelevics commented on #205
I still can't even with showErrors manage to do something similar to:
[code]
where on validate it checks or marks form fields as invalid if that's the case

[2021-10-16 02:11] cedvdb commented on #191
Any idea why that could be the case ? Once I change the key of the ReactiveForm it starts working again, then on the next hot reload the builder method is not called anymore.

It's like the inheritedStream or whatever is used at the top stops sending notifications.

Any pointers to help me find the root cause ?

[2021-10-17 14:22] vasilich6107 opened #224 "TextEditingController dispose"
Aren't we need to dispose `TextEditingController`?
https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/reactive_text_field.dart#L234

Cause we are disposing `FocusController` here https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/reactive_text_field.dart#L284

But I did not find disposal of `TextEditingController`

[2021-10-19 06:34] BenjaminFarquhar opened #225 "ReactiveDropdownField should have borderRadius field in constructor"
Hi there,

In the ReactiveDropdownField widget, we can actually edit the source code to add a BorderRadius to the drop down list, like so:

[code]

This gives a BorderRadius to the drop down list. However, the borderRadius field is not available to pass in to a ReactiveDropdownField and it should be, to add more customization. I also wonder is there a way to align the drop down list to the bottom

[2021-10-20 12:27] jordandevogelaere opened #226 "Show errors on textfield after api call"
Hi all,

I've question according to show errors to specific fields.

Is it possible to add errors to fields in a reactive form after an api call that returns an error.

ex.

[code]

Button at the bottom of the screen that creates an account.

So on button click all fields are valid;

How to show an error on the username input field when the api returns an error.
f.e "Username already exists" ?

Th

[2021-10-23 15:26] Solido opened #227 "Awesome Flutter"
Hello ! I manage https://github.com/Solido/awesome-flutter
and I would like to add Reactive Forms so more users can find it.
You can PR if you desire.

Also this point on the Readme

This part on fb is not working, need to replace `FormGroup` with `fb.group`

`'address': FormGroup({
    'street': ['', Validators.required],
    'city': ['', Validators.required],
    'zip': ['', Validators.required]

[2021-10-28 21:58] Solido opened #229 "Accessing cursor index in textfield"
Hi

I need to insert some value at a specific position in a textfield, this can be done using the basic flutter controller.
Is there any advice on the most appropriate way to do it using reactive_form ?

Thanks !

[2021-10-29 20:20] joanpablo commented on #227
Hi @Solido,

Thanks for your contribution to Flutter comunity, and thanks for this issue.

Best Regards

[2021-10-29 20:34] joanpablo commented on #229
Hi @Solido,

We need to add a feature for that. Right now is not implemented. But we are planning to give access to the controller somehow in the next major release.

Best regards

[2021-10-29 20:42] joanpablo commented on #226
Hi @jordandevogelaere,

You can have two approaches:

1- The one described by @vasilich6107 above
2- Create a custom Async Validator to the Username/Email

inside the folder **example** of the project, there is an implementation of the approach.

[code]

[code]

[2021-10-29 20:44] joanpablo commented on #222
Hi @med216,

I'm closing this issue because I'm not getting any feedback. So I guess you have solved the issue.
Please don't hesitate to reopen it or create a new one.

Best regards

[2021-10-29 20:44] #222 closed

[2021-10-29 20:45] joanpablo commented on #225
Hi @BenjaminFarquhar,

Thanks for the issue. I will take a look and include the missing properties to the ReactiveDropdownField

[2021-10-29 20:50] joanpablo commented on #225
Hi again @BenjaminFarquhar,

COuld you please give more details? Where did you see the property **borderRadius**? Because in the definition of the class [DropdownButton](https://api.flutter.dev/flutter/material/DropdownButton-class.html) from Flutter, this property does not exist.

[2021-10-30 13:41] carmas123 opened #230 "Find focused control"
Hi, please can you add the ability to FormGroup class to find what is the current focused control?

[2021-10-30 16:55] vasilich6107 commented on #230
Could you describe your workflow more verbose.
Maybe there is another way to solve it

[2021-11-02 12:02] ebelevics opened #231 "How can I access Validator dynamic value in ValidationMessage?"
The title says it all. How can I get from `validationMessages: (control)` control value in `ValidationMessage.minLength` usecase `requiredLength` value for dynamic validation messages?

[2021-11-03 16:42] vasilich6107 commented on #231
You can access the value from `control` item.
Just place the breakpoint inside validationMessages function and see the props of `control`.
It should be something like `control.value`

[2021-11-05 17:14] Murtoz-h opened #233 "Validation not working"
Please  see my code below, Its validation always failing/not working

`showModalBottomSheet(
                                              context: context,
                                              builder: (BuildContext context) {
                                                var form = FormGroup({
                                                  'KeyFeature':

[2021-11-05 19:44] vasilich6107 commented on #233
Start from copy pasting code from login example.
It should work.
Then adjust slightly according to your needs

[2021-11-06 06:27] Murtoz-h commented on #233
Its working when using it as simple as you shown like the following code, But its not working when I use it under future builder=> Listview.builder=> ShowModalBootomsheet.

import 'package:flutter/material.dart';
import 'package:reactive_forms/reactive_forms.dart';

class Rform extends StatelessWidget {
  Rform({Key? key}) : super(key: key);

  @override
  Widget build(BuildContext context) {

[2021-11-06 06:35] Murtoz-h commented on #233
Problem solved, when I pass key to form widget from parrent, it's working.

 Thanks for this great package.

[2021-11-06 06:45] Murtoz-h commented on #233
First I thought its working and also closed once, but its not working, confirmed. Situation described in above comment.

[2021-11-06 07:11] vasilich6107 commented on #233
You just doing your form wrong
https://github.com/joanpablo/reactive_forms/blob/master/example/lib/samples/login_sample.dart

[2021-11-06 07:12] vasilich6107 commented on #233
Refer to example and do the same as it is there.
Do no use `ReactiveForm` use `ReactiveFormBuilder` instead.

Everything works fine

[2021-11-06 07:14] vasilich6107 commented on #231
@ebelevics does it solved your issue?

[2021-11-06 11:10] Murtoz-h commented on #233
Thanks for your kind reply. This solved my problem.

[2021-11-06 11:10] #233 closed

[2021-11-06 18:15] ebelevics commented on #231
Yes, sorry for late response I did find, how to solve. Thanks.

[2021-11-06 18:15] #231 closed

[2021-11-06 21:55] rsbichkar opened #234 "Unable to correctly delete elements in a FormArray..."
Hi Joan,

Thanks for this wonderful forms package! I have been using this library in my projects under development.

I am trying to implement a ReactiveForm for email list entry where I wish to add new email entries or remove existing ones. However, in spite of hundreds of possible changes in approach, I am not able to get a correct list output. In particular, the problem is in the deletion operat

[2021-11-07 06:11] vasilich6107 commented on #233
Also try to use this package
It simplifies reactive_forms development
https://github.com/artflutter/reactive_forms_generator

[2021-11-07 06:11] vasilich6107 commented on #231
Also try to use this package
It simplifies reactive_forms development
https://github.com/artflutter/reactive_forms_generator

[2021-11-07 06:11] vasilich6107 commented on #223
Also try to use this package
It simplifies reactive_forms development
https://github.com/artflutter/reactive_forms_generator

[2021-11-07 06:11] vasilich6107 commented on #222
Also try to use this package
It simplifies reactive_forms development
https://github.com/artflutter/reactive_forms_generator

[2021-11-07 06:11] vasilich6107 commented on #221
Also try to use this package
It simplifies reactive_forms development
https://github.com/artflutter/reactive_forms_generator

[2021-11-07 06:12] vasilich6107 commented on #219
Also try to use this package
It simplifies reactive_forms development
https://github.com/artflutter/reactive_forms_generator

[2021-11-07 06:25] ebelevics commented on #231
I usually try to stay away from generators as it just boilers the project, and use it when it's totally necessary (like json_serializable), but I'll take a look.
Offtopic: Still don't understand why generated files are not separated from lib (similar like in Kotlin) 😄

[2021-11-07 09:15] vasilich6107 commented on #231
@ebelevics this is not the same case as any other generator.
You can quickly observe the improvements which code generator brings to reactive_forms from motivation section
https://github.com/artflutter/reactive_forms_generator#motivation

[2021-11-08 05:45] Murtoz-h commented on #233
Thanks for informing.

On Sun, 7 Nov 2021, 11:41 am Vasiliy Ditsyak, ***@***.***>
wrote:

[2021-11-09 22:09] jeremylcarter commented on #220
Don't forget you might need the correct keyboard type:

`keyboardType: TextInputType.numberWithOptions(signed: true, decimal: true)`

[2021-11-10 17:24] vasilich6107 commented on #234
Hi @rsbichkar
I tried to get along with your sample.
But it is too verbose and I had no time to get along with it

Instead I improved the existing array sample to include delete button so everyone could benefit from it
Check the https://github.com/joanpablo/reactive_forms/pull/235

[2021-11-10 19:43] rsbichkar commented on #234
Hi Vasiliy, (@vasilich6107),
Thanks a lot. I will check the delete functionality from your example.

[2021-11-11 09:38] vasilich6107 commented on #234
Also try to use this package
It simplifies reactive_forms development
https://github.com/artflutter/reactive_forms_generator

[2021-11-12 13:35] vasilich6107 commented on #225
Hi @BenjaminFarquhar I did the PR #236 but there is no clear understanding how long will it take @joanpablo to release...
So I released a separate version of the field into standalone package.
https://pub.dev/packages/reactive_dropdown_field

[2021-11-12 13:36] vasilich6107 commented on #225
Also try to use this package
It simplifies reactive_forms development
https://github.com/artflutter/reactive_forms_generator

[2021-11-12 13:46] vasilich6107 commented on #225
@BenjaminFarquhar I do not recommend you to wait until release of the whole form engine.
The issue is that your props are available only form 2.5.* version of the Flutter.
This means that the whole `reactive_forms` should be bumped to use `2.5.*` and this is a little bit complicated and will require new major release.

I'm not sure that this is a good idea...
Anyway. You have a separate package. Y

[2021-11-12 16:12] vasilich6107 commented on #195
Will be releasing separate packages for each control to unify the api
It is too long to wait for iteration...

https://pub.dev/packages/reactive_checkbox

[2021-11-13 03:00] rsbichkar commented on #234
Thanks for your inputs and the package for forms_generatos. I have downloaded the package and your approach is interesting.

I have also independently developed a forms generator for my own use so far. The generator generates forms, FormFields class and handles all the validations of ReactiveForms. In addition, it also generates the controllers and repos for FieStore and views (Markdown as well as

[2021-11-13 05:35] vasilich6107 commented on #234
Hi @rsbichkar
Is there any possibility to share your implementation in order to inspire new features in reactive_forms_generator?

[2021-11-13 22:44] BenjaminFarquhar commented on #225
@vasilich6107 Thanks!

[2021-11-13 22:51] BenjaminFarquhar commented on #225
This seems very nifty, thanks. Had a little play and the form.model wasn't updating when I typed. I must have missed something. I will have a proper attempt again later. My text fields are custom and extend `ReactiveFormField<String, String>`, and they also usually use `formControlName` but I added `formControl` to them so not sure what the issue was but I'm fairly sure it will be with my code not

[2021-11-13 23:19] Solido opened #237 "Previous value of controller"
When accessing the stream of a _valueChanges_ what is the best way to also access the value pre-update.
My understanding is currently I need to handle this myself.

This is very useful as general use case but even more when dealing with FormArray.

Thank you !

[2021-11-14 06:31] vasilich6107 commented on #225
@BenjaminFarquhar if you could provide a standalone git repo with reproduction sample I will try to help you

[2021-11-14 10:53] rsbichkar commented on #234
Hi Vasili (@vasilich6107),

Yes sure. However, the code is not well organized and properly documented. So I will share, in the meantime, the generated code file and the class with annotations. My approach has a lot of similarities in the use of annotations but a different implementation (I suppose). Please let me know if this type of code generation output will be helpful.

I am currently developi

[2021-11-14 13:55] vasilich6107 commented on #234
@rsbichkar thanks a lot!
Will try to play around with it

[2021-11-16 19:18] vasilich6107 commented on #234
@rsbichkar if your issue is solved - do not forget to close the issue

[2021-11-16 19:21] vasilich6107 commented on #198
@joanpablo could you take some time to discuss this issue?

[2021-11-16 19:42] rsbichkar commented on #234
@vasilich6107
Thanks a lot for your valuable support

[2021-11-16 19:42] #234 closed

[2021-11-18 10:18] kfchengkf opened #238 "ReactiveTextField Multiline with Enter"
Hello,

I can't get 'Enter' to work for the ReactiveTextField on a real phone (Samsung Model)
The code being used is like this:
ReactiveTextField(
            formControlName: 'Remarks',
            maxLines: null,
            keyboardType: TextInputType.multiline,
            focusNode: _focusNode),
      )

The Remarks field is supposed to allow 'real' multiline inputs (not just autowrap)

Any i

[2021-11-18 10:25] vasilich6107 commented on #238
@kfchengkf I would suggest to start testing with simple `TextField` from `flutter`
`ReactiveTextField` just passes through all the pros to `TextField`

It could be the `flutter` bug related to `Samsung` platform specific.

[2021-11-18 10:26] vasilich6107 commented on #238
If you will reproduce your bug on `TextField` it will be better to create issue in flutter repo(do not forget close this one in this case)

[2021-11-19 22:25] jrmallorca opened #240 "ReactiveFormArray does not update when calling `updateValue()` or `reset()`"
What I am trying to do is replace the contents of a `FormArray` and have the changes appear on a `ReactiveFormArray`. I do this as I don't know how to just replace an element in the `FormArray` with another element.

My `ReactiveFormArray` widget does not update when the `FormArray` is updated through `updateValue()` or `reset()` (I have to hot reload to see the changes). However, the widget is up

[2021-11-21 13:50] joanpablo commented on #240
Hi @jrmallorca,

Could you please write a code sample that reproduces the error, or give more details?

- Are you sure you are not passing an empty array to **updateValue**?
- BTW you can simple use:
[code]
- Is the **FormArray** updating the value and not the **ReactiveFormArray**, or none of them are updating the value?

[2021-11-21 13:52] joanpablo commented on #237
Hi @Solido,

Thanks for the issue, but could you give me a use case to better understand your issue?

[2021-11-21 13:53] joanpablo commented on #230
Hi @carmas123,
 Do you have any updates on this? Could you give more details?

[2021-11-21 13:57] carmas123 commented on #230
Sorry man but for now no other news

[2021-11-21 14:00] carmas123 commented on #230
My question is this: I've a form with some controls and I need to know what of this have the focus

[2021-11-21 14:03] joanpablo commented on #226
Hi @jordandevogelaere,

Have you solved your issue? Any update on it would be very greatful.

[2021-11-22 02:31] kfchengkf commented on #238
OK.  Thanks.

[2021-11-22 02:31] #238 closed

[2021-11-23 11:54] jrmallorca commented on #240
I'll try to write a code sample reproduce the error, but I will answer your questions now.

- I am definitely not passing an empty array to `updateValue()`.
- The `FormArray` is updated. The `ReactiveFormArray` is not. I do not see the **visual** update to the `FormArray`. I have to hot reload to see the changes.

[2021-11-23 18:08] joanpablo commented on #240
Hi @jrmallorca,

Thanks for responding to the questions.

In the demo folder called **example**, there is an example of using the **ReactiveFormArray**. The sample demo works correctly, have you taken a look at it and compared it with your code, to see if there are any differences?

Best regards

[2021-11-24 00:56] xsamurai opened #241 "Display custom validation messages in SnackBar"
I would like to display my custom error messages in a SnackBar, instead of the  displaying under the input field.

      formControlName: 'password',
      validationMessages: (control) => {
        ValidationMessage.required: 'Password is required',
        ValidationMessage.minLength: 'Minimum of 5 characters',
      },
      showErrors: (control) => control.disabled,

I am able to access the de

[2021-11-24 05:22] vasilich6107 commented on #241
Use getErrorText for specific control
https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/reactive_form_field.dart#L104

[2021-11-24 06:20] xsamurai commented on #241
@vasilich6107 Thank you, the getter you referenced does not show up for my control.  I'm very new to flutter, maybe its a prob

[2021-11-24 21:42] Solido commented on #237
Yes in my case I load a form with previous saved data then I need to compare each event to decide of the logic.
It is a fair large change in the API so no expectation here but mainly raise the case.
Having Event<T,T> instead of <T>. To currently solve that I have to copy the value in my widgets states replicating the info outside of a FormController. Values are compared and diffed to trigger the n

[2021-11-25 09:27] jordandevogelaere commented on #226
Hi @joanpablo ,

Thanks for your answer.

It was solved by the approach @vasilich6107 described.

Thank you both!

[2021-11-25 10:30] vasilich6107 commented on #226
Hi @jordandevogelaere
If the issue is solved - do not forget to close the issue.

[2021-11-25 10:54] #226 closed

[2021-11-29 19:08] Pitazzo opened #242 "Unable to match formControlNames that include a dot ('.')"
I've just noticed that in case the string set as `formControlName` in one or more fields of a form includes the dot character (`.`) the plugin is unable to match the widgets of the form and the fields of the FormGroup object and throws a `FormControlNotFoundException control with name: 'com.example' not found.` error.

[2021-11-29 20:11] vasilich6107 commented on #242
Hi @Pitazzo
The thing is that reactive_forms is using dot as separator for splitting the field path.
This is by design as far as the dot separator is not very common to use in field names)
The easiest way to fix this issue is not to use dot in your field naming

[2021-11-29 20:36] Pitazzo commented on #242
Hi @vasilich6107
Thanks for your quick reply. Yeah, I supposed something like that and stopped using strings which contain dots.

However, realising this was the problem took me a lot of time. Thus, I would suggest including this limitation in the `README`, and more importantly, adding some kind of validation so the errors "sounds" in a more clear way.

[2021-11-30 03:47] vasilich6107 commented on #242
@Pitazzo makes sense

[2021-11-30 23:11] mosheliv opened #243 "activating a timepicker when a dialog is opened"
I have a reactive_form dialog with a start_time and end_time timepicker. I want the start_time to be opened as soon as the dialog is opened, without the user having to tap the icon. Is that possible?

[2021-12-01 05:00] vasilich6107 commented on #243
@mosheliv it does not seem to be related to the form functionality.
Look at your DateTime picker control if it supports programmatically opening the picker and open it after first frame with registerPostframeCallback

[2021-12-01 05:43] mosheliv commented on #243
You are right if the form does not supports it as a functionality, which I guess it does not.
Thank you for helping even though it's unrelated, much appreciated.
Some things are just difficult in flutter.....

[2021-12-01 05:45] vasilich6107 commented on #243
@mosheliv one more time - your case does not seem to be the field of form responsibility
This seems like responsibility of the particular control which you are using.
What type of DateTime picker are you using?

[2021-12-01 05:57] mosheliv commented on #243
I understand, i was just thanking you for mentioning the postframecallback which i wasn't aware of. Not sure it will help.
I am using the one used in the example reactivetimepicker

[2021-12-01 05:58] vasilich6107 commented on #243
@mosheliv could you attach a link to exact line of the example file?

[2021-12-01 06:35] mosheliv commented on #243
https://github.com/joanpablo/reactive_forms/blob/47ba5c3d59f625bba191efdb9f0de7f552d8dec7/example/lib/samples/complex_sample.dart#L170

[2021-12-01 09:43] vasilich6107 commented on #243
@mosheliv it seems that this control does not support programatical opening(
It is the point of improvements

[2021-12-02 14:37] vasilich6107 commented on #227
Hi @Solido
I checked the readme to find the issues which you described.

And I was not able to find anything.

There is a tricky moment of distinguishing between `FromGroup` and `fb.group`.

If you check the readme all the places with `'controlName': ['', ...]` notation are wrapped with `fb.group` which converts them into `FormGroup`.

All other places which are using `FormGroup` consists from var

[2021-12-02 14:40] vasilich6107 commented on #227
@Solido I created a package https://pub.dev/packages/reactive_forms_generator which helps to cover tricky parts of the `reactive_forms` with power of generators.
The motivation section from readme describes my intentions
https://github.com/artflutter/reactive_forms_generator#motivation

It would be great if you could try it and provide some feedback)

[2021-12-02 15:46] Solido commented on #227
Hey @vasilich6107
Thanks for looking at the report.

It was my very first experience and a copy paste from the readme.
If all is OK then it is good for newcomers on-boarding.
Confusing but not for long as it soon reveals its expressivity.

I hope to find some time to look at your generator in more details.
A nice addition, when patterns are identified it really helps with large project.
Also I not

[2021-12-02 15:55] #227 closed

[2021-12-03 09:25] vasilich6107 commented on #241
@xsamurai according to the method implementation it will not help you  as far as it takes `showErrors` callback into consideration.

[code]

[2021-12-03 09:26] vasilich6107 commented on #241
You'll have to implement you own helper for this purposes - just omit the `if` check

[2021-12-03 09:38] vasilich6107 commented on #241
Hi @xsamurai everything is a little bit different.

You can access to only map of the errors with
`form.errors` or to specific control errors - `form.controls['email']?.errors`

![image](https://user-images.githubusercontent.com/6721286/144580248-00e91ed0-67d5-4606-bd3d-4a9075506dea.png)

[2021-12-03 09:40] vasilich6107 commented on #241
The second thing is you have to map the error keys on to message texts manually

[2021-12-03 10:43] vasilich6107 commented on #242
I did the PR with assertion
I hope @joanpablo would be able to release it soon

[2021-12-03 11:43] vasilich6107 commented on #240
Hi @jrmallorca
I updated array sample in `example` folder in https://github.com/joanpablo/reactive_forms/pull/245

Check how to updateAll, reset and update exact control

[2021-12-03 13:15] joanpablo commented on #242
Hi @Pitazzo and @vasilich6107

A new version v10.6.6 has been released with a better error message and a better handler to this situation.

Thanks to @Pitazzo for the issue and thanks to @vasilich6107 for the quick response and solution.

You are making history ; )

[2021-12-03 13:15] #242 closed

[2021-12-04 20:57] xsamurai commented on #241
@vasilich6107 Thank you, I was under the impression that the ValidationMessages would map to the respective field:

return ReactiveTextField(
      formControlName: 'email',
      validationMessages: (control) => {
        'required': 'Email is required',
        'email': 'Enter a valid email',
      },

Shouldn't this map to the error keys and override the default messages ?

[2021-12-05 00:27] joanpablo commented on #241
Hi @xsamurai,

Yes the **validationMessages** of the **ReactiveTextField** overrides the *error's key* with the custom message, but only for that ReactiveTextField widget not globally. You need to apply the same concept to your global notification error widget. You need to map each *key* with a message.

you create your  SnackBar and show errors if the form is invalid, and map each error of each f

[2021-12-05 00:31] joanpablo commented on #237
Hi @Solido,

An example would be very useful. Because if the event is triggered, then is because the value has changed. So I'm not sure if you want to manually check if the value actually changed or you are completely aware that the value changed and want to make some logic based on the previous value?

Do you want to know if the value really changed? Or do you just want to check some other logic?

[2021-12-05 01:15] joanpablo commented on #237
Hi @Solido,

Have you tried to use [pairwise](https://pub.dev/documentation/rxdart/latest/rx/PairwiseExtension/pairwise.html) function from [rxdart](https://pub.dev/packages/rxdart).

I mean include rxdart in your project, import the rxdart library in the file you are working on, and use the *pairwise* function (this function is an extension to Streams) against the **valueChanges** from the contro

[2021-12-05 01:27] joanpablo commented on #237
Hi again @Solido,

I have confirmed the use of rxdart with a simple test:

[code]

So you can include rxdart in your project and use it with Reactive Forms and you will have your desired feature out of the box.

[2021-12-05 06:54] xsamurai commented on #241
@joanpablo Thank you for clarifying!

[2021-12-05 06:54] #241 closed

[2021-12-05 11:06] Solido commented on #237
Hey @joanpablo

This is a fluent approach to the problematic. My main goal was to avoid having to handle the value in differents places, having to copy the already present model entry into a widget state field to diff later. Having a message in the form <T,T> simplify a lot specifically when there is a lot of entries.

I avoid rxdart has it can be opaque for debug but it this case it fit well.

Th

[2021-12-05 11:06] #237 closed

[2021-12-05 11:50] joanpablo commented on #224
Mmmm, I will take a look and let you know.

[2021-12-07 18:11] YisusOnDev opened #246 "ReactiveDropdownField loss selected value when unfocus"
Hi, i'm trying to build a reactive form with Text and Dropdowns and i have encountered a problem, when you tap on text field and later you try to select a value from the dropdown sometimes value appears as selected and sometimes not, but always when u switch from the dropdown to other field (change focus) dropdown selected value dissapear.

Example GIF:
![DropDownErrorGif](https://user-images.gith

[2021-12-07 18:21] YisusOnDev commented on #246
Add: If you fill all text-other fields and then select on all dropdownfield and it works...

Demo:
![DropDownErrorGif2](https://user-images.githubusercontent.com/52821987/145084837-78ae5e83-31e6-4941-b8ac-bb04a4317fe5.gif)

[2021-12-08 13:00] vasilich6107 commented on #246
Hi @YisusOnDev
It seems that the issue is in your implementation.

You can run the `example` folder sample app to ensure that the mix of Dropdown and TextField works fine

[2021-12-08 13:02] vasilich6107 commented on #246
Here is a small proff video

https://user-images.githubusercontent.com/6721286/145212797-cec30b32-2df2-49bf-9eff-f45c4b84ad53.mov

[2021-12-08 13:25] YisusOnDev commented on #246
Can you send me link to that complex example?

[2021-12-08 19:52] YisusOnDev commented on #246
@vasilich6107 Seems like the problem is happening when i use custom object like "Province" and not simple ones like bool, String and so...
![DropDownErrorGif3](https://user-images.githubusercontent.com/52821987/145274599-111f2b99-418e-4fb2-8966-2a0c902c5c33.gif)

How i fill province list:
[code]

Form group:
[code]

I don't know what i'm doing wrong.

[2021-12-09 13:08] YisusOnDev commented on #246
Okay, today i tried to fix my widget and...

Instead of saving the whole object, I have saved the unique id to make an int dropdown instead of an "Object" dropdown. And, it works.

So I don't know what the problem is with using DropDownItem with custom classes.

[2021-12-09 13:27] vasilich6107 commented on #246
@YisusOnDev you can check the updated example
https://github.com/joanpablo/reactive_forms/pull/247/files

There is no issues with dropdown and complex objects.

[2021-12-09 16:58] YisusOnDev commented on #246
Maybe i'm missing methods on my class/object?
[code]

[2021-12-09 17:27] vasilich6107 commented on #246
@YisusOnDev only you can check)

[2021-12-09 17:59] YisusOnDev commented on #246
That was the problem or thatrwas the fix haha x), thank you for helping me.

[2021-12-10 05:21] vasilich6107 commented on #240
@jrmallorca any feedback?

[2021-12-10 05:22] vasilich6107 commented on #225
@BenjaminFarquhar it seems that your issue is fixed
Could you close it?

[2021-12-11 16:10] jrmallorca commented on #240
Sorry, I had been occupied with an issue that wouldn't let me even test this issue. However, I do believe that I used it in a similar fashion. I'll get back to you once my side has been fixed.

[2021-12-12 00:34] BenjaminFarquhar commented on #225
@vasilich6107 Thanks so much! I will get in touch if I have any issues when I get around to trying the generator again. Yes this is fixed now :)

[2021-12-12 00:34] #225 closed

[2021-12-16 13:52] vasilich6107 commented on #229
Hi @Solido
I release standalone package for text field with exposed controller
https://pub.dev/packages/reactive_text_field

Check how to access the controller in example
https://github.com/artflutter/reactive_forms_widgets/blob/master/packages/reactive_text_field/example/lib/main.dart#L47

Does it looks suitable for your needs?

[2021-12-16 13:52] vasilich6107 commented on #210
Hi @carmas123

I release standalone package for text field with exposed controller
https://pub.dev/packages/reactive_text_field

Check how to access the controller in example
https://github.com/artflutter/reactive_forms_widgets/blob/master/packages/reactive_text_field/example/lib/main.dart#L47

Does it looks suitable for your needs?

[2021-12-16 13:53] vasilich6107 commented on #209
Hi @carmas123
I release standalone package for text field with exposed controller
https://pub.dev/packages/reactive_text_field

Check how to access the controller in example
https://github.com/artflutter/reactive_forms_widgets/blob/master/packages/reactive_text_field/example/lib/main.dart#L47

Does it looks suitable for your needs?

[2021-12-16 14:34] carmas123 commented on #209
Thank you so much now I try and let you know

[2021-12-16 14:37] carmas123 commented on #209
However I think that the best way to realize it (selectAll) is performing a simplified method like this:

form.control('input').selectAll()

[2021-12-16 14:40] vasilich6107 commented on #209
@carmas123 not all inputs support selecting all
Basically only textfield siblings could have this functionality
So it will bring us into the case when we implement control specific actions in the form engine which is not a good practice

[2021-12-16 22:54] Solido commented on #229
Hi Vasiliy and Pablo.
Yes this is the best to solve my ticket.
It is simple and generic enough to solve any coming requests.
Much appreciated
Also enjoy your Christmas season

Le jeu. 16 déc. 2021 à 14:52, Vasiliy Ditsyak ***@***.***> a
écrit :

--
Robbie

[2021-12-17 05:17] vasilich6107 commented on #224
I release standalone package for text field with exposed controller
https://pub.dev/packages/reactive_text_field

Which disposes the controller.

[2021-12-17 05:17] #224 closed

[2021-12-17 05:18] vasilich6107 commented on #216
@zapiti any feedback?

[2021-12-17 05:18] vasilich6107 commented on #212
@savandev17 any feedback?

[2021-12-17 05:23] vasilich6107 commented on #190
Hi @petoknm
You have to create your custom field like
https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/reactive_switch.dart

Which will combine two fields into one entity with some object type which will include as many fields as you would like

[2021-12-17 05:31] vasilich6107 commented on #49
Hi @gucci-quoci

I released standalone package for text field with exposed controller
https://pub.dev/packages/reactive_text_field

Check how to access the controller in example
https://github.com/artflutter/reactive_forms_widgets/blob/master/packages/reactive_text_field/example/lib/main.dart#L47

Does it looks suitable for your needs?

[2021-12-17 05:33] vasilich6107 commented on #107
@rbozan do you have any reproduction code for this issue?

[2021-12-17 05:36] vasilich6107 commented on #140
Hi @mammba01012018
You need to try fist to experiment with focus with naked control if everything works correct you can inspire in focus node management here
https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/reactive_text_field.dart

[2021-12-18 12:12] YisusOnDev commented on #246
Hi, today i encountered a new problem, now i have the same problem when i put default values to the form. (If form has no values no error happens).

So i'm putting default values:
[code]

So when i'm trying to changed a dropdown value this happens:
![DropDownEditErrorGif1](https://user-images.githubusercontent.com/52821987/146640520-ceccd743-4047-4d60-8fb5-ecc6d2a53a61.gif)

The first problem got

[2021-12-18 19:23] vasilich6107 commented on #246
@YisusOnDev it seems to be the same issues as previous - in your implementation
Check the `complex` sample in `example` folder. It has default form values.
You can enter values in any field and change them without resetting other fields.
Try to use `updateValue` to update the form state.

[2021-12-18 21:19] YisusOnDev commented on #246
Okay, fixed. Thank you again.

[2021-12-18 21:19] #246 closed

[2021-12-19 16:32] joanpablo commented on #209
Hi @vasilich6107,

I like the way you have implemented the **ReactiveTextField.onControllerInit**. Could you please include it in the implementation of the ReactveTextField from Reactive Forms? And instead of having two ReactiveTextFields  (that may be confusing) Have just one, the original? I will merge it if you create a PR.

Thanks in advance.

[2021-12-19 16:33] joanpablo commented on #209
After this change, I will also upgrade the version of Flutter for Reactive Forms and I will include all new properties that are new in this latest Flutter version.

[2021-12-19 16:40] vasilich6107 commented on #209
Ok, will include the implementation

[2021-12-21 20:24] mateuscelio opened #248 "ReactiveTextField input value dont update after removing controller from FormArray"
If  the first controller with value `1.1` is removed,  the last `ReactiveTextField` (1.3) input will disappear, while the `FormGroup`  removes the correct controller. Seems that ReactiveTextField dont update its value.

[code]

[2021-12-22 08:57] dcbacarro opened #249 "Errors not shown when using multiple validators with async validator"
I have an input that accepts a mobile number and I have the following validators set:

[code]

The MOBILE_NO_PATTERN value is `r'^(09)\d{9}$'`
The checkMobile async validator sends a request to the server to check if the mobile number already exists in the database.

When I enter (by typing quite quickly) an invalid mobile number, the async validator is triggered (because at some point while typin

[2021-12-22 11:25] joanpablo commented on #249
Hi @dcbacarro,

Thanks for using **Reactive Forms** and for the issue. Could you show me the implementation of the **checkMobile** function?

[2021-12-22 11:40] dcbacarro commented on #249
You're welcome @joanpablo. It really made it easier to create forms with this package in Flutter.

Here's the implementation of the **checkMobile** function based on the documentation:

[code]

[2021-12-22 11:40] joanpablo commented on #249
Have you tried the *complex* example that is in the **example** folder of the **Reactive Forms** project? In that example, we show a very similar use case, but with an *email*. Can you check this example and let us know if it has the desired behavior?

[2021-12-22 11:41] dcbacarro commented on #249
Okay, I'll have a look at the complex example. Will get back to you later. Thanks @joanpablo.

[2021-12-22 11:43] dcbacarro commented on #249
I think the complex example is the same with the example shown in the readme. Am I right? If so, as I mentioned in my comment [here](https://github.com/joanpablo/reactive_forms/issues/249#issuecomment-999511623), that is where I based my implementation :)

[2021-12-22 11:45] joanpablo commented on #249
Perfect meantime let me recap, to see if I understand your issue:
1- Type correct phone number
2- Patter validation return OK
3- Async Validation Trigger the request (this operation take some time)
4- Type another character and Pattern Validation marks the control as **invalid**
5- The Async Validation responds and marks the control as Valid.
6- The result of the control is marked as valid even wh

[2021-12-22 11:47] dcbacarro commented on #249
Yes, correct. #5 and #6 only occurs when the user types quite quickly. I'll have a screen recording of the behavior. Please wait for a moment. :)

[2021-12-22 11:57] dcbacarro commented on #249
Hi @joanpablo, here's the recording. Please notice that when I type normally, the validations are working properly. Also when I type after the loading animation disappears the validation for the pattern does not appear but it appears on blur.

![ezgif-3-fc04ec9ee7](https://user-images.githubusercontent.com/49216769/147089312-8a731c7c-8ba2-4c3f-adca-406334aa1b42.gif)
.

[2021-12-22 12:12] joanpablo commented on #249
Hi @dcbacarro,

Can you update to the last version of **Reactive Forms** and see if the issue persists?
The complex example in the **example** folder works perfectly as expected and is quite similar to your use case. I will try to reproduce your issue with your Pattern mobile number, and see what happend.

But could you update the version?

[2021-12-22 12:18] dcbacarro commented on #249
Sure, I'll try to update to the latest version. I'll let you know if the issue still persists after updating. Thanks @joanpablo.

[2021-12-22 12:56] joanpablo commented on #249
Hi @dcbacarro,

I was able to reproduce the issue, and a solution is coming :).

I still need to create several tests before releasing the solution. I need to be sure nothing else is broken with the changes. So I hope that by the end of today I could release a new version with this issue solved.

Thanks for the issue.

[2021-12-22 13:20] dcbacarro commented on #249
Hi @joanpablo, I have updated the version to **v10.6.7** and this issue still occurs. As a workaround for now, I call `updateValueAndValidity()` on the control upon blur.

[2021-12-22 13:21] dcbacarro commented on #249
Really looking forward to this. Thank you very much @joanpablo!

[2021-12-22 14:40] joanpablo commented on #249
Hi again @dcbacarro,

I have just released the version v10.6.8 that solved the issue. Please check it, and let me know if everything is working correctly.

I will close the issue but if you have not solved the issue please re-open it, or create a new one.

Thanks again.

[2021-12-22 14:40] #249 closed

[2021-12-22 15:00] dcbacarro commented on #249
Thanks @joanpablo. Confirming that this issue is fixed now. Cheers!

[2021-12-22 15:11] joanpablo commented on #248
Hi @mateuscelio,

This is not an issue with **Reactive Forms** this is a normal behavior of Flutter widgets.

if you set a **key** for each of your **ReactiveForm** widgets, the issue will be solved. For example, you can use an [ObjectKey](https://api.flutter.dev/flutter/widgets/ObjectKey-class.html) like this:

[code]

[2021-12-22 15:11] #248 closed

[2021-12-22 15:23] joanpablo commented on #240
Hi @jrmallorca,

Are you using Flutter **Keys** for each of your children of the  **ReactiveFormArray**?

Any Update?
Can you place a sample Code? Just copy-paste the code you have to have a better understanding of your issue.

Thanks in advance

[2021-12-23 08:13] vasilich6107 commented on #230
@carmas123 the formgroup is a map with controls.
What you have to do is to iterate through the map recursively and call `hasFocus` on each control to find the one which has focus.

[2021-12-23 08:17] vasilich6107 commented on #209
@joanpablo I did several PRs with controller exposure and props updates

[2021-12-23 15:08] jrmallorca commented on #240
Hello,
Sorry for taking so long, I believe I finally created an example that illustrates my problem.

1. Input `flutter create bug`
2. Copy the following files into the **lib** folder:

<details>
<summary>exercise_entity.dart</summary>

[code]

</details>

<details>
<summary>workout_entity.dart</summary>

[code]

</details>

<details>
<summary>workout_form.dart</summary>

[code]

</details>

<deta

[2021-12-24 00:45] mateuscelio commented on #248
Hey @joanpablo, this solved the issue! Thank you very much!

[2021-12-25 03:34] samuzaffar99 opened #257 "ReactiveCheckbox does not accept shape property"
The ReactiveCheckbox widget does not expose the built in shape property of Checkbox to allow for customization of the box.
The following example explains the situation:
ReactiveCheckbox(
    formControlName: 'formName',
	// shape property to make the box rounded
    // shape: RoundedRectangleBorder(
    //   borderRadius: BorderRadius.circular(4),
    // ),
    activeColor: myColor,
  ),
  current

[2021-12-25 05:22] vasilich6107 commented on #257
Check the PRs section
There is one waiting to be merged)

[2021-12-25 05:24] vasilich6107 commented on #257
For now - you can just copy the code from pr
After PR is merged you'll be able remove it

[2021-12-26 14:25] vasilich6107 commented on #240
@jrmallorca do not hesitate to make ready-for-use reproduction repo next time

[2021-12-26 16:56] joanpablo commented on #240
Hi @jrmallorca,

The widget **ReactiveFormArray** was intentionally implemented to listen when the *collection* of controls change. That means you add or remove items from the collection. It is not implemented to listen for changes in the **value** of the array.

So you have two options:

1- Use **ReactiveValueListenable** bound with the FormArray, instead of using the ReactiveFormArray.
2- Use th

[2021-12-27 14:38] jrmallorca commented on #240
Hi @joanpablo and @vasilich6107,
I'm trying to do the first option, but I'm having trouble casting `AbstractControl<ExerciseEntity>` into `FormArray<ExerciseEntity>` in the `ReactiveValueListenableBuilder`. Would you know how to do so?

<details>
<summary>Example of what I'm trying to do</summary>

[code]
</details>

<details>
<summary>What the method was before</summary>

[code]
</details>

[2021-12-27 14:54] joanpablo commented on #240
Hi @jrmallorca,

Have you tried:

**ReactiveValueListenableBuilder<List<ExerciseEntity>>**

or

**ReactiveValueListenableBuilder<dynamic>**

Please let me know which one works because I don't remember right now, what method I used when testing your solution.
I don't solve your casting issue let me know and I will implement again your solution to see which one was the one that works.

[2021-12-27 15:34] #229 closed

[2021-12-27 15:35] #218 closed

[2021-12-27 15:36] joanpablo commented on #210
Hi @carmas123,

We have just released v10.7.0. In this version, you can pass a controller to the ReactiveTextField and use it for selection purposes.

[2021-12-27 15:36] #210 closed

[2021-12-27 15:37] #176 closed

[2021-12-27 18:25] joanpablo commented on #257
Hi @samuzaffar99

We have released version 11.0.0 that includes that property. Please update to the latest version of Reactive Forms

[2021-12-27 18:25] #257 closed

[2021-12-27 18:42] #184 closed

[2021-12-27 18:43] joanpablo commented on #209
Hi @carmas123,

We have just released version 11.0.0, which exposes the TextEditingController for selection purposes.

[2021-12-27 18:43] #209 closed

[2021-12-28 10:11] vasilich6107 commented on #214
You can check standalone implementation of checkbox which supports value accessors
https://pub.dev/packages/reactive_checkbox

[2021-12-28 14:07] jrmallorca commented on #240
Thank you so much for all your help @joanpablo and @vasilich6107, especially for me taking long. I tried your first option, but with a nullable list and it finally worked.

[2021-12-28 14:07] #240 closed

[2022-01-10 21:24] o-ifeanyi opened #261 "type 'int' is not a subtype of type 'String?' in type cast"
Hello I'm not actually familiar with the reactive_forms. I'm working on a codebase that uses it and the ReactiveTextField with TextInputType.number throws the above error.

[code]

[2022-01-10 21:25] vasilich6107 commented on #261
You have to options - write value accessor or cast your field value to string.

[2022-01-10 22:00] o-ifeanyi commented on #261
Can you please point me where I can see how to write a value accessor?

[2022-01-10 22:02] vasilich6107 commented on #261
Could you provide your form initialization code?

[2022-01-10 22:04] o-ifeanyi commented on #261
[code]

[2022-01-10 22:11] vasilich6107 commented on #261
I meant that place where form group is initialized

[2022-01-10 22:23] o-ifeanyi commented on #261
Ok

[code]

[2022-01-10 22:50] vasilich6107 commented on #261
He-he
It is too complicated)

[2022-01-10 23:00] vasilich6107 commented on #261
This does not seem to be an issue of the RF.
The issue somewhere in your code.

Could you attach full error text

[2022-01-14 22:21] o-ifeanyi commented on #261
I was able to write a value accessor for the forms I had the issues with. Thanks

[2022-01-15 13:18] vasilich6107 commented on #261
Hi @o-ifeanyi
If your problem is solved - could you close the issue.

[2022-01-15 21:38] #261 closed

[2022-01-24 13:44] rebaz94 opened #262 "FormControl not updating with different control than previous build"
Hi.
I have a form that shows some field and when data saved, I update entire ```FormGroup``` to a new Form and also all ```FormControl```  will updated as well. but the control in the ui not updated and it uses the old ```FormControl```.

Is this intended or a bug?

After that I just modified ```ReactiveTextField``` and ```ReactiveFormField``` to change controller in ```didUpdateWidget``` and ever

[2022-01-24 14:23] vasilich6107 commented on #262
@rebaz94 you can just show another group of controls instead of updating the `formControl` in widget

[2022-01-24 14:29] rebaz94 commented on #262
That's what I'm doing. when I change ```FormGroup``` it will rebuild, but the ```FormControl``` will use the old controller

[2022-01-24 14:33] vasilich6107 commented on #262
Let's wait for @joanpablo  answer...

[2022-01-24 14:34] rebaz94 commented on #262
If you check the ```ReactiveTextField``` you can see it will not react to changing controller in ```didUpdateWidget``` and not updating ```TextEditingController``` value when ```FormControl``` value changes.

I think all ReactiveXWidget has this problem

[2022-01-25 14:27] abanoubEssam opened #263 "how to get path of file picked from reactive_multi_image_picker ?"

[2022-01-25 19:11] #263 closed

[2022-01-26 20:21] ezet opened #264 "Allow specifying a custom `initialTime` for ReactiveDatePicker"
I have a use case where the `firstDate` depends on the current date. The property is stored in a database, but is editable. This means that I end up with a case where a user selected a date that was valid at the time they selected it. However, if the then selected date has passed, the user is no longer able to edit the date, to set a new, valid date.

The specific error is something like:
`'packag

[2022-01-26 20:31] ezet commented on #264
Another similar case that would be solved by the same fix is when the `firstDate > now`, but the form value is null. `initialDate` will then default to `now`, which fails validation and the same error occurs. And I don't want to modify the form data unless the user actually selects a value. It should remain null if the user doesn't touch the field.

[2022-01-26 20:34] ezet commented on #264
Another, and perhaps better solution, would be to consider the `firstDate` in the `_getInitialTime()` function, and default to `firstDate` if the fieldValue is null and firstDate is specified. And also default to firstDate if fieldValue < firstdate

[2022-01-29 09:28] vasilich6107 commented on #264
Hi @ezet
As you posted in your first message - the issue comes from “ package:flutter/src/material/date_picker.dart” which is behind our control as far as we just proxy values to the component.
Is you have any custom logic that does not fit into standard flutter control you can create your own component referring to exiting date picker as an example.

[2022-01-29 18:47] ezet commented on #264
@vasilich6107 Yes, the error is thrown from a framework package, but the problem arises because this library passes an invalid argument to the framework "date_picker", without giving us a way to change that behavior. The framework picker accepts an argument `initialDate`, which is invalid in this case. ReactiveDatePicker sets that value through it's own calculation, which has buggy behavior, as I

[2022-01-29 19:49] vasilich6107 commented on #264
@ezet I suppose that giving an ability to override `_getInitialTime` would be a universal solution

[2022-01-29 19:52] vasilich6107 commented on #264
@ezet i'm maintaining the package `reactive_datetime_picker`
https://github.com/artflutter/reactive_forms_widgets/blob/master/packages/reactive_date_time_picker/lib/reactive_date_time_picker.dart

I will try to add an ability to override `_getInitialTime` which could be helpfull
It will be the shortest path cause the releases of `reacitve_forms` are unpredictable)
There are 7 PR from myself waitin

[2022-01-30 07:15] vasilich6107 commented on #262
Hi @rebaz94
I just faced the same issue
We could make PR to fix this.
The only way to overcome this bug is to use `formControlName` instead `formControl`

[2022-01-30 07:17] vasilich6107 commented on #262
@joanpablo could you help us with this issue?

[2022-01-30 07:34] vasilich6107 commented on #262
@rebaz94 let's make PR
I will help you with tests
Than will be waiting for @joanpablo to merge

[2022-01-30 08:41] rebaz94 commented on #262
Hi @vasilich6107
I'm happy to help you but at that time I don't have any time sorry, maybe later. [here](https://github.com/rebaz94/reactive_forms/commit/3e0442175a425f0c9a6f7b3afbfc75ea429e5570) a good start

In my case I'm using `formControlName` but it not work, what I did to fix this providing `formControl` directly and because I am using custom widget I create two other widget for status and

[2022-01-30 13:35] vasilich6107 commented on #262
Hi @rebaz94
I just found my issue in code.
Everything seems to work fine.

If your `formControlName` does not work may be it could be a bug on your side.
If you could create a reproduction code may be we could figure out the issue

[2022-01-30 14:02] vasilich6107 commented on #262
@rebaz94 one of the ways to solve this is to use `key: UniqueKey(),` in controls

[2022-01-30 14:08] rebaz94 commented on #262
First time i solved with the key but for performance reason I removed because every time you save the form it rebuilding entirely.

The problem is shown when you have a custom widget and you need ```ReactiveValueListenableBuilder``` or ```ReactiveStatusListenableBuilder``` to listen to changes.

just passing ```formControl``` with custom value listener it work perfectly

[2022-01-30 14:51] vasilich6107 commented on #262
@rebaz94
I released https://pub.dev/packages/reactive_text_field
with some kind of a fix...

But `reactive_forms` definitely require a fix

[2022-01-30 19:45] ezet commented on #264
@vasilich6107 Thank you, this should suffice for now! I realize this should've been reported as an issue in your repo, not here. But thanks for assisting anyways! You can consider also applying the logic correction I proposed in my comment, while also allowing callers to provide a custom value. I don't think my proposal would be breaking, as it would only use a different `initialDate` in cases tha

[2022-01-30 19:52] vasilich6107 commented on #264
Technically it was easier to me to give an ability to override the initial date getter)

[2022-01-30 20:35] vasilich6107 commented on #264
@ezet I will try to find time to apply the same improvement here...
But only the gods know when it will be merged

[2022-01-30 21:15] vasilich6107 commented on #264
@ezet i'm also working on generator plugin for reactive forms
https://github.com/artflutter/reactive_forms_generator

It would be great if you could try it

[2022-01-31 14:11] joanpablo commented on #264
Hi @ezet,

Thanks for the issue, I guess the solution is to fix the "bug" in the initial date calculation because you already set the value of the date in the Control.

Or maybe both, if you provide the initialDate to the Widget and the value of Control is Null then the control may assume the value of the Widget. (But I will work on fix the calculation first)

I will see what is the error and will

[2022-01-31 14:27] joanpablo commented on #264
Hi again @ezet,

Do you think the argument of **initialDate** should be a method or just another optional property like **firstDate**, and **lastDate**? If we add an extra argument to the **ReactiveDatePicker** would that be enough for you? (Of course I will reimplement the calculation of the _getInitialDate as a separated fix)

[2022-01-31 14:34] vasilich6107 commented on #262
@joanpablo could you take a look at this issue

[2022-01-31 14:40] joanpablo commented on #264
Hi @ezet and @vasilich6107,

this is the New implementation of the **_getInitialDate**

[code]

this is how I call it

[code]

As you can see, now the **ReactiveDatePicker** will have an optional new argument: **initialDate**, this one will have more priority than the **field.value**. If both values are null then the **DateTime.now()** will be used. And inside the method I make sure that the value

[2022-01-31 14:43] vasilich6107 commented on #262
Here is small video demo of the bug

https://user-images.githubusercontent.com/6721286/151813859-8d6036ca-05e6-40cb-a166-e9061e4aaf31.mov

[2022-01-31 16:01] joanpablo commented on #262
Thanks @rebaz94  and @vasilich6107

I will take a look and see all your comments and release a fix

[2022-01-31 16:08] joanpablo commented on #264
Hi @ezet and @vasilich6107,

I have released a new version v11.0.1 of **Reactive Forms** which not only includes an optional argument **initialDate**, but also fix the initialDate calculation.

Please if you still have issues, don't hesitate to reopen the issue or create a new one.

[2022-01-31 16:08] #264 closed

[2022-01-31 16:36] joanpablo commented on #262
Hi @vasilich6107

in the case of the Video Example the issue just got fix if you use a **Key** for example a ValueKey as I show in the picture:
![Screenshot 2022-01-31 183244](https://user-images.githubusercontent.com/37339180/151833848-86adc546-1e7a-4aef-8c4b-de6ad056f034.jpg)

My question is: why is this solution (of using a Key)  worst than completely reimplementing the **didUpdateWidget**?

Ma

[2022-01-31 16:44] joanpablo commented on #262
Hi @rebaz94,

could you create a simple example that reproduces your issue, maybe copy and paste your code (the one that create the new FormGroup and controls) to see if I can reproduce the error and fully understand the problem?

[2022-01-31 16:45] joanpablo commented on #262
@rebaz94
I need to understand the context in which you are creating the new FormGroup, how you are listening for changes, and how you are building RectiveForm and its children. That's is why an example will be very useful.

[2022-01-31 16:55] vasilich6107 commented on #262
@joanpablo
The `key` trick could be a fix, but it looks more like a workaround.

My overall thoughts about `key` vs `didUpdateWidget` are next
- `didUpdateWidget` is the right place to do the thing cause it was designed for this purposes
- the `key` solution is not obvious for `flutter` ecosystem, in `flutter` way you do not have to add `key` to every widget to make it function properly. Adding `k

[2022-01-31 17:23] joanpablo commented on #262
Hi @rebaz94,

Another question that I don't stop asking myself is:

Why do you need to *rebuild* the FormGroup instead of just using the **FormGroup.reset(...)** method?
This method was intended to reset values of the FormGroup without creating a new one each time you save it. You can reset the hole FormGroup with new values (if you need to load new data from the server) or you can just initialize

[2022-01-31 17:35] joanpablo commented on #262
Hi @vasilich6107, I understand your point of view, but one of the first things I learned of Flutter is that **Keys** are **extremely** important on a repeated list of similar items.

Here in the Flutter [Docs](https://docs.flutter.dev/development/ui/widgets-intro) at the end of the page they made a clear explanation of the importance of using **Keys** in a list.

And also we have this [video](http

[2022-01-31 18:21] rebaz94 commented on #262
Hi @joanpablo

```ReactiveForm``` does not have any problem when ```FormGroup``` change, it will update it but the problem is that ```FormControl``` not updated in widget only when ```formControllerName``` is been used for example ```ReactiveTextField``` or when using ```ReactiveStatusListenableBuilder``` and ```ReactiveValueListenableBuilder``` does not react to change.

In may case I have many c

[2022-01-31 18:27] rebaz94 commented on #262
Here if I use ```Key``` when save button pressed the result will not be shown. so reloading form with new ```FormGroup``` or tapping new item from left side is same process and should use the latest value.

https://user-images.githubusercontent.com/11982812/151850903-6d9c5218-9e1c-4621-b4f2-1e67525459e7.mov

[2022-02-01 09:19] Solido opened #265 "reactive_forms_widgets marked as discontinued"
https://pub.dev/packages/reactive_forms_widgets

I understand that the github repo is well and alive but the message will surely scare potential adopters

Regards,
Robert

[2022-02-01 09:47] joanpablo commented on #262
Hi @rebaz94,

I will repeat my question:

Have you tried to use **FormGroup.reset** method, instead of building a completely whole new FormGroup?

Why you are creating a new FormGroup with new FormControls instead of just using the method **reset**?

[2022-02-01 09:51] joanpablo commented on #262
Hi @rebaz94,

Here is the code documentation of the Method **reset**. Tell me if you have tried this.

[code]

[2022-02-01 09:54] vasilich6107 commented on #265
Hi @Solido

It seems that i will have to update the README on pub.dev)

[2022-02-01 09:56] joanpablo commented on #262
BTW very nice UI

[2022-02-01 10:33] rebaz94 commented on #262
Hi @joanpablo
Thanks for responding. I know about reset method but in that case if you have a lot of fields there will be a lot of duplicate code to handle initial value and later resting with new value compared to just creating new ```FormGroup```.

Fixing this issue will help a lot and its the right way to handle changes. But now the changes does not reflect in the UI

Thank you, its because of

[2022-02-01 10:59] joanpablo commented on #262
Hi @rebaz94,

Not sure why duplicated Code if you encapsulate the code in a reusable method. Why it is duplicated Code? Not sure to follow you. Can you give me the real example of your app or something similar?

[2022-02-01 11:03] rebaz94 commented on #262
Because creating form control is different than updating value in the reset method. If I create control in a method. I need to create another for all control and just use reset method

[2022-02-01 11:12] joanpablo commented on #262
Yes definitely you need one method for creating a FormGroup and another for Reseting the FormGroup, but the source of the Data is the same, no duplication.

Reactive Forms is not implemented in a way that you constantly change FormControls of the Widgets, because all those widgets are Stateful, and stateful widgets change state value, your state is the Data, not the FormControls. You are trying to

[2022-02-01 11:25] rebaz94 commented on #262
You are right, it should use reset method but if you are a lot of fields with different ```FormGroup``` things became harder to manage.
There is a lot of dependency in my app can't shared easily but the example I provide, it similar we have a method to load data and if form changes and need to get data again from server it will again call the loadMethod again...

Anyway thanks for your reply. you

[2022-02-01 11:27] rebaz94 commented on #262
this is a simple example, in my case there is a class with different state like Data, Loading, Error and..

[2022-02-01 11:29] joanpablo commented on #262
Yes in this simple example you don't need the **ref.watch**, maybe if you are listening some other providers you should use **read.watch**, but my suggestion is always separate Widgets with their specific logic. If the Form Widget will not listen to any other provider then separate it in a Specific Widget that just Read for the Provider. Any other Widget that listens for changes to other providers

[2022-02-01 11:37] rebaz94 commented on #262
Sorry the problem is all about using different ```FormGroup``` and when changes the UI use the new ones but it does **not** do that, it used the **old controller**. thats all about it. as I said in my case I am fixing by providing controller directly but ```ReactiveForm``` should do that

[2022-02-01 11:37] rebaz94 commented on #262
Anyway thanks for your reply
Regards

[2022-02-01 11:45] joanpablo commented on #262
@rebaz94 Thanks for the issue and for using Reactive Forms, don't make me wrong.

I now fully understand your issue, and I can tell you that Reactive Forms is intentionally not implemented the way you are proposing. Its not implemented in the way that you constantly change FormControl instances. If you are constantly changing instances of FormControls, then why we would have methods like **FormCon

[2022-02-01 11:53] rebaz94 commented on #262
@joanpablo I fully understand you, thank you so much for all information. I changed my mind and I will refactor my code to use reset method as its recommended and also I think it should have a better performance that recreating the controller. just some extra code :)

[2022-02-01 16:21] #262 closed

[2022-02-01 16:23] joanpablo commented on #216
Closed because it has not been updated for a long time.

Please @zapiti don't hesitate to re-open it on create a new one if you have new questions.

[2022-02-01 16:23] #216 closed

[2022-02-08 15:07] naamapps opened #266 "[BUG] Bad state: Cannot add new events after calling close"
Hey,
Getting this error message from time to time..

Not sure how to replicate,
but the solution is to check if the `_focusChanges` stream is closed before adding to it.
[code]

[2022-02-14 09:35] mohabmm opened #268 "Adding initial value property in ReactiveDropdownField same as "DropdownButtonFormField""
Hey there I think we have an issue that we can't assign a default value for ReactiveDropdownField

[2022-02-14 10:21] vasilich6107 commented on #268
Could you provide a reproduction code. @mohabmm

[2022-02-16 07:41] jbt-cii opened #269 "ReactiveCheckboxListTile: Relation FormControl and FormArray<bool>"
Hello,

I have a form which contains several fields and for one "field" I want to print several checkbox to check or not.
And then I would like to get all the checked elements into one ```FormControl```.
For example like this in HTML:
[code]

In HTML, we get array variables "option_1" and  "option_2" containing all checkboxes and we can verify which checkboxes are checked.
Here a link to another e

[2022-02-16 07:48] vasilich6107 commented on #269
@jbt-cii you have to have FormControlArray the same as it is in `array_sample`
at the end of the form filling you will have to make something like `form.values['yourArray'].join(', ')`.
Basicaly you'll have to convert list of bools to comma separated string manually.

Otherwise you will have to create your own `Reactive*Control` which will manage all the internals and supply `string` value of conc

[2022-02-16 08:04] jbt-cii commented on #269
Thank you for your answer.

```FormControlArray```?
I can't find that in ```array_sample.dart```.

What is the way to declare several ```ReactiveCheckboxListTile``` attached to one ```FormControl```?
In ```array_sample.dart``` I understand that each ```ReactiveCheckboxListTile``` must have a unique specific ```formControlName```.
So for me they are independent, aren't they?

In fact I try to imple

[2022-02-16 08:27] jbt-cii opened #270 "Build the project (version 11.0.2)"
Hello,

As all is not fully explain in the documentation I try to build the latest version of the project to see the result of the different examples in order to find solutions for my problem explained here:
https://github.com/joanpablo/reactive_forms/issues/269

The ```CHANGELOG.md``` file talks about a ```11.0.2``` version but ```pubspec.yaml```contains ```version: 11.0.1```.

Anyway when we unz

[2022-02-16 08:33] vasilich6107 commented on #270
@jbt-cii `reactive-forms` example works perfectly on flutter 2.8.1
use https://fvm.app/ to install multiple versions of `flutter` on your machine

[2022-02-16 08:34] vasilich6107 commented on #269
@jbt-cii
https://github.com/joanpablo/reactive_forms/blob/master/example/lib/samples/array_sample.dart#L13

[2022-02-16 08:34] vasilich6107 commented on #269
No way

[2022-02-16 08:39] jbt-cii commented on #270
I don't understand because my flutter version is yet  2.8.1:

[code]

[2022-02-16 08:47] vasilich6107 commented on #270
@jbt-cii I do not use android frequently
I tried to run it now on PixelEmulator api 30 - works fine.

There is two more options for you - try to run on iOs simulator.
If you are on Win - google your error.

[2022-02-16 08:48] jbt-cii commented on #269
OK! You talk about the same thing I talked about: ```FormArray<bool>```

OK... I continue to search how to use this example to do what I try to do.
Certainly It would be helpful to see the result of the examples in an emulator... but for the moment I can't succeed :-)

[2022-02-16 08:51] jbt-cii commented on #270
OK! Thanks!
It works with the "iphone" emulator.
So the problem is only for the "android" emulator.

[2022-02-16 08:57] jbt-cii commented on #269
@vasilich6107 Thank you for your help in the issue #270
Now I can see the "array sample" in action, it certainly will help me :-)

[2022-02-16 09:01] vasilich6107 commented on #270
@jbt-cii it works for android cause I checked it 10 mins ago.
The issue is possibly on your side.
If the issue is not reproducible no one will be able to fix it)

[2022-02-16 09:24] jbt-cii commented on #270
OK I found where is the problem.
Adding a ```ndkVersion``` information in the ```/android/app/build.gradle``` file:

[code]

Like this now I can build the app for "android" emulator.

So I close this issue :-)
@vasilich6107 Thanks a lot for your help!

[2022-02-16 09:24] #270 closed

[2022-02-17 12:15] CharlVS opened #271 "Custom reactive widget wiki tutorial outdated"
Hi everyone,

I've created an image uploader field widget that returns the uploaded image's bucket path (String) and would like to implement it as a reactive widget. The wiki guide [here](https://github.com/joanpablo/reactive_forms/wiki/Custom-Reactive-Widgets) is not up to date with the current API [here](https://pub.dev/documentation/reactive_forms/latest/reactive_forms/ReactiveFormFieldState-cl

[2022-02-17 17:09] jbt-cii opened #272 "Tap on a dropdown item near the bottom of a screen in a dialog page"
Hello,

Sorry for my english :-)

In my Flutter app I have a strange case.
In my app I "tap" on a button which opens a full screen dialog page.
I get an error when I "tap" on a reactive dropdown item ('```ReactiveDropdownField``` -> ```DropdownMenuItem```') which is located at the boundary bottom of the page (almost outside of the screen at the bottom).
I understand that the problem comes from the

[2022-02-18 16:32] jbt-cii commented on #272
I resolved the problem of ```scrollBar``` in my test app.
And now i'm not able to reproduce the problem in a simple test app.

Nevermind I think that my problem came from a specific padding definition inside a specific widget built to manage the ```reactive_forms``` component.

I close this issue.

[2022-02-18 16:32] #272 closed, assigned to nobody

[2022-02-19 07:23] vasilich6107 commented on #271
Hi @CharlyZA-2
Here is a ton of widgets implemented

https://github.com/artflutter/reactive_forms_widgets/tree/master/packages

you can use any of them as reference

[2022-02-19 07:24] vasilich6107 commented on #271
At the beginning you can set both types to the save value - String in your case

[2022-02-20 22:17] CharlyZA-2 commented on #271
Thanks a lot. That's great.

[2022-02-25 21:59] clockwork189 opened #273 "ReactiveCheckboxListTile: OnChanged Property"
Hello,

I was wondering if it was possible to check when an option is selected in a ReactiveCheckboxListTile? In my use case, I got a question with 5 checkboxes such as below:

**What is your favorite color?**
- [ ] Red
- [ ] Blue
- [ ] Green
- [ ] Orange
- [ ] None

A user may select any and all of the checkboxes BUT, if they select "None" I want to un-select all the other checkboxes, and only ke

[2022-02-25 22:33] vasilich6107 commented on #273
@clockwork189
you need to listen to control value changes
there is a stream to listen to
something like this
https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/reactive_value_listenable_builder.dart#L65

[2022-02-25 23:20] clockwork189 commented on #273
Got it! That makes sense! Thank you for clarifying and the quick response!

[2022-02-25 23:21] #273 closed

[2022-02-26 18:51] BigGitWorld commented on #273
I think you can use ```ReactiveFormConsumer```.
its builder method is called whenever something changes in the form.

[code]

[2022-02-27 15:21] BigGitWorld commented on #215
There is not any sample in the link.

[2022-02-27 22:47] alejandrogiubel commented on #107
Same issue. Solved adding this `focusNode: FocusNode(),`.

[2022-02-28 07:53] vasilich6107 commented on #107
Could you provide a reproduction code for the issue?

[2022-02-28 13:23] alejandrogiubel commented on #107
This is my code. I don't really know what is causing the problem but using `focusNode: FocusNode()` solved it.

[code]

Another strange thing is that I use that same code in other parts of my application and I didn't have to add FocusNode to it.

[2022-03-01 10:40] Solido opened #274 "[Advice] Form currently being processed"
Hi!

Like there is a pending state when verification occurs, I would like to mark form as being processed after a request. I want to form to handle this not having to create a state into code.

I wasn't able to find any native solution to this in the lib. How do you advice to handle this now ? Should I create a specific field? can it be added in the future?

Thanks!
Robert

[2022-03-01 10:42] vasilich6107 commented on #269
@jbt-cii any updates?

[2022-03-01 18:41] vasilich6107 commented on #215
@BigGitWorld
fixed
https://github.com/artflutter/reactive_forms_widgets/blob/master/packages/reactive_file_picker/example/lib/main.dart

[2022-03-03 01:31] joanpablo commented on #274
Hi @Solido,

There is a PENDING state in Forms and Controls, when validity verifications are in progress, so not sure to understand your issue, can you give a more detailed example?

If you go and run the __example__ folder project you will see in the "Complex Example" that we simulate a verification of an email in the server, and while the email is verified ni the server the state of the Form is

[2022-03-03 01:40] joanpablo commented on #266
Hi @naamapps,

Are you are calling the __dispose()__ method on a FormControl or FormGroup or FormArray?

[2022-03-03 01:56] jasonlaw commented on #168
Any update on this? Would like to have this feature too.

[2022-03-03 07:20] Solido commented on #274
Hi @joanpablo

Thank you for the quick reply. I read the source doc about about when prototyping but understood that it was true when and only when fields where being checkout by the backend.

In my scenario, after a check that a form is correct I build a request on a specific protocol to submit the form so I'm looking for a way to mark the form as executing the remote request.

I was not enable t

[2022-03-03 09:04] jasonlaw opened #275 "[Feature Request] Suppress error"
Hi,

I would like all my forms to have validation only on submission (#205), but it would be too tedious to override the showError function for each control.

Can we have a suppress error method to not show the error?
My idea is to instantiate the FormControl with suppress error enabled, upon form submission, will reinstate the error (suppress error disabled) for all controls.

With this simple ch

[2022-03-04 10:52] jbt-cii commented on #269
@vasilich6107
Sorry I couldn't answer earlier.
For the moment I had to move on to another more urgent project.
But before moving on to another project, the first tests were good, I was able to implement several Checkbox elements and a variable containing all the values (checked and unchecked).
Now I have to deal with them to get what I wanted, but I think I can close this issue.

[2022-03-04 10:52] #269 closed

[2022-03-08 11:52] haoyuant opened #277 "Set field validation state"
Hello, I'm migrating my forms to reactive forms, but for the phone number input field, I use https://pub.dev/packages/intl_phone_number_input to handle country code selection and phone number validation. I created a custom reactive form control to wrap this input field, but don't know how to bind the internal validation state to the reactive form control, so I wonder if there is a way for me to di

[2022-03-08 16:47] MBulli opened #278 "Add 'markAsDirty' parameter to AbstractControl.updateValue()"
As far as I can tell calling `updateValue()` on a `FormControl` programmatically does not mark the control as dirty.
It would be helpful if `updateValue()` had a bool parameter 'markAsDirty' which marks the control as dirty after updating the value.

My use case is a button where I want to reset the value of a `ReactiveDropdownField` with the following handler:

[code]

If `updateValue()` had a pa

[2022-03-11 11:18] Pitazzo opened #279 "Field blocked after .pop()"
I'm experimenting a strange behavior when routing back to a reactive form which has been previously completed. Situation is as follows:
* I have a first view with a `ReactivePhoneFormField`, which works as expected
* I have a second view, where I expect my users to introduce an SMS validation code
* If the user goes back to the first view by doing an iOS back gesture, everything keeps workings as

[2022-03-28 07:40] ahmedabdelhafez opened #280 "Creating Date Picker or Time Picker"
hello dears,
i cannot create a date picker or time picker

[2022-03-28 07:41] ahmedabdelhafez commented on #243
can you post  your code how to create date picker or time picker

[2022-03-28 07:59] vasilich6107 commented on #280
@ahmedabdelhafez
See the example

https://github.com/artflutter/reactive_forms_widgets/blob/master/packages/reactive_date_time_picker/example/lib/main.dart

[2022-03-28 08:01] mosheliv commented on #243
You can look at the demo, it has one

On Mon, Mar 28, 2022, 20:41 ahmedabdelhafez ***@***.***>
wrote:

[2022-03-30 16:41] vasilich6107 commented on #280
@ahmedabdelhafez any feedback?

[2022-03-30 16:46] vasilich6107 commented on #277
Hi @haoyuant
Here is an example of similar phone field
https://github.com/artflutter/reactive_forms_widgets/blob/master/packages/reactive_phone_form_field/lib/reactive_phone_form_field.dart

Long story short - let the reactive_forms to manage the validation and push the result into decoration manually
https://github.com/artflutter/reactive_forms_widgets/blob/master/packages/reactive_phone_form_fie

[2022-03-30 18:14] ahmedabdelhafez commented on #280
Yes I was trying the example in the demo of the package and it's working now

[2022-03-30 18:15] #280 closed

[2022-04-02 15:06] vasilich6107 commented on #279
@Pitazzo could you provide a small repo with working reproduction
Probably I could help you

[2022-04-02 15:07] vasilich6107 commented on #268
@mohabmm any feedback?

[2022-04-08 18:22] tcpdev opened #281 "Update decoration on value changes"
I would like to give user feedback similar to an error but still allow the form to validate. One example of that is when input like a password is weak (but acceptable), give the user a warning or help.

Since validators and errors block saving a form, I thought to use helperText. To get the state updating on the helperText, the closest I've come is wrapping the ReactiveTextField with its own React

[2022-04-08 20:52] vasilich6107 commented on #281
Check https://pub.dev/packages/reactive_fancy_password_field

[2022-04-08 20:53] vasilich6107 commented on #281
Otherwise - you’ll have to create your own control with whatever bell and whistles you need and then write binding to the reactive forms

[2022-04-09 20:18] vasilich6107 commented on #279
@Pitazzo any feedback?

[2022-04-18 20:40] vasilich6107 commented on #281
@tcpdev any feedback?

[2022-04-21 23:27] jl-insiders commented on #107
We are getting this also. focusNode: FocusNode(), solves it for us.

[2022-04-24 10:13] chahineaoun opened #282 "[Feature request] reactive file input field"
Hi,

Most registration forms require an image input at a certain point, so it would be great to be able to integrate that field in the reactive form.

Thanks in advance.

[2022-04-24 11:55] vasilich6107 commented on #282
@chahineaoun check

https://github.com/artflutter/reactive_forms_widgets

Or leave request for wrapper

https://github.com/artflutter/reactive_forms_widgets/issues/16

[2022-04-25 10:07] #282 closed

[2022-04-27 17:11] Pitazzo commented on #279
Sorry for the late response @vasilich6107 I changed the implementation and I'm not able to reproduce again the issue. I will open again if I manage to get the error back.

[2022-04-27 17:11] #279 closed

[2022-04-28 18:59] tcpdev commented on #281
Thanks for the direction. Your answer kept me going to what looks like a workable solution. The fancy password showed well how two widgets may interreact, but since I'm live updating the helperText when the value of that _same control_ is updated, I think I need the self-referencing ReactiveValueListenableBuilder - as in my code above.

Not finding a way to link into the validation event timing, I

[2022-05-12 09:10] CripyIce opened #284 "Validation dependency"
Hi there,
I would like to know how can I make some `FormControl`s validation depends on another 'FormControl' value.
An example from my project:
I have a form that the first `FormControl` is a `ReactiveRadioListTile` the asks the user for family status - `Married` or `Single`.
In case of choosing `Married` a form will be displayed asking for both of the parent's email address.
In case of choosing

[2022-05-12 18:43] vasilich6107 commented on #284
@CripyIce
you can also use https://github.com/joanpablo/reactive_forms#reactivevaluelistenablebuilder-to-listen-when-value-changes-in-a-formcontrol
to dynamically add/remove validators to the fields depending on the `parents_family_status` value

[2022-05-12 18:45] vasilich6107 commented on #284
also you seems to forget

[code]

[2022-05-13 16:11] vasilich6107 commented on #284
@CripyIce any feedback?

[2022-05-14 07:56] CripyIce commented on #284
@vasilich6107 Thanks for the snippets!
I would have to create a new Flutter project and try to solve my issue because it’s hard for me to try it in my current project.
For the meanwhile I replaced the validation dependency with a simple if checks…

I will post a new comment when I’ll create the new project.

[2022-05-17 09:42] abdalazeez1 commented on #268
i  have the same issue

`import 'package:elkood_responsive/elkood_responsive.dart';
import 'package:flutter/material.dart';
import 'package:reactive_forms/reactive_forms.dart';

import '../config/theme/src/styles.dart';

class CustomDropDown<T> extends StatefulWidget {
  final String? hintText;
  final String formControlName;
  final InputBorder? border;
  final Color? backgroundColor;
  final Map

[2022-05-17 10:19] abdalazeez1 commented on #268
i fix this   by  add

FormGroupKey.gender: FormControl<GenderType>(
        validators: [Validators.required], value: GenderType.other),

inital value in form grupp

[2022-05-20 14:02] krista30 opened #286 "How to prevent a from entering text in Reactive Text Input with number validation"
Hi Pablo, apart from showing an error message, is there a way I can prevent a person from entering text in the ReactiveTextInput when validating a field for only numbers. Thanks

[2022-05-20 14:10] vasilich6107 commented on #286
Subscribe on field changes, save prev value and in case if next value is not valid reset back to prev

[2022-05-20 14:56] krista30 commented on #286
Thanks @vasilich6107 .

[2022-05-20 14:56] #286 closed

[2022-05-21 09:22] SmirnovM91 opened #287 "Validation dependency (mb same issue)"
Hello, i am trying to do validation that depends on other field, but when use ```markAllAsTouched``` and then print ```errors``` of  FormGroup, it shows only the first error on the first field.

There is an example

[code]

[code]

[code]

[2022-05-21 09:28] krista30 opened #288 "Simple FormArray example"
Hi Pablo,

Is there a simple example of FormArray which doesn't use inherited Widgets.

[2022-05-21 12:54] vasilich6107 commented on #288
What's the issue with inherited widgets?

[2022-05-21 13:49] krista30 commented on #288
Inherited Widgets don't solve my problem. I just want some thing simple that uses stateless widgets because at a later stage am going to use bloc to handle the statement

[2022-05-21 15:46] krista30 commented on #288
I have found the solution of what I wanted to accomplish. I will mark this as closed

[2022-05-21 15:46] #288 closed

[2022-05-21 16:37] krista30 opened #289 "Type '_InternalLinkedHashMap<dynamic, dynamic>' Error"
Hi,

Am trying to parse a list of data to a function I created to return a FormGroup but am getting this error

_type '_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Map<String, AbstractControl<dynamic>>'_

What might I be missing here?

[2022-05-21 17:10] krista30 commented on #289
I have fixed it and it now works.

[2022-05-21 17:10] #289 closed

[2022-05-21 19:47] vasilich6107 commented on #287
If you create a copypastable and runable `main.dart` I'll try to help you

[2022-05-21 19:47] vasilich6107 commented on #281
@tcpdev any update?

[2022-05-21 19:48] vasilich6107 commented on #277
@haoyuant any update?

[2022-05-21 19:48] vasilich6107 commented on #268
@mohabmm any feedback?

[2022-05-22 11:42] joanpablo commented on #286
Hi @krista30,

Another way to prevent input from the user in a Text Field is using [TextInputFormatter](https://api.flutter.dev/flutter/services/TextInputFormatter-class.html)

[2022-05-22 11:52] joanpablo commented on #287
Hi @SmirnovM91,

Thanks for usnig **Reactive Forms** and for the issue.

Usually if you are going to create a validation that involve multiple fields of the form, then you should define the Validator at FormGroup level, not to a particular field.

In this example, the **mustMatch** validator is defined at FormGroup level and it checks that *password* and *passwordConfirmation* have the same value:

[2022-05-25 11:07] krista30 opened #291 "How to Track Radio List Tile Value"
How can I track the Id value when I select the Reactive Radio List option

[2022-05-25 12:56] joanpablo commented on #291
Hi @krista30

Could you give more details about the issue? Sorry, but I did not get your question.

[2022-05-26 12:44] krista30 commented on #291
Thank you @joanpablo for the swift response.  I wanted to track the value e.g an id of  an option that is selected from the list of Reactive Radio List options
 on a screen. I tried to do this with a native flutter Radio Tile List widget and it worked. Is there a way I can do the same thing with the Reactive Radio Tile List.

[2022-05-27 11:08] #291 closed

[2022-05-30 09:10] joanpablo commented on #266
Hi @naamapps,

You don't necessarily need to provide a FocusNode to a ReactiveFormField, in that case, ReactiveFormField will dispose of the FocusNode (the [FocusController](https://github.com/joanpablo/reactive_forms/blob/ea8148de4e92a0554ee42aacdc182689b5a1e887/lib/src/models/focus_controller.dart#L68) will do it). But if you provide a custom FocusNode, then you will need to dispose it manually.

[2022-05-30 09:20] naamapps commented on #266
The docs doesn't mention we need to call it, but I know there are streams and other things that needs to be disposed in order to prevent memory leaks.
I'm just confused as to what is the meaning of the dispose functions if no one ever calls them.

[2022-05-30 11:53] JSBmanD opened #292 "Remove control doesn't work as intended"
I have function that removes control when I need - `formSettings.formGroup.removeControl(openFieldName);`

When I call this function - it throws an exception that control not found but removes field successfully.

Plugin - ^13.0.0
[code]

[2022-05-30 12:29] vasilich6107 commented on #292
If you create a copypastable and runable main.dart I'll try to help you

[2022-05-30 13:52] joanpablo commented on #266
Hi @naamapps,

If you don't provide the FocusNode, the Reactive Form package will dispose all the FocusNodes when the widgets get destroyed. If you provide the FocusNode it means that you need to take care of it by your own. You need to find the moment in which the Widgets get destroyed and dispose manually the FocusNode.

If you get an error maybe is because you are disposing the FocusNode before

[2022-05-30 14:08] naamapps commented on #266
Yes I got that part @joanpablo - I wrote that I do dispose the FocusNodes manually.

My questions above are not connected to the error I wrote in the main issue - I'm just concerned about memory leaks.

Hope this is clearer,
Thanks

[2022-05-30 15:43] joanpablo commented on #292
Hi @JSBmanD,

Thanks for the issue. Would you mind giving us more details, for example,
- the structure of your FormGroup
- The name of the FormControl you want to remove
- Are you adding dynamically the FormControl or not

with more details, we can have a better understanding of the situation.

Thanks in advance

[2022-06-03 04:25] krista30 opened #293 "How to bind native flutter widgets to Reactive forms"
Hi Team,

Thank you for the great work. How do you bind the values selected from a multi select check box to the form control name as an array list.

[2022-06-03 05:31] krista30 opened #294 "Multi select selects all the options at once"
Hi team,

Thanks for this great library. Am trying to parse data to a reactive checkbox list tile. Am able to parse the data and the list gets displayed. How do I make sure that when I select one of the options from the checkbox list, all the other options don't get selected automatically ?
[code]

[2022-06-03 08:35] vasilich6107 commented on #294
If you create a copypastable and runable main.dart I'll try to help you

[2022-06-03 10:22] krista30 commented on #294
`import 'package:flutter/material.dart';
import 'package:reactive_forms/reactive_forms.dart';

void main() {
  runApp(const MyApp());
}

class MyApp extends StatelessWidget {
  const MyApp({Key? key}) : super(key: key);

  // This widget is the root of your application.
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Flutter Demo',
      theme: ThemeData(

[2022-06-04 09:20] vasilich6107 commented on #294
Thanks
Will take a look

[2022-06-04 22:25] krista30 opened #298 "How to create a custom Reactive Form Widget"
Hi team,

Thanks for the great work. Am trying to create a custom Reactive Widget while following the guide on the wiki page. What might I be missing to be able to bind it to the reactive form.
[code]

[2022-06-05 03:43] vasilich6107 commented on #298
Wrap your code in ```dart ```
It’s hard to read it

[2022-06-05 03:45] vasilich6107 commented on #298
tutorial is outdated
  https://github.com/joanpablo/reactive_forms/issues/271

[2022-06-05 03:47] vasilich6107 commented on #298
Refer here https://github.com/artflutter/reactive_forms_widgets/tree/master/packages

and here
https://github.com/joanpablo/reactive_forms/tree/master/lib/src/widgets

for examples

[2022-06-05 05:18] krista30 commented on #298
@vasilich6107 thanks for the help

[2022-06-05 10:00] #298 closed

[2022-06-05 10:00] #294 closed

[2022-06-05 12:24] #293 closed

[2022-06-05 12:28] krista30 commented on #298
Hi @vasilich6107  I have tried to create custom reactive widget after referring to the examples but when I select the widget and submit the form, shows null hence nothing is captured in the formControlName, what may I be doing not right. Here is my source

[code]

[2022-06-05 12:30] vasilich6107 commented on #298
First of all there is no more @required directive)
Only required without @

[2022-06-05 12:34] vasilich6107 commented on #298
Pay attention to this line in example

https://github.com/joanpablo/reactive_forms/blob/master/lib/src/widgets/reactive_checkbox_list_tile.dart#L62

[2022-06-05 19:39] vasilich6107 opened #300 "markAsTouched vs markAsUntouched"
Hi @joanpablo

We have two methods in the model file

`markAsTouched` - https://github.com/joanpablo/reactive_forms/blob/master/lib/src/models/models.dart#L329
`markAsUntouched` - https://github.com/joanpablo/reactive_forms/blob/master/lib/src/models/models.dart#L363

Could you clarify why they have this difference?
https://github.com/joanpablo/reactive_forms/blob/master/lib/src/models/models.dart

[2022-06-05 19:45] vasilich6107 commented on #300
The same relates to `markAsDirty` and `markAsPristine`.
They have the same naming structure but act different.

[2022-06-06 10:20] joanpablo commented on #284
Hi @CripyIce

Any update on this??

[2022-06-06 10:35] joanpablo commented on #278
Hi @MBulli,

I understand that in your specific use case it is nicer to have just 1 line of code:
[code]
instead of 2 lines of code:
[code]

But what if somebody on the contrary wants to mark them as Pristine?
[code]

And what about if somebody wants it to be **touched**?
[code]

But, wait and if somebody wanted as **untouched**?
[code]

And what about the **Focus**?
[code]

And remove the **Focus

[2022-06-06 10:39] joanpablo commented on #300
Hi @vasilich6107,

That's a good question.

We need to find the answer in the [Angular Reactive Forms](https://github.com/angular/angular) project.

[2022-06-08 08:38] #212 closed

[2022-06-11 17:03] krista30 opened #301 "How to convert custom widget to reactive widget with out losing original functionality"
Hi Team,

Thank you for the great library. I have a custom checkbox list which I would want to be converted into a reactive form widget but when I try to follow the leads you had share @vasilich6107 , it seems to lose it's functionality yet the main essence is to be able to capture the ids of the each of the selected options and add it them to an empty list. Some help on how I can do this. I would

[2022-06-11 17:06] krista30 commented on #301
Thank you very much @vasilich6107  for the swift response, this is what I was looking for. Let me try it.

[2022-06-11 17:09] krista30 commented on #301
i think I hadn't understood it properly 😂

[2022-06-11 18:40] MBulli commented on #278
Hi @joanpablo,

sorry for not given a complete example but my focus at work was shifted away from flutter for now.

Yes, a one-liner is temping, given the lean arrow syntax dart allows for lambdas. Plus, I was kinda surprised that the updateValue() method does not mark the field as changed (dirty).

However, I got your point. If my feature request does not fit to the way you want to see your frame

[2022-06-11 18:40] #278 closed

[2022-06-12 05:27] krista30 commented on #301
Hi @vasilich6107 , I have tried to follow the solution that you had provided but still not getting the results I wanted, I can't now select the values hence shows null values being added to the list. This is my snippet. What may I be missing

[code]

[2022-06-14 05:45] #301 closed

[2022-06-20 13:14] krista30 opened #303 "How to retrieve path after submitting Reactive Image Picker"
Hi Team,

How do you retrieve path after submitting Reactive Image Picker and then be able to preview it?

[2022-06-22 15:02] valas69 opened #305 "Cross field validation"
Hi !  I don't find how I can use a validator validating a field according to another field.

For example I have 2 DateTime fields. I want to check if the difference in days between theses date are less than 10.

I didn't find anything related to this in the documentation

[2022-06-23 01:24] talisonfc commented on #305
Did you tried FormGroup validators?

Ex:
[code]

[2022-06-23 06:31] vasilich6107 opened #306 "What do you think about creating ReactiveFormControlListener, ReactiveFormControlBuilder and ReactiveFormControlConsumer?"
Hi.
Managing of field subscriptions in a right way is pretty complicated. Here is an example of managing of subscription in `bloc` lib https://github.com/felangel/bloc/blob/master/packages/flutter_bloc/lib/src/bloc_listener.dart

What do you think about creating a set of widgets in the same concept as `bloc` lib
- ReactiveFormControlListener
- ReactiveFormControlBuilder
- ReactiveFormControlConsum

[2022-06-23 07:56] valas69 commented on #305
It's exactly what I was looking for !

[2022-06-23 07:56] #305 closed

[2022-06-23 11:51] talisonfc commented on #204
How are you trying to do?

I think the best way to update a FormArray is using the value property, because when the value is updated, FormArray will notify your parents. Take a look on code bellow:

[code]

[2022-06-25 16:16] joutvhu opened #307 "[Bug, Overflowed] ReactiveDropdownField overflowed when use big font size"
![processed-49f1e966-e907-4e5f-89f6-82c2568c0bbf_sZEQOCqq](https://user-images.githubusercontent.com/9401202/175781881-0331dfe4-9f51-4daf-9d31-f60a7d84e50c.jpeg)

[2022-06-25 16:53] joutvhu commented on #307
Fix: set `isExpanded: true`

[2022-06-25 16:53] #307 closed

[2022-06-26 03:30] kavienanj opened #308 "Should form.dispose() method need to be called?"
I have `form = FormGroup(...)` as a final variable in my stateless widget `MyFormGroup()`. I provide the form object to the `ReactiveForm(...)` widget in the build method. Will the `ReactiveForm` widget takes care of disposing of the form object or should I turn my stateless widget into a stateful widget so that I can include `form.dispose()` in the `dispose()` method.

[2022-06-26 07:26] kavienanj commented on #308
My biggest concern is the FormGroup dispose method cancels subscriptions made to each form control stream object. It's always recommended to cancel the stream subscriptions at the end right to protect from memory leaks? Does the documentation mention anything about this?

[2022-06-27 06:02] ipcjs commented on #190
#309 Maybe solving your problem?

[2022-06-29 03:59] ChiPhanTlm commented on #306
It would be nice to have one of these instead of listen to the stream manually.
It can work like BlocListener

[2022-07-01 11:08] lyba-alphai opened #310 "Working with Objects on ReactiveTextField and ReactiveFormField"
Hi. I am having a little trouble in managing below scenerio:

1. I have a class named Query that has one member selectedValue. I want to bind this query.selected value to ReactiveFormField but when I try to do this I get error that Query is not a subtype of String.

2. In second case I want to bind the query to ReactiveFormField that code is commented in the attached picture but then I do not unde

[2022-07-01 13:12] shabanov-krl opened #311 "Validation message for all validators"
please, add validationMessage parametr for all validators, like as pattern validator

[2022-07-04 12:26] lyba-alphai commented on #310
I was able to bind required data using ReactiveFormField and using made a custom ReactiveWidget. But now I am not sure how do I validate it. I am trying to make a custom Validator for that Widget.

The validator must check control.value.query[i].selectedValue != "". When I bind this validator and try to send empty data it does make the control invalid but the validation message is never shown. I h

[2022-07-05 14:10] lyba-alphai commented on #310
@vasilich6107  I have changed a few things but still I have to use `ReactiveValueListenableBuilder` instead of the control automatically handling the validation messages and show on UI. Or am I intercepting ReactiveFormField's functionality wrong?

 This is my model now.

[code]
Query List
[code]
This is my form group
[code]

This is what I am trying to do
[code]

[2022-07-05 21:29] Ch4rl3B opened #312 "Custom Reactive Widgets documentation on Wiki is not updated"
[Documentation](https://github.com/joanpablo/reactive_forms/wiki/Custom-Reactive-Widgets) is not updated with the latest changes.

For example in the documentation:
[code]

should be:
[code]

[2022-07-07 10:29] joanpablo commented on #303
Hi @krista30,

As @vasilich6107 mentioned it would be nice if you post the question in the https://pub.dev/packages/reactive_image_picker repo.

@vasilich6107 if you want you can answer the question in that other repo and post the link to the response here.

Best regards to both.

[2022-07-07 13:08] joanpablo commented on #271
Hi @CharlVS,

The [Custom Reactive Widget](https://github.com/joanpablo/reactive_forms/wiki/Custom-Reactive-Widgets) documentation has been updated.

Please let me know if you find any other outdated documentation.

[2022-07-07 13:08] #271 closed

[2022-07-07 13:25] joanpablo commented on #310
Hi @lyba-alphai,

Is your parent Widget a Stateless or Stateful widget? I mean the Widget that contains all that logic and declaration of the FormGroup....?

[2022-07-07 17:20] joanpablo commented on #306
Hi @vasilich6107

Do you have an example of how this new implementation is better than the current implementation? I would like to have a use case implemented with both   variants, so I can really understand where is the different.

Thanks in advance

[2022-07-09 12:40] 538023 opened #313 "[feature request] stepper form"
It would be cool if it has some kind of wizard form.
Of course you can rely on the native stepper here, but a built-in one with automatic validation to get to the next page would be really handy.
So a ReactiveStepperForm.

[2022-07-11 10:50] joanpablo commented on #306
Regarding the feature about getting the **actual** and **current** values of a *Control* int this [thread](https://github.com/joanpablo/reactive_forms/issues/237) we discuss how to implement this behavior using Reactive Forms and [rxdart](https://pub.dev/packages/rxdart). Of course, if it is the desire of the community we could improve our Listenable builders to contain previous values as well.

[2022-07-11 19:55] joanpablo commented on #277
Closing this issue because no updates received.

[2022-07-11 19:55] #277 closed

[2022-07-11 19:56] #268 closed

[2022-07-11 19:57] joanpablo commented on #287
Closing this issue because we haven't received any update on it.

[2022-07-11 19:57] #287 closed

[2022-07-11 19:58] joanpablo commented on #284
Closing the issue because we don't have any update on it

[2022-07-11 19:58] #284 closed

[2022-07-11 20:15] joanpablo commented on #266
Hi @naamapps,

Sorry the late answare. I guess that you already have solve the issue because we have not hear any update from you.

Regarding the **dispose** method on AbstractControl, it is up to you to decide when to call it. The method basically clear all subscriptions:

[code]

All Reactive widgets unsubscribe from Controls when they are disposed of. So no need to directly call the dispose met

[2022-07-11 20:15] #266 closed

[2022-07-11 20:16] #265 closed

[2022-07-11 20:17] joanpablo commented on #230
Hi @carmas123

We are closing the issue due to a lack of updates on it. I hope you have solved your issue.

[2022-07-11 20:17] #230 closed

[2022-07-11 20:32] joanpablo commented on #214
Hi @savandev17,

I'm closing the issue because of a lack of update on it. I hope you have solved your issue, don't hesitate to reopen it or create a new one.

[2022-07-11 20:32] #214 closed

[2022-07-11 20:46] joanpablo commented on #208
Hi @kuhnroyal @vasilich6107

What if we modify the method **showErrors** to something like:

[code]

so you will decide for each error if you should show it or not.

looking forward to hear from you

[2022-07-11 20:53] joanpablo commented on #308
Hi @kavienanj,

It is up to you to call the **dispose()** on an **AbstractControl** (FormGroup, FormControl, FormArray).

The dispose method in an AbstractControl basically removes all stream subscriptions.

All Reactive widgets like for example **ReactiveValueListenableBuilder** and **ReactiveStatusListenableBuilder** unsubscribe from the corresponding Streams so no need to directly call the disp

[2022-07-11 21:12] joanpablo commented on #275
Hi @jasonlaw,

So you want to hide all errors in the UI, and only show them after the user clicks on the Submit method?

[2022-07-11 21:15] joanpablo commented on #275
Are you using a State Management Library or just declaring the FormGroup inside a Stateful widget?

[2022-07-11 23:46] jasonlaw commented on #275
Yes

[2022-07-11 23:47] jasonlaw commented on #275
I am using GetX.

[2022-07-12 10:54] joanpablo commented on #275
Hi @jasonlaw,

The idea is to suppress validation of FormGroup and FormControls or...
that they can still validate as valid or invalid but only hide error messages from the UI until the Submit button clicked?

[2022-07-12 11:01] joanpablo commented on #275
don't you like the idea of using **showErrors** and a *flag* in your Controller like *formSubmitAttempt* to manage the show/hide errors? Something like:

[code]

and in Submit button you set True or False to the flag *formSubmitAttempt*

Have you tried this?

What other idea do you propose?

[2022-07-12 11:15] kuhnroyal commented on #208
That sounds good, but also think that the message in the map should be nullable for the easy use cases.

[2022-07-12 12:03] joanpablo commented on #208
@kuhnroyal @vasilich6107 @naamapps

Yes, I understand that the easy way could be just to define the method to return a String? instead of a String.

But what if the developer makes a mistake and is setting the error message to **null** by accident and not intentionally? The program will run successfully but the error message will never show up, the compiler will not alert the developer.

What do y

[2022-07-12 12:13] naamapps commented on #208
As you said, there are 2 ways to look at this.
In my perspective, this should be considered a feature and not a bug.
Null means non-existent, so when an error message is null, the way I interpret it, there is no error message for the specific error key - which means the UI won't have a message to show when the error exists on the form control.

I, as a developer, always tests the UI **manually** w

[2022-07-12 12:18] kuhnroyal commented on #208
I don't see this as an issue. `null` is not evil, it makes sense to be used here. I mean what if the developer forgets to add the custom validator key to the map, the warning won't show up and the compiler will not alert the developer.

[2022-07-12 12:28] joanpablo commented on #208
Thanks, @naamapps for your quick response, I got your point.

It is just that I'm wondering if it is the right decision or not. I know that in an ideal world each developer should implement a UI test for testing all error messages.

My concern is that we know that a lot of developer don't implement to many tests, at least not to Forms. Many times developers test only manually once, but if the erro

[2022-07-12 12:35] joanpablo commented on #208
I'm also working right now on a Global Settings for ReactiveForm in which you can define ValidationMessages for all Reactive Widgets globally, at **ReactiveForm** level but also at **MainApplication** level.

Right now I only have included the **validationMessages** but maybe we can include the **showError** as well.

Another question I would like to do to @kuhnroyal @vasilich6107 @naamapps is the

[2022-07-12 12:40] joanpablo commented on #208
If the developer forgets to add the Validator key to the map, the UI Widget will still be showing something (the error key), maybe not a human (simple user) readable text, but at least something.

[2022-07-12 12:41] joanpablo commented on #208
What do you think @vasilich6107 about returning `String?` instead of `String`.

[2022-07-12 13:24] joanpablo commented on #306
Hi @vasilich6107

I have seen that you have recently modified the implementation of your `ReactiveFormControlValueListener`, you have included a `ReactiveFormControlValueBuilder`. I understand that it is a prototype and still a work in progress.

But right now I see two widgets with a lot of duplicated code (both widgets do a lot of common stuff) the only difference is that one uses some kind of c

[2022-07-12 16:29] joanpablo commented on #306
Thanks for your comments @vasilich6107 they are very important to me.
 I got your point. Anyway I will implement the

[code]
but first I will test if it really solves the issue of the imperative and declarative stuff (I'm not sure yet, but based on your comments it seems to work). That way if you or any other developer want to use it they can do it.

[2022-07-13 01:09] jasonlaw commented on #275
Hi @joanpablo ,

I have tested with the suggested solution but it is not working, please refer to the video below.

![showErrors](https://user-images.githubusercontent.com/107820/178625361-447aa9f8-2dbd-46e1-9009-ed6b05a4f0cf.gif)

[code]
![showErrors2](https://user-images.githubusercontent.com/107820/178626843-5ac581d3-fc7c-4a5d-a5f3-6438ef9eabef.gif)

Nevertheless, it would be too tedious to ove

[2022-07-13 02:22] kavienanj commented on #308
Thanks for the valuable information @joanpablo and @vasilich6107. And thank you for this amazing package!.

[2022-07-13 02:22] #308 closed

[2022-07-13 07:24] joanpablo commented on #275
Hi @jasonlaw

thanks for sharing the screens. I cannot see your full implementation only a small portion of your code but I believe you are not rebuilding the ReactiveTextFields after clicking the Submit form.

You need to tell the ReactiveTextFields that they need to rebuild again in order to Draw the Red borders and the Error Message.

Below is a simple implementation using a StatefulWidget (wit

[2022-07-13 07:28] joanpablo commented on #275
I have used a StatefulWidget and ReactiveFormBuilder for simplicity. You don't need to do the same in order to get the same result. You can just use your state management library and a normal ReactiveForm. But remember to rebuild ReactiveTextFields when you set `formSubmitAttempt ` to `true`.

[2022-07-13 07:37] joanpablo commented on #208
Hi @naamapps,

In the current implementation of Reactive Forms, setting an the validation message to a Reactive Widget not only show the Error Message in the UI (below the widget) but also highlight in Red (depending on the theme) the widget to give a visual clue that something is wrong with that field.

If you set it to `null` the validation message of the widget, you not only will hide the error

[2022-07-13 07:41] naamapps commented on #208
Hey @joanpablo,
The highlights should still be visible when the validation message is null.
Setting validation message to null should only affect the validation messages..
If the developer doesn't want to show the highlight then he can edit the input decoration properties.